$white: #FAFFFD;
$black: #2D2D2D;

$gray: #606060;
$gray-light: lighten($gray, 50%);
$gray-dark: darken($gray, 20%);

$yellow: #F4E066;
$yellow-light: #F4E066;
$red: #E2584C;
$green: #5f9556;
$blue: #557A8E;
$blue-light: #CFDDD9;

$bkg: #EBEBEB;
$bkg-gradient: #211F1F;

@mixin yellowSection {
    width: 100%;
    height: 100vh;
    background: $yellow;
    color: $black;
    display: table;

    .content {
        display: table-cell;
        vertical-align: middle;
    }
}

@mixin blackSection {
    width: 100%;
    height: 100vh;
    background: $black;
    color: $white;
    display: table;

    .content {
        display: table-cell;
        vertical-align: middle;
    }
}

@mixin darkSection {
    width: 100%;
    height: 100vh;
    background: $gray;
    color: $white;
    display: table;

    .content {
        display: table-cell;
        vertical-align: middle;
    }
}

@mixin lightSection {
    width: 100%;
    height: 100vh;
    background: $bkg;
    color: $black;
    display: table;

    .content {
        display: table-cell;
        vertical-align: middle;
    }
}

@mixin greenSection {
    width: 100%;
    height: 100vh;
    background: $green;
    color: $white;
    display: table;

    .content {
        display: table-cell;
        vertical-align: middle;
    }
}

@mixin redSection {
    width: 100%;
    height: 100vh;
    background: $red;
    color: $white;
    display: table;

    .content {
        display: table-cell;
        vertical-align: middle;
    }
}

@mixin blueSection {
    width: 100%;
    height: 100vh;
    background: $blue;
    color: $white;
    display: table;

    .content {
        display: table-cell;
        vertical-align: middle;
    }
}

