/**
 * @license
 * MyFonts Webfont Build ID 3207030, 2016-04-20T14:42:40-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3207030
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright &#x00A9; 2014 by Mattox Shuler. All rights reserved.
 * 
 * © 2016 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/30ef76");

// @font-face {font-family: 'Industry-Black';src: url('webfonts/30EF76_0_0.eot');src: url('webfonts/30EF76_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_0_0.woff2') format('woff2'),url('webfonts/30EF76_0_0.woff') format('woff'),url('webfonts/30EF76_0_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-BookItalic';src: url('webfonts/30EF76_1_0.eot');src: url('webfonts/30EF76_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_1_0.woff2') format('woff2'),url('webfonts/30EF76_1_0.woff') format('woff'),url('webfonts/30EF76_1_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-Book';src: url('webfonts/30EF76_2_0.eot');src: url('webfonts/30EF76_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_2_0.woff2') format('woff2'),url('webfonts/30EF76_2_0.woff') format('woff'),url('webfonts/30EF76_2_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-Bold';src: url('../type/30EF76_3_0.eot');src: url('../type/30EF76_3_0.eot?#iefix') format('embedded-opentype'),url('../type/30EF76_3_0.woff2') format('woff2'),url('../type/30EF76_3_0.woff') format('woff'),url('../type/30EF76_3_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-BoldItalic';src: url('../type/30EF76_4_0.eot');src: url('../type/30EF76_4_0.eot?#iefix') format('embedded-opentype'),url('../type/30EF76_4_0.woff2') format('woff2'),url('../type/30EF76_4_0.woff') format('woff'),url('../type/30EF76_4_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-BlackItalic';src: url('webfonts/30EF76_5_0.eot');src: url('webfonts/30EF76_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_5_0.woff2') format('woff2'),url('webfonts/30EF76_5_0.woff') format('woff'),url('webfonts/30EF76_5_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-DemiItalic';src: url('webfonts/30EF76_6_0.eot');src: url('webfonts/30EF76_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_6_0.woff2') format('woff2'),url('webfonts/30EF76_6_0.woff') format('woff'),url('webfonts/30EF76_6_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-Demi';src: url('webfonts/30EF76_7_0.eot');src: url('webfonts/30EF76_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_7_0.woff2') format('woff2'),url('webfonts/30EF76_7_0.woff') format('woff'),url('webfonts/30EF76_7_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-LightItalic';src: url('webfonts/30EF76_8_0.eot');src: url('webfonts/30EF76_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_8_0.woff2') format('woff2'),url('webfonts/30EF76_8_0.woff') format('woff'),url('webfonts/30EF76_8_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-Light';src: url('webfonts/30EF76_9_0.eot');src: url('webfonts/30EF76_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_9_0.woff2') format('woff2'),url('webfonts/30EF76_9_0.woff') format('woff'),url('webfonts/30EF76_9_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-MediumItalic';src: url('webfonts/30EF76_A_0.eot');src: url('webfonts/30EF76_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_A_0.woff2') format('woff2'),url('webfonts/30EF76_A_0.woff') format('woff'),url('webfonts/30EF76_A_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-Medium';src: url('webfonts/30EF76_B_0.eot');src: url('webfonts/30EF76_B_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_B_0.woff2') format('woff2'),url('webfonts/30EF76_B_0.woff') format('woff'),url('webfonts/30EF76_B_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-ThinItalic';src: url('webfonts/30EF76_C_0.eot');src: url('webfonts/30EF76_C_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_C_0.woff2') format('woff2'),url('webfonts/30EF76_C_0.woff') format('woff'),url('webfonts/30EF76_C_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-Thin';src: url('webfonts/30EF76_D_0.eot');src: url('webfonts/30EF76_D_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_D_0.woff2') format('woff2'),url('webfonts/30EF76_D_0.woff') format('woff'),url('webfonts/30EF76_D_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-UltraItalic';src: url('webfonts/30EF76_E_0.eot');src: url('webfonts/30EF76_E_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_E_0.woff2') format('woff2'),url('webfonts/30EF76_E_0.woff') format('woff'),url('webfonts/30EF76_E_0.ttf') format('truetype');}
// @font-face {font-family: 'Industry-Ultra';src: url('webfonts/30EF76_F_0.eot');src: url('webfonts/30EF76_F_0.eot?#iefix') format('embedded-opentype'),url('webfonts/30EF76_F_0.woff2') format('woff2'),url('webfonts/30EF76_F_0.woff') format('woff'),url('webfonts/30EF76_F_0.ttf') format('truetype');}

