html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin:0;
    padding:0;
}

