// pull in all custom typefaces here
// edit global fonts and sizes etc. in _settings.scss

// gt pt sans via google
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|PT+Sans+Narrow:400,700);
$body: 'PT Sans', Arial, Helvetica, sans-serif;
$bodySlim: 'PT Sans Narrow', Arial, Helvetica, sans-serif;

// industry @font-face
@import "industry";
$display: 'Industry-Bold', $body, sans-serif;
