---
layout: feedback
title: Simulation Feedback
type: Appraisal Simulation
s1: true
---

<!-- <div id="goBack">
    <button class="go-back">
        <i class="fi-arrow-left"></i>
    </button>
</div> -->

<div id="s1Feedback" class="feedback">
    <div class="row">
        <div class="large-10 large-centered columns">
            <div class="content">
                <h1>Feedback</h1>
                <div class="row">
                    <div class="medium-12 columns">
                        <div id="feedback-video"></div>
                    </div>
                </div>
                <div class="passed" style="display:none">
                    <div class="row">
                        <div class="large-12 columns">
                            <p class="lead">Congratulations! You have passed Simulation 1. Good job!</p>
                        </div>
                    </div>
                </div>
                <div class="message"></div>
                <p><a href="{{root}}s1/solution.html" class="small secondary button" target="_self">View the Appraisal Solution</a></p>
                <div class="row">
                    <div class="large-12 columns">
                        <p class="ls-fail"><strong>Based on your performance we have determined you should pay special attention to these learning sections:</strong></p> 
                        <p class="ls-pass" style="display:none">Before proceeding to the Final Simulation, we would like you to view the following learning sections:</p>
                        <div class="sections"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 text-center columns">
                        <a class="large secondary hollow button" href="http://www.theeliteappraiser.com/course/view.php?id=2">continue</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

