    <style>
    /* Use CSS to make the iframe fill the parent frame, 
       giving impression no frames are being used */
    body { padding: 0; margin: 0; overflow: hidden; }
    iframe { position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: auto; }
    </style>
  </head>
  <body>
    <iframe src="" id="course-content" frameborder="0" width="100%" height="100%"></iframe>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="../SCORM_API_wrapper.js"></script>
    <script>
scormInit();


var pageArray = new Array(9);
    
    pageArray[0] = "introduction.html";
    pageArray[1] = "feedback.html";
    pageArray[2] = "introduction.html";
    pageArray[3] = "mls.html";
    pageArray[4] = "property-tour.html";
    pageArray[5] = "solution.html";
    pageArray[6] = "mls.html";
    pageArray[7] = "mls.html";
    pageArray[8] = "worksheet.html";
    
  var bookmark = scormGetPage();
        
        //if there isn't a stored bookmark, start the user at the first page
        if (bookmark == ""){
            currentPage = 0;
        }
        else{
            //if there is a stored bookmark, prompt the user to resume from the previous location
            if (confirm("Would you like to resume from where you previously left off?")){
                currentPage = parseInt(bookmark, 10);
            }
            else{
                currentPage = 0;
            }
        }
        
        goToPage();
    
    
    function goToPage(){
    
        var theIframe = document.getElementById("course-content");
        
        //navigate the iFrame to the content
        theIframe.src = pageArray[currentPage];
        
    }
    </script>
  </body>
</html>


