---
title: Simulation Introduction
type: Appraisal Simulation
s1: false
introduction: true
---

<div id="s1-intro">
    <div class="row">
        <div class="large-12 columns">
            <div class="content">
                <h1>{{title}}</h1>
                <div class="row">
                    <div class="medium-12 columns">
                        <div id="simulation-tutorial"></div>
                    </div>
                </div>
                <p>Welcome to your first high-end home appraisal simulation! Our subject property is located on Red River Trail in the Wooden Horse subdivision of Collinswood, a glamorous fictional city created with very real data.</p>
                <p>As you well know, each high-end appraisal is unique, which can make them difficult to complete. The purpose of this simulation is for you to demonstrate that you can identify the significant features of the subject, analyze the market, select appropriate comparables, determine appropriate adjustments, and provide a value.</p>
                <p>For the purpose of this simulation, we have provided the quality and condition ratings for you. You will need to select a minimum of three comparable sales in this simulation.</p>
                <p>The simulation has no time limit and you will be able to save your progress at any time. Plan on giving yourself enough time to complete the simulation. Most appraisers complete the simulation in 45 minutes to 1 hour.</p>
                <p>To help you sort and analyze the data for your appraisal, we have created an advanced MLS tool. Please download this guide to using the tool.</p>
                <a class="small secondary button" href="{{root}}assets/docs/tools/MLS-Handout.pdf" download="MLS-Handout.pdf" target="_blank"><i class="fi-download"></i> &nbsp; Download the MLS Guide</a>
                <p>Good luck!</p>
                <p class="text-center">
                    <a href="property-tour.html" class="large primary button">Let's Go</a>
                </p>
            </div>
        </div>
    </div>
</div>

