---
layout: mls
title: Simulation MLS
type: Appraisal Simulation
s1: true
---

<div id="mlsToolbar" style="display:block">
    <div id="controls" class="sortingControls">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-4">
                    <label>Sale Date</label>
                    <div class="input-group input-daterange">
                        <input type="text" class="form-control" id="datepicker" placeholder="01/06/2014">
                        <span class="input-group-addon">to</span>
                        <input type="text" class="form-control" id="datepicker1" placeholder="03/02/2016">
                    </div>
                    <label>Market Area</label>
                    <select class="selectpicker market form-control input-sm" multiple data-live-search="true">
                        <option>Cedar Creek</option>
                        <option>Evergreen Meadow</option>
                        <option>Pine Bluff</option>
                        <option>Redwood Hills</option>
                        <option>Spruce Grove</option>
                        <option>Wooden Horse Valley</option>
                    </select>
                    <br>
                    <label>Status</label>
                    <select class="selectpicker status form-control input-sm" multiple data-live-search="true">
                        <option>ACTV</option>
                        <option>PEND</option>
                        <option>SLD</option>
                    </select>
                    <br>
                    <label for="DataTables_Table_0_filter">Search Additional Property Features</label>
                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                        <input type="search" class="form-control" id="globalFilter" placeholder="Just start typing..." ng-model="searchText" ng-change="searchTable()" aria-controls="Search the MLS">
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="sliders">
                        <label>GLA</label>
                        <input id="glaSlider" type="text" class="span12" value="" data-slider-min="1000" data-slider-max="15000" data-slider-step="500" data-slider-value="[1000,15000]" data-slider-focus="true"/>
                        <label>Lot Size Sq. Ft.</label>
                        <input id="siteSlider" type="text" class="span12" value="" data-slider-min="5000" data-slider-max="250000" data-slider-step="5000" data-slider-value="[5000,250000]"/>
                        <label>Beds</label>
                        <input id="bedsSlider" type="text" class="span12" value="" data-slider-min="3" data-slider-max="10" data-slider-step="1" data-slider-value="[3,10]"/>
                        <label>Year Built</label>
                        <input id="yearSlider" type="text" class="span12" value="" data-slider-min="1920" data-slider-max="2016" data-slider-step="1" data-slider-value="[1920,2016]"/>
                        <div id="resetAndMap">
                            <button type="button" id="butReset" class="btn justified btn-default"><span class="glyphicon glyphicon-refresh" aria-  hidden="true"></span> Reset All</button>
                            <button type="button" id="viewMap" class="btn btn-primary" data-toggle="modal" data-target="#mapModal"><span class="glyphicon glyphicon-map-marker"></span> View Neighborhood Map</button>
                        </div> 
                    </div>
                </div>
                <div class="col-md-5">
                    <label>Property Characteristics - Sold Status Records Only</label>
                    <table id="propertyCharacteristics" class="table table-bordered table-condensed">
                        <thead style="border:0">
                            <tr>
                                <th>Details</th>
                                <th>Subject</th>
                                <th>Low</th>
                                <th>Median</th>
                                <th>High</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Sale Price</th>
                                <th></th>
                                <th id="salelow">$0</th>
                                <th id="salemed">$0</th>
                                <th id="salehigh">$0</th>
                            </tr>
                            <tr>
                                <th>GLA</th>
                                <th>6,556</th>
                                <th id="glalow">...</th>
                                <th id="glamed">...</th>
                                <th id="glahigh">...</th>
                            </tr>
                            <tr>
                                <th>Beds</th>
                                <th>5</th>
                                <th id="bedslow">...</th>
                                <th id="bedsmed">...</th>
                                <th id="bedshigh">...</th>
                            </tr>
                            <tr>
                                <th>Lot Size</th>
                                <th>133,729</th>
                                <th id="bathslow">...</th>
                                <th id="bathsmed">...</th>
                                <th id="bathshigh">...</th>
                            </tr>
                            <tr>
                                <th>Year Built</th>
                                <th>2002</th>
                                <th id="yearlow">...</th>
                                <th id="yearmed">...</th>
                                <th id="yearhigh">...</th>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" id="viewComparisonData" class="btn btn-warning" disabled><span class="glyphicon glyphicon-stats"></span> Display Comparison Data</button>
                    <button type="button" id="viewSavedData" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> View Saved Data</button>
                    <button type="button" id="viewOverviewVideo" class="btn btn-default"><span class="glyphicon glyphicon-play"></span> Overview</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dataTable" style="display:block">
    <table id="mlsData" class="table table-bordered table-striped" width="99%">
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-plus" id="propertyDetails" data-toggle="tooltip" data-placement="right" title="Property Details"></span></th>
                <th><input type="checkbox" id="checkall" data-toggle="tooltip" data-placement="right" title="Select All Properties"></th>
                <th>Status</th>
                <th>St No</th>
                <th>St Name</th>
                <th>Sale Date</th>
                <th>Sold $</th>
                <th>List $</th>
                <th>List Date</th>
                <th>GLA</th>
                <th>Yr Blt</th>
                <th>Lot Size</th>
                <th>BD</th>
                <th>BA</th>
                <th>View</th>
                <th>Area</th>
                <th class="none">Style</th>
                <th class="none">Quality</th>
                <th class="none">Condition</th>
                <th class="none">Garage</th>
                <th class="none">Additional Property Features</th>
            </tr>
        </thead>
    </table>
</div>

<div class="container-fluid" id="detailsView" style="display: none">
    <div class="row">
        <div class="large-12 columns">
            <div id="propertyCountDetail"></div>
            <ul class="pull-right" id="nav-right">
                <li><a class="saveForGroupedDataAnalysis" href="#groupedData" data-toggle="tab"><span class="glyphicon glyphicon-save"></span> Save for Grouped Data Analysis</a></li>
                <li><a class="returnBack" href="javascript:void(0)"><span class="glyphicon glyphicon-arrow-left"></span> Go Back</a></li>
            </ul>
            <ul class="nav nav-tabs" id="dataDetails" role="tablist">
                <li role="presentation" class="active" id="selectedPropertiesTab"><a href="#selectedProperties" aria-controls="selected properties" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> <span>Selected</span> Properties</a></li>
                <li role="presentation"><a href="#benchmarkingGraph" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-stats"></span> <span>Benchmarking</span> Graph</a></li>
                <li role="presentation"><a href="#benchmarkingData" aria-controls="messages" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> <span>Benchmarking</span> Data</a></li>
                <li role="presentation" id="groupedDataTab"><a href="#groupedData" aria-controls="grouped data" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th"></span> <span>Grouped</span> Data</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="selectedProperties">
                    <div class="container-fluid" id="selectedPropertiesDetail"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="benchmarkingGraph">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 columns">
                            <div class="notewarning"></div>
                        </div>
                    </div>
                    <div id="monthView">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default active" href="#" id="graphOneMonth">One Month</button>
                            <button type="button" class="btn btn-default" href="#" id="graphTwoMonth">Two Months</button>
                            <button type="button" class="btn btn-default" href="#" id="graphThreeMonth">Three Months</button>
                        </div>
                    </div>
                    <div id="highChartsContainer">
                        <div id="benchmarkingGraphDetail" style="width: 92%;"></div>
                        <div id="benchmarkingGraphDetail2" style="width: 92%;" style="display: none;"></div>
                        <div id="benchmarkingGraphDetail3" style="width: 92%;" style="display: none;"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="benchmarkingData">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 columns">
                            <div class="notewarning"></div>
                        </div>
                    </div>
                    <div class="container-fluid" id="benchmarkingDataTable">
                        <div class="row">
                            <div class="col-md-4" id="divMonthSaleCount">
                                <h3 class="text-center">One Month</h3>
                                <table id="tblMonthSaleCount" class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Month</th>
                                            <th>Sales Count</th>
                                            <th>Median Value</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-md-4" id="divTwoMonthSaleCount">
                                <h3 class="text-center">Two Months</h3>
                                <table id="tblTwoMonthSaleCount" class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Months</th>
                                            <th>Sales Count</th>
                                            <th>Median Value</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-md-4" id="divThreeMonthSaleCount">
                                <h3 class="text-center">Three Months</h3>
                                <table id="tblThreeMonthSaleCount" class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Months</th>
                                            <th>Sales Count</th>
                                            <th>Median Value</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- grouped data -->
                <div role="tabpanel" class="tab-pane" id="groupedData">
                    <div class="container-fluid" id="groupedDataContainer">
                        <div id="storageWarning"></div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <label>Save current collection for grouped data analysis:</label>
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">Group Name:</span>
                                            <input type="text" class="form-control" id="txtGroupedDataName" name="filename" placeholder="E.g. All homes in Wooden Horse Valley" required> 
                                            <span class="input-group-btn">
                                                <button type="button" id="btnGroupedDataSave" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>&nbsp;</label>
                                        <button type="button" id="btnGroupedDataDeleteAll" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete All</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2>Saved Groups</h2>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" id="groupedDataDetail"></div>
                </div>
                <!-- /grouped data -->    
            </div>
        </div>
    </div>
</div>

<!-- Map Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="{{root}}assets/img/mls/cwood-map.jpg" alt="Map showing Collinswood’s neighborhoods and terrain. The Triton Ocean forms Collinswood’s eastern border, with the Mount Columbia Ridge and Evergreen Meadow to the west. A mountain range forms Collinswood’s northern border, with wetlands to the south.">
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="{{root}}assets/img/mls/cwood-map.jpg" download="cwood-map.jpg" class="btn btn-primary left" target="_blank">
                    <span class="glyphicon glyphicon-download"></span> Download
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Overview Video Modal -->
<div class="modal fade" id="overviewModal" tabindex="-1" role="dialog" aria-labelledby="overviewModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="mls-overview-tutorial"></div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

