---
title: Red River Trail
type: Appraisal Simulation
s1: true
solution: true
---

<div id="goBack">
    <button class="go-back">
        <i class="fi-arrow-left"></i>
    </button>
</div>

<div id="s1-solution" class="solution">
    <div class="row">
        <div class="large-12 text-center columns">
            <h1>Solution <small>{{title}}</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="iframe-wrapper">
                <div class="iframeOne">
                    <embed src="{{root}}assets/docs/solutions/s1/solution.pdf" width="100%" height="580" type='application/pdf'>
                </div>
            </div>
       </div>
    </div>
</div>
 
