html, body {
    position: relative;
    height: 100%;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: $bkg;
}

.off-canvas-wrapper, .off-canvas-inner, .off-canvas-wrapper-inner {
    width: 100%;
    height: 100%;
    margin: 0;
}

img, video, audio {
    max-width: 100%;
}

// force iPad landscape orientation
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    body {
        -webkit-transform: rotate(90deg);
    }
}

