#helpOverlay {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.65);
}

#whatNow {
    display: none;
    opacity: 0;
    @include size(429px 380px);
    background: transparent url('../img/help-overlay/help-bubble.png') center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 50px;
    right: 17%;
    z-index: 999;
}

#interact {
    display: none;
    opacity: 0;
    @include size(143px 100px);
    background: transparent url('../img/help-overlay/help-mls.png') center center no-repeat;
    background-size: contain;
    position: absolute;
    top: -120px;
    left: -19px;
    z-index: 999;
}

#fillOut {
    display: none;
    opacity: 0;
    @include size(143px 126px);
    background: transparent url('../img/help-overlay/help-worksheet.png') center center no-repeat;
    background-size: contain;
    position: absolute;
    top: -147px;
    left: 5px;
    z-index: 999;
}

#tour {
    display: none;
    opacity: 0;
    @include size(98px 163px);
    background: transparent url('../img/help-overlay/help-tour.png') center center no-repeat;
    background-size: contain;
    position: absolute;
    top: -185px;
    left: 43px;
    z-index: 999;
}

#downloads {
    display: none;
    opacity: 0;
    @include size(182px 128px);
    background: transparent url('../img/help-overlay/help-downloads.png') center center no-repeat;
    background-size: contain;
    position: absolute;
    top: -150px;
    left: -18px;
    z-index: 999;
}

#getSupport {
    display: none;
    opacity: 0;
    @include size(138px 84px);
    background: transparent url('../img/help-overlay/help-help.png') center center no-repeat;
    background-size: contain;
    position: absolute;
    top: -101px;
    left: -3px;
    z-index: 999;

}

#gotIt {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 999;
    left: 15%;
    top: 50%;
    @include transform(translateY(-50%));

    .button {
        color: $white;
        font-size: 2rem;
        padding: 1.5rem 3rem;
        background: rgba($black, 0.7);
        border-color: $white;
        border-width: 2px;
        border-radius: 7px;

        &:hover {
            background: rgba($yellow, 0.7);
        }
    }
}

