#toolbar {
    position: fixed;
    z-index: 1000;
    bottom: 0.5rem;
    right: 1rem;
    width: 75%;

    #toggleMenu {
        position: absolute;
        z-index: 100;
        bottom: 0;
        right: 0;
        background: $red;
        color: $white;
        border: none;
        @include size(65px 65px);
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        
        img {
            @include size(30px 30px);
        }
        &:active {
            img {
                @include transform(scale(0.8));
            }
        }
    }
    #menuItems {
        display: none;
        width: auto;
        height: 65px;
        @include border-left-radius(50px);
        position: absolute;
        z-index: 10;
        top: -65px;
        right: 2rem;
        background: $red;

        &.open {
            display: block;
        }

        > li {
            width: auto;
            float: right;
            text-align: center;
            margin: 0.6rem 0;
            border-right: 1px solid rgba($black, 0.25);

            &:first-child {
                border-right: none;
            }
            > a {
                padding: 0.8rem 1.5rem;
                color: $white;
                font-size: 0.9rem;
                font-weight: 400;

                @media only screen and (max-width : 1060px) {
                    padding: 0.8rem 0.75rem;
                }
            }
            &:hover {
                @include transition(0.25s);
                padding: 0;

                a:after {
                    border-right: 1px solid $white;
                }
            }
            &:first-child {
                padding-right: 1rem;
            }
            &:last-child {
                margin-left: 1rem;
            }
            &.has-tip {
                border-bottom: none;
                font-weight: normal;
                cursor: default;
            }
        }
    }
}

.dropdown-pane.is-open {
    margin-top: -36px;
    background: $bkg;

    &.s2 {
        margin-top: -24px;
    }
    ul {
        list-style: none;
        margin-left: 0;

        li {
            width: 100%;
            float: none !important;
            text-align: left;
            font-size: 0.8rem;
            margin: 0;
            padding: 0.5rem;

            a {
                color: $black;
            }
            &:hover {
                background: $gray-light;
            }
        }
        hr {
            margin: 0.5rem 0;
        }
    }
}

.tooltip {
    z-index: 1000;
    top: -2rem;
}

