@mixin introSection {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: $yellow;
    background-repeat: no-repeat;
    background-position-x: -170px;
    background-position-y: 13px;

    .learning-section-number {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .in-this-section {
        margin-left: 2rem;
    }

    h1 {
       font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    li {
        font-weight: bold;
    }
}

@mixin circleShape { 
    margin: 1rem; 

    img { 
        width: 33%;
        height: auto;
        min-width: 150px;
        float: left;
        margin-right: 5rem; 
        border-radius: 50%;
        // -webkit-shape-outside:circle();
        // shape-outside:circle();
    }
    p {
        //margin-left: 28%;
        overflow:hidden;
    }
}
.circle-shape {
    @include circleShape;
}

// aspect ratio
@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// scrollDown arrow
@include keyframes (scrollDown) {
    0% {
        @include transform(rotate(-45deg) translate(0, 0));
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        @include transform(rotate(-45deg) translate(-20px, 20px));
        opacity: 0;
    }
}

.scrollDown {
    position: absolute;
    z-index: 2;
    bottom: 88px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid $black;
    border-bottom: 1px solid $black;
    box-sizing: border-box;
    @include transform(rotate(-45deg));
    @include animation(scrollDown 2s infinite);

    &:after {
        content: '';
        position: absolute;
        text-align: center;
        font-weight: 100;
        bottom: -50px;
        left: 50%;
        width: 100px;
        margin-left: -75px;
        @include transform(rotate(45deg));
    }
}

@mixin intro {
    display: table;
    width: 100%;
    height: 100vh;
    padding-top: 5%;

    .content {
        display: table-cell;
        vertical-align: middle;
        background-color: rgba($white, 0.9);
        padding: 2rem 3rem 1rem 3rem;
        overflow-y: scroll;
        &::-webkit-scrollbar { 
            display: none;
            width: 0 !important; 
        }
        ::-webkit-scrollbar { 
            display: none;
            width: 0 !important; 
        }
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }
}

// keyframe for arrow animation on ls footer
@include keyframes (scrollRight) {
    0% {
        transform-origin: left center;
        transform: translate(4rem, 0) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform-origin: left center;
        transform: translate(2rem, 0) rotate(45deg);
        opacity: 0;
    }
}


@mixin bq {
    position: relative;
    padding: 1.5rem 2rem;
    margin: 0 auto -0.25rem;
    color: $black;
    border-left: 2px solid $yellow;
}

@mixin flexIt {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin conversationPane {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar { 
        display: none;
        width: 0 !important; 
    }
    ::-webkit-scrollbar { 
        display: none;
        width: 0 !important; 
    }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    blockquote {
        display: inline-block;
        position: relative;
        width: 100%;
        background-color: transparent;
        color: $black;
        border: none;
        margin: 0.5rem 0;
        padding: 1.5rem 1rem;
        text-align: center;
        border-left: 3px solid $yellow;
    }
    ul {
        list-style-type: none;
        margin-left: 0;

        li {
            padding: 0;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

@mixin halfStep {
    height: 100vh;
    padding: 3rem 2rem 1rem 2rem;
    overflow-y: scroll;
    &::-webkit-scrollbar { 
        display: none;
        width: 0 !important; 
    }
    ::-webkit-scrollbar { 
        display: none;
        width: 0 !important; 
    }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

// asterisk at end of each learning section
@mixin asterisk {
    font-size: 40rem;
    line-height: 1px;
    color: darken($yellow, 9%);
    position: absolute;
    top: -12rem;
    right: -7rem;
    z-index: -1;
}

@mixin redButton {
    a {
        color: $white;
        font-size: 1rem;
        text-rendering: optimizeLegibility;
    }

    .button.warning {
        background-color: $red;
        font-weight: 700;
    }
}