.debug-mode tw-expression[type=hookref] {
    background-color: rgba(115, 123, 140, 0.15);
}

.debug-mode tw-expression[type=hookref]::after {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    vertical-align: top;
    content: "?" attr(name);
}

.debug-mode tw-expression[type=variable] {
    background-color: rgba(140, 128, 115, 0.15);
}

.debug-mode tw-expression[type=variable]::after {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    vertical-align: top;
    content: "$" attr(name);
}

.debug-mode tw-expression[type=macro]:nth-of-type(4n+0) {
    background-color: rgba(136, 153, 102, 0.15);
}

.debug-mode tw-expression[type=macro]:nth-of-type(2n+1) {
    background-color: rgba(102, 153, 102, 0.15);
}

.debug-mode tw-expression[type=macro]:nth-of-type(4n+2) {
    background-color: rgba(102, 153, 136, 0.15);
}

.debug-mode tw-expression[type=macro][name="display"] {
    background-color: rgba(0, 170, 255, 0.1) !important;
}

.debug-mode tw-expression[type=macro][name="if"], .debug-mode tw-expression[type=macro][name="if"] + tw-hook:not([name]), .debug-mode tw-expression[type=macro][name="unless"], .debug-mode tw-expression[type=macro][name="unless"] + tw-hook:not([name]), .debug-mode tw-expression[type=macro][name="elseif"], .debug-mode tw-expression[type=macro][name="elseif"] + tw-hook:not([name]), .debug-mode tw-expression[type=macro][name="else"], .debug-mode tw-expression[type=macro][name="else"] + tw-hook:not([name]) {
    background-color: rgba(0, 255, 0, 0.1) !important;
}

.debug-mode tw-expression[type=macro].false {
    background-color: rgba(255, 0, 0, 0.2) !important;
}

.debug-mode tw-expression[type=macro].false + tw-hook:not([name]) {
    display: none;
}

.debug-mode tw-expression[type=macro][name="a"], .debug-mode tw-expression[type=macro][name="array"], .debug-mode tw-expression[type=macro][name="datamap"], .debug-mode tw-expression[type=macro][name="dataset"], .debug-mode tw-expression[type=macro][name="colour"], .debug-mode tw-expression[type=macro][name="color"], .debug-mode tw-expression[type=macro][name="num"], .debug-mode tw-expression[type=macro][name="number"], .debug-mode tw-expression[type=macro][name="text"], .debug-mode tw-expression[type=macro][name="print"] {
    background-color: rgba(255, 255, 0, 0.2) !important;
}

.debug-mode tw-expression[type=macro][name="put"], .debug-mode tw-expression[type=macro][name="set"] {
    background-color: rgba(255, 128, 0, 0.2) !important;
}

.debug-mode tw-expression[type=macro][name="script"] {
    background-color: rgba(255, 191, 0, 0.2) !important;
}

.debug-mode tw-expression[type=macro][name="style"] {
    background-color: rgba(185, 198, 198, 0.2) !important;
}

.debug-mode tw-expression[type=macro][name^="link"], .debug-mode tw-expression[type=macro][name^="click"], .debug-mode tw-expression[type=macro][name^="mouseover"], .debug-mode tw-expression[type=macro][name^="mouseout"] {
    background-color: rgba(128, 223, 32, 0.2) !important;
}

.debug-mode tw-expression[type=macro][name^="replace"], .debug-mode tw-expression[type=macro][name^="prepend"], .debug-mode tw-expression[type=macro][name^="append"], .debug-mode tw-expression[type=macro][name^="remove"] {
    background-color: rgba(223, 96, 32, 0.2) !important;
}

.debug-mode tw-expression[type=macro][name="live"] {
    background-color: rgba(32, 96, 223, 0.2) !important;
}

.debug-mode tw-expression[type=macro]::before {
    content: "(" attr(name) ":)";
    padding: 0 0.5rem;
    font-size: 1rem;
    vertical-align: middle;
    line-height: normal;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.debug-mode tw-hook {
    background-color: rgba(0, 85, 255, 0.1) !important;
}

.debug-mode tw-hook::before {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    vertical-align: top;
    content: "[";
}

.debug-mode tw-hook::after {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    vertical-align: top;
    content: "]";
}

.debug-mode tw-hook[name]::after {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    vertical-align: top;
    content: "]<" attr(name) "|";
}

.debug-mode tw-pseudo-hook {
    background-color: rgba(255, 170, 0, 0.1) !important;
}

.debug-mode tw-collapsed::before {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    vertical-align: top;
    content: "{";
}

.debug-mode tw-collapsed::after {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    vertical-align: top;
    content: "}";
}

.debug-mode tw-verbatim::before, .debug-mode tw-verbatim::after {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    vertical-align: top;
    content: "`";
}

.debug-mode tw-align[style*="text-align: center"] {
    background: linear-gradient(to right, rgba(255, 204, 189, 0) 0%, rgba(255, 204, 189, 0.25) 50%, rgba(255, 204, 189, 0) 100%);
}

.debug-mode tw-align[style*="text-align: left"] {
    background: linear-gradient(to right, rgba(255, 204, 189, 0.25) 0%, rgba(255, 204, 189, 0) 100%);
}

.debug-mode tw-align[style*="text-align: right"] {
    background: linear-gradient(to right, rgba(255, 204, 189, 0) 0%, rgba(255, 204, 189, 0.25) 100%);
}

.debug-mode p {
    background-color: rgba(255, 213, 0, 0.1);
}

.debug-mode tw-enchantment {
    animation: enchantment 0.5s infinite;
    -webkit-animation: enchantment 0.5s infinite;
    border: 1px solid;
}

.debug-mode tw-link::after, .debug-mode tw-broken-link::after {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    vertical-align: top;
    content: attr(passage-name);
}

.debug-mode tw-include {
    background-color: rgba(204, 128, 51, 0.1);
}

.debug-mode tw-include::before {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    vertical-align: top;
    content: attr(type) ' "' attr(title) '"';
}

tw-debugger {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999999;
    min-width: 10em;
    min-height: 1em;
    padding: 1em;
    font-size: 1.5em;
    border-left: solid #000 2px;
    border-top: solid #000 2px;
    border-top-left-radius: 0.5em;
    background: #fff;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    opacity: 0.8;
}

@media screen and (max-width: 1280px) {
    tw-debugger {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 960px) {
    tw-debugger {
        font-size: 1em;
    }
}

@media screen and (max-width: 640px) {
    tw-debugger {
        font-size: 0.8em;
    }
}

tw-debugger:hover {
    opacity: 1;
}

.show-invisibles {
    border-radius: 3px;
    border: solid #999 1px;
    background-color: #fff;
    font-size: inherit;
}

.debug-mode .show-invisibles {
    background-color: #eee;
    box-shadow: inset #ddd 3px 5px 0.5em;
}

tw-link, .link, tw-icon {
    cursor: pointer;
}

tw-link, .enchantment-link {
    color: #4169E1;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

tw-link:hover, .enchantment-link:hover {
    color: DeepSkyBlue;
}

tw-link:active, .enchantment-link:active {
    color: #DD4B39;
}

.visited {
    color: #6941e1;
}

.visited:hover {
    color: #E3E;
}

tw-broken-link {
    color: #993333;
    border-bottom: 2px solid #993333;
    cursor: not-allowed;
}

.enchantment-mouseover {
    border-bottom: 1px dashed #666;
}

.enchantment-mouseout {
    border: rgba(64, 149, 191, 0.25) 1px solid;
}

.enchantment-mouseout:hover {
    background-color: rgba(64, 149, 191, 0.25);
    border: transparent 1px solid;
    border-radius: 0.2em;
}

tw-storydata {
    display: none;
}

tw-story {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 60%;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 5% auto;
}

@media screen and (max-width: 1024px) {
    tw-story {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 896px) {
    tw-story {
        font-size: 1.05em;
    }
}

@media screen and (max-width: 768px) {
    tw-story {
        font-size: .9em;
    }
}

tw-passage {
    display: block;
}

tw-sidebar {
    left: -5em;
    width: 3em;
    position: absolute;
    text-align: center;
    display: block;
}

tw-icon {
    display: block;
    margin: 0.5em 0;
    opacity: 0.1;
    font-size: 2.75em;
}

tw-icon:hover {
    opacity: 0.3;
}

tw-error {
    display: inline-block;
    border-radius: 0.2em;
    padding: 0.2em;
    font-size: 1rem;
    cursor: help;
}

tw-error.error {
    background-color: rgba(223, 58, 190, 0.4);
    color: black;
}

tw-error.warning {
    background-color: rgba(223, 140, 58, 0.4);
    color: black;
    display: none;
}

.debug-mode tw-error.warning {
    display: inline;
}

tw-error-explanation {
    display: block;
    font-size: 0.8rem;
    line-height: 1rem;
}

tw-error-explanation-button {
    cursor: pointer;
    line-height: 0em;
    border-radius: 1px;
    border: 1px solid black;
    font-size: 0.8rem;
    margin: 0 0.4rem;
    opacity: 0.5;
}

tw-error-explanation-button .folddown-arrowhead {
    display: inline-block;
}

tw-notifier {
    border-radius: 0.2em;
    padding: 0.2em;
    font-size: 1rem;
    background-color: rgba(223, 182, 58, 0.4);
    display: none;
}

.debug-mode tw-notifier {
    display: inline;
}

tw-notifier::before {
    content: attr(message);
}

tw-colour {
    border: 1px solid black;
    display: inline-block;
    width: 1em;
    height: 1em;
}

mark {
    color: rgba(0, 0, 0, 0.6);
    background-color: #ff9;
}

ins {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 242, 204, 0.5);
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.2em #ffe699;
    text-decoration: none;
}

del {
    background-color: #000;
    text-decoration: none;
}

center {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

blink {
    text-decoration: none;
    animation: fade-in-out 1s steps(1, end) infinite alternate;
    -webkit-animation: fade-in-out 1s steps(1, end) infinite alternate;
}

tw-align {
    display: block;
}

tw-outline {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

tw-shadow {
    text-shadow: 0.08em 0.08em 0.08em #000;
}

tw-emboss {
    text-shadow: 0.08em 0.08em 0em #000;
    color: white;
}

tw-condense {
    letter-spacing: -0.08em;
}

tw-expand {
    letter-spacing: 0.1em;
}

tw-blur {
    color: transparent;
    text-shadow: 0em 0em 0.08em #000;
}

tw-blurrier {
    color: transparent;
    text-shadow: 0em 0em 0.2em #000;
}

tw-blurrier::selection {
    background-color: transparent;
    color: transparent;
}

tw-blurrier::-moz-selection {
    background-color: transparent;
    color: transparent;
}

tw-smear {
    color: transparent;
    text-shadow: 0em 0em 0.02em rgba(0, 0, 0, 0.75), (-0.2em) 0em 0.5em rgba(0, 0, 0, 0.5), 0.2em 0em 0.5em rgba(0, 0, 0, 0.5);
}

tw-mirror {
    display: inline-block;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

tw-upside-down {
    display: inline-block;
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
}

tw-fade-in-out {
    text-decoration: none;
    animation: fade-in-out 2s ease-in-out infinite alternate;
    -webkit-animation: fade-in-out 2s ease-in-out infinite alternate;
}

tw-rumble {
    -webkit-animation: rumble linear 0.1s 0s infinite;
    animation: rumble linear 0.1s 0s infinite;
    display: inline-block;
}

tw-shudder {
    -webkit-animation: shudder linear 0.1s 0s infinite;
    animation: shudder linear 0.1s 0s infinite;
    display: inline-block;
}

tw-shudder-in {
    animation: shudder-in 1s ease-out;
    -webkit-animation: shudder-in 1s ease-out;
}

.transition-in {
    -webkit-animation: appear 0ms step-start;
    animation: appear 0ms step-start;
}

.transition-out {
    -webkit-animation: appear 0ms step-end;
    animation: appear 0ms step-end;
}

[data-t8n^=fade-in].transition-in, .transition-in[data-t8n^=dissolve] {
    -webkit-animation: appear 0.8s;
    animation: appear 0.8s;
}

[data-t8n^=dissolve].transition-out {
    -webkit-animation: appear 0.8s reverse;
    animation: appear 0.8s reverse;
}

[data-t8n^=shudder-in].transition-in, .transition-in[data-t8n^=shudder] {
    display: inline-block;
    -webkit-animation: shudder-in 0.8s;
    animation: shudder-in 0.8s;
}

[data-t8n^=shudder-out].transition-out, .transition-out[data-t8n^=shudder] {
    display: inline-block;
    -webkit-animation: shudder-out 0.8s;
    animation: shudder-out 0.8s;
}

[data-t8n^=boxflash].transition-in {
    -webkit-animation: box-flash 0.8s;
    animation: box-flash 0.8s;
}

[data-t8n^=pulse].transition-in {
    -webkit-animation: pulse 0.8s;
    animation: pulse 0.8s;
}

[data-t8n^=pulse].transition-out {
    -webkit-animation: pulse 0.8s reverse;
    animation: pulse 0.8s reverse;
}

[data-t8n$=fast] {
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
}

[data-t8n$=slow] {
    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
}

tw-sidebar {
    visibility: hidden;
}

tw-story {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: $white;
    display: flex;
    flex-direction: column;

    ul {
        list-style-type: none;
        margin-left: 0;
        width: 100%;
        overflow-x: hidden;

        li {}
    }
    br {
        display: none;
    }
}

tw-passage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.pane {
    // @include conversationPane;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: $white;
    background-color: $gray;
    font-size: 1rem;

    .left {
        float: left;
        width: 50%;
        height: 100%;
        margin: 0;
        background: #2D2D2D;
        overflow-y: scroll;

        .realtor {
            width: 100%;
            position: relative;

            img {
                width: 100%;
            }
            &.name-r:before {
                content: attr(data-realtor);
                font-family: $display;
                color: rgba($black, 0.9);
                font-size: 2rem;
                position: absolute;
                z-index: 9999;
                right: -9%;
                top: 35%;
                @include transform(translateX(-50%));
                
                // Put agent name on dark background with opacity at smaller resolutions
                @media screen and (max-width: 1300px) {
                    width: initial;
                    background-color: $black;
                    opacity: 0.6;
                    padding: 1%;
                    display: block;
                    color: $white;
                }
            }
            &.name-l:before {
                content: attr(data-realtor);
                font-family: $display;
                color: rgba($black, 0.9);
                font-size: 2rem;
                position: absolute;
                z-index: 9999;
                left: 8rem;
                top: 35%;
                @include transform(translateX(-50%));

                @media screen and (max-width: 1300px) {
                    width: initial;
                    background-color: $black;
                    opacity: 0.6;
                    padding: 1%;
                    display: block;
                    color: $white;
                }
            }
        }
        .content {
            margin: 1rem auto;
        }
    }
    .right {
        float: left;
        width: 50%;
        height: 100%;
        margin: 0;
        padding-top: 5em;
        overflow-y: scroll;
        background: #a5a5a5;

        h3 {
            text-align: left;
            margin-bottom: 2.2em;
        }
    }
    .content {
        max-width: 75%;
        margin: 0 auto;

        &.single {
            max-width: 57%;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }
    }
    br {
        display: none;
    }
}

tw-expression {
    width: 100%;
    line-height: 1.6;
    display: inline-flex;
}

tw-expression[type=variable] {
    width: auto;
    line-height: inherit;
    display: inline;
    font-weight: bold;
}

tw-link, .link, tw-icon {
    cursor: pointer;
}

tw-link:active {
    outline: none;
}

tw-link, &.visited, &.visited:hover {
    width: 100%;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
    color: $black;
    font-size: 0.9rem;

    &:first-letter {
        text-transform: capitalize;
    }
    .indicator {
        position: absolute;
        left: -0.5rem;
        width: 25px;
        height: 25px;
        border: 2px solid $yellow;
        top: 25%;
        @include transform(translateX(-50%));
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        // @include transform(rotate(0deg));
        // @include transform-origin(center center);
        // @include transition(all 0.15s ease-in-out);
    }
    &:hover .indicator {
        background: $yellow;
        // @include transition(all 0.15s ease-in-out);
    }
}

tw-link.visited {
    opacity: 0.5;
}

tw-link, .enchantment-link {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $dark-gray;
    }
}

tw-link:hover, .enchantment-link:hover {
    color: $black;
}

tw-link:active, .enchantment-link:active {
    color: $black;
}
