.vidbg-box, .vidbg-container {
    width: 100%;
    height: 100%;
}

.block-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vidbg-overlay {
     background-color: rgba(0,0,0,0.47);
}

.block-container > .block {
    margin: 0 auto;
    text-align: center;
    max-width: 95%;
}

.block-container > .block > h1 {
    color: #fff;
    font-size: 4rem;
    border-bottom: 0;
    margin-bottom: 10px;
}

.block-container > .block > p {
    margin: 0;
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    margin: 10px 0;
}

