---
title: Simulation Help
---

<div class="expanded row">
    <div class="small-6 columns">
        <div id="goBack">
            <button class="go-back">
                <i class="fi-arrow-left"></i>
            </button>
        </div>
    </div>
    <div class="small-6 text-right-columns">
        <div id="support">
            <p class="call">
                <a class="hollow secondary button" href="http://theeliteappraiser.echelp.org/" target="_blank">Get Additional Support</a>
            </p>
        </div>
    </div>
</div>

<div id="help">
    <div class="row">
        <div class="large-8 large-centered medium-10 medium-centered columns">
            <h1>Help <small>and FAQs</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-centered medium-10 medium-centered columns">
        <h4>General</h4>
            <div class="expander">
                <a href="javascript:void(0)" class="expander-trigger expander-hidden">I selected one of the items in the toolbar. How do I return to the simulation?</a>
                <div class="expander-content">
                    <p>Select the back arrow to return to the scenario. You can also use the toolbar at the bottom right of your screen to navigate to other parts of the simulation.</p>
                     <img src="{{root}}assets/img/faq/faq_url_with_arrow.png" class="left">
                    <p><strong>Please note:</strong> If you use the back button while in the MLS, you will lose your current selections and will need to reselect them to view your data again.</p>
                </div>
            </div>
            <div class="expander">
                <a href="javascript:void(0)" class="expander-trigger expander-hidden">Is it possible to view the MLS, worksheet, or Help section in a new window or tab?</a>
                <div class="expander-content">
                    <p>No, not at this time.</p>
                    <!--
                    <p>Yes. Right-click (or shift+F10) on the item you want to open and select “Open link in new tab” or “Open link in new window.”</p>
                    <p>Please note that if you use the MLS to add a comparable to the Answer Form, you will need to refresh the Answer Form in order to see your additions.</p>
                    <img src="{{root}}assets/img/faq/right_clic.png">
                    -->
                </div>
            </div>
            <div class="expander">
                <a href="javascript:void(0)" class="expander-trigger expander-hidden">I’m working on the worksheet and/or the MLS. How do I return to the simulation?</a>
                <div class="expander-content">
                    <p>Select the red toolbar icon in the lower right-hand corner to return to the other components in the simulation.</p>
                    <img src="{{root}}assets/img/faq/toolbar.png">
                    <img src="{{root}}assets/img/faq/help.png">
                </div>
            </div>
            <h4>Property Tour</h4>
            <div class="expander">
                <a href="javascript:void(0)" class="expander-trigger expander-hidden">How do I view the property tour without the property information visible or displayed?</a>
                <div class="expander-content">
                    <p>Select the “Go distraction free” option in the lower left hand corner of the screen. You can also use the “ESC” key.</p>
                    <img src="{{root}}assets/img/faq/distraction_free.png" class="left">
                </div>
            </div>
            <h4>Answer Form</h4>
            <div class="expander">
                <a href="javascript:void(0)" class="expander-trigger expander-hidden">How do I know I have correctly saved the information I have added?</a>
                <div class="expander-content">
                    <p>A message should appear on your screen telling you that your form has been saved.</p>
                </div>
            </div>
            <div class="expander">
                <a href="javascript:void(0)" class="expander-trigger expander-hidden">How do I know I have successfully submitted my worksheet?</a>
                <div class="expander-content">
                    <p>You will see the results immediately upon submitting your worksheet. If you don’t see the results, please try submitting your worksheet again.</p>
                </div>
            </div>
            <h4>MLS</h4>
            <div class="expander">
                <a href="javascript:void(0)" class="expander-trigger expander-hidden">Is there a guide or tutorial for the MLS tool?</a>
                <div class="expander-content">
                    <p>Yes. You can download or print a guide for using the MLS tool.</p>
                    <p><a id="mlsHandout" class="small secondary button" href="{{root}}assets/docs/tools/MLS-Handout.pdf" download="MLS-Handout.pdf" target="_blank"><i class="fi-download"></i> &nbsp; Download the MLS Guide</a></p>
                </div>
            </div>
            <div class="expander">
                <a href="javascript:void(0)" class="expander-trigger expander-hidden">The MLS is not displaying anything. What did I do wrong?</a>
                <div class="expander-content">
                    <p>Please check your browser settings and make sure JavaScript is enabled.</p>
                    <p>You might also consider trying a different browser. This course works best with the Chrome browser, but should work with most others as well. If you do not have a different browser available, please <a href="http://theeliteappraiser.echelp.org/" target="_blank">contact the help desk</a>.</p>
                </div>
            </div>
            <div class="expander">
                <a href="javascript:void(0)" class="expander-trigger expander-hidden">I saved my grouped data analysis information, but can’t find it. Where did it go?</a>
                <div class="expander-content">
                    <p>The “Save for group analysis” option saves the information in your browser. If you have closed your browser window since you last saved your data, you may need to run your data again.</p>
                </div>
            </div>
            <div class="expander">
                <a href="javascript:void(0)" class="expander-trigger expander-hidden">Can I download the MLS analysis information for future use?</a>
                <div class="expander-content">
                    <p>No. The information is only available to save in your browser. However, you can always take a screenshot of your analysis information using the <a href="https://support.microsoft.com/en-us/help/13776/windows-use-snipping-tool-to-capture-screenshots" target="_blank">Snipping Tool in Windows</a> or <a href="https://support.apple.com/en-us/HT201361" target="_blank">Shift+Command+4</a> on a Mac.</p>
                </div>
            </div>
        </div>
    </div>
</div>

