---
layout: index
title: High End Property Appraisal
index: true
---

<!-- <button class="open-menu hollow white button">Menu</button> -->

<nav class="lp-navigation top">
    <div class="centered-content">
        <div class="row next-step">
            <div class="large-9 large-centered medium-10 medium-centered text-center columns">
                <p class="nxt">Next Step</p>
                <p class="lead">Select the <span>Intro</span> button and view the material in the learning sections.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Progress</label>
                <ul class="horzontal menu sect">
                    <span class="progress"></span>
                    <li><a href="#" id="firstSimulation">First Simulation</a></li>
                    <li><a href="#" id="learningSections" class="disabled">Learning Sections</a></li>
                    <li><a href="#" id="finalSimulation" class="disabled">Final Simulation</a></li>
                </ul>
            </div>
        </div>
        <nav class="learning-sections">
            <div class="row">
                <div class="large-12 text-center columns">
                    <div class="menu-centered">
                        <ul class="menu ls">
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/introduction.html" class="disabled">Intro</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/one.html" class="disabled">1</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/two.html" class="disabled">2</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/three.html" class="disabled">3</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/four.html" class="disabled">4</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/five.html" class="disabled">5</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/six.html" class="disabled">6</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="reveal-intro-content">
        <div class="row">
            <div class="large-12 text-center columns">
                <button class="small hollow white button" id="siv">Review Introductory Videos</button>
            </div>
        </div>
    </div>
</nav>

<section id="introduction">
    <button class="log-out hollow white button">Log out</button>
    <div id="intro-content">
        <a class="play-button" data-open="rickVideo">
            <div class="play">
                <span></span>
            </div>
        </a>
        <div class="row">
            <div class="medium-5 text-center columns">
                <h2>Welcome!</h2>
                <h4>Why Am I Here?</h4>
                <button id="play" class="small hollow white button" data-open="rickVideo">Watch the Video</button>
            </div>
        </div>
    </div>
</section>

<!-- rick video modal -->
<div class="large reveal" id="rickVideo" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="flex-video widescreen">
        <video id="rickIntro" poster="{{root}}assets/mov/gloc/gloc-poster.png" preload="auto" controls>
            <track kind="subtitles" src="{{root}}assets/captions/welcome.vtt"></track>
            <source src="//production.smedia.lvp.llnw.net/8fc5279f395743bdb68c29b842d3e431/oz/xqDhx3MLIMRgZ6eUA33odQDGRSN-896T64B-tO588/welcome.mp4?x=0&h=a21611a5cab6076a2a427a418cf6ae6b" type="video/mp4">
        </video>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<section class="problem-solution">
    <div class="row">
        <div class="large-9 large-centered medium-10 medium-centered text-center columns">
            <p class="lbl">the problem</p>
            <p class="quote">”</p>
            <h3>75% of high-end property appraisals are <span>rejected</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-centered medium-10 medium-centered columns">
            <hr>
            <p class="lbl text-center">the solution</p>
            <p>This course is unlike others you have taken. We recognize that you’re a professional and instead of flooding you with information and sending you on your way, we are giving you a chance to demonstrate what you already know before directing you to the information and additional practice you need to improve your processes.</p>
        </div>
    </div>
</section>

<section class="sect" id="landing-page-tutorial">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        <div id="tutorialVideo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<nav class="lp-navigation bottom">
    <div class="row next-step">
        <div class="large-9 large-centered medium-10 medium-centered text-center columns">
            <p class="nxt">Next Step</p>
            <p class="lead">Select the <span>First Simulation</span> button and complete the First Simulation.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Progress</label>
            <ul class="horzontal menu sect">
                <span class="progress"></span>
                <li><a href="#" id="firstSimulation">First Simulation</a></li>
                <li><a href="#" id="learningSections" class="disabled">Learning Sections</a></li>
                <li><a href="#" id="finalSimulation" class="disabled">Final Simulation</a></li>
            </ul>
        </div>
    </div>
    <nav class="learning-sections">
        <div class="row">
            <div class="large-12 text-center columns">
                <div class="menu-centered">
                    <ul class="menu ls">
                        <li><a href="#" class="disabled">Intro</a></li>
                        <li><a href="#" class="disabled">1</a></li>
                        <li><a href="#" class="disabled">2</a></li>
                        <li><a href="#" class="disabled">3</a></li>
                        <li><a href="#" class="disabled">4</a></li>
                        <li><a href="#" class="disabled">5</a></li>
                        <li><a href="#" class="disabled">6</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</nav>

<footer id="footer">
    <div class="row">
        <div class="large-12 text-center columns">
            <a href="{{root}}assets/docs/Credits.pdf" class="small hollow secondary button" target="_blank">CREDITS</a>
        </div>
    </div>
</footer>

