---
layout: index
title: High End Property Appraisal
landing: true
---

<!-- <button class="open-menu hollow white button">Menu</button> -->

<nav class="lp-navigation top">
    <div class="centered-content">
        <div class="row next-step">
            <div class="large-9 large-centered medium-10 medium-centered text-center columns">
                <p class="nxt">Next Step</p>
                <p class="lead">Select the <span>Intro</span> button and view the material in the learning sections.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Progress</label>
                <ul class="horzontal menu sect">
                    <span class="progress"></span>
                    <li><a href="#" id="firstSimulation">First Simulation</a></li>
                    <li><a href="#" id="learningSections" class="disabled">Learning Sections</a></li>
                    <li><a href="#" id="finalSimulation" class="disabled">Final Simulation</a></li>
                </ul>
            </div>
        </div>
        <nav class="learning-sections">
            <div class="row">
                <div class="large-12 text-center columns">
                    <div class="menu-centered">
                        <ul class="menu ls">
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/introduction.html" class="disabled">Intro</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/one.html" class="disabled">1</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/two.html" class="disabled">2</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/three.html" class="disabled">3</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/four.html" class="disabled">4</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/five.html" class="disabled">5</a></li>
                            <li><a href="http://www.theeliteappraiser.com/pluginfile.php/36/mod_resource/content/2/wf-appraisal-learning-sections/learning-sections/six.html" class="disabled">6</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="reveal-intro-content">
        <div class="row">
            <div class="large-12 text-center columns">
                <button class="small hollow white button" id="siv">Review Introductory Videos</button>
            </div>
        </div>
    </div>
</nav>

<section id="authentication">
    <div class="row expanded">
        <div class="large-2 medium-4 columns">
            <img class="logo" src="{{root}}assets/img/HEA-elite-logo-98h.png">
        </div>
        <div class="large-10 medium-8 columns">    
            <div class="options">
                <a href="" class="medium button">Purchase Access Code</a>
                <a href="" class="medium button">Create Account</a>
                <a href="#" class="medium button show-login">Sign in to Account</a>
            </div>
        </div>
    </div>
</section>

<section id="login" class="hide">
    <div class="row expanded">
        <div class="large-2 medium-4 columns">

        </div>
        <div class="large-10 columns">
            <div class="login-form">
                <form>
                    <input type="text" name="username" value="username">
                    <input type="text" name="pw" value="password">
                    <a href="#" class="medium button signin">Submit</a>
                </form>
            </div>
        </div>
</section>

<section id="video-introduction">
    <div class="row">
        <div class="large-9 large-centered medium-10 medium-centered text-center columns">
            <h3>YOU HAVE A <span>VISION</span> <br />WE HAVE <span>A WAY</span> TO GET YOU <span>THERE</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-centered medium-10 medium-centered text-center columns">
            <hr>
            <p>Learn skills necessary to complete appraisals for high value properties.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-10 large-centered columns">
            <div id="landing-page-video"></div>
            <p class="text-center"><a href="" class="large button warning">Purchase an access code and sign up</a></p>
        </div>
    </div>
</section>
<!-- <section id="introduction">
    <button class="log-out hollow white button">Log out</button>
    <div id="intro-content">
        <a class="play-button" data-open="rickVideo">
            <div class="play">
                <span></span>
            </div>
        </a>
        <div class="row">
            <div class="medium-5 text-center columns">
                <h2>Welcome!</h2>
                <h4>Why Am I Here?</h4>
                <button id="play" class="small hollow white button" data-open="rickVideo">Watch the Video</button>
            </div>
        </div>
    </div>
</section> -->

<!-- rick video modal -->
<!-- <div class="large reveal" id="rickVideo" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="flex-video widescreen">
        <video id="rickIntro" poster="{{root}}assets/mov/gloc/gloc-poster.png" preload="auto" controls>
            <track kind="subtitles" src="{{root}}assets/captions/welcome.vtt"></track>
            <source src="//production.smedia.lvp.llnw.net/8fc5279f395743bdb68c29b842d3e431/oz/xqDhx3MLIMRgZ6eUA33odQDGRSN-896T64B-tO588/welcome.mp4?x=0&h=a21611a5cab6076a2a427a418cf6ae6b" type="video/mp4">
        </video>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->

<section class="problem-solution">
    <div class="row">
        <div class="large-8 large-centered medium-10 medium-centered text-center columns">
            <p class="lbl">the problem</p>
            <p class="justified">Sed dolore occaecat qui irure culpa elit proident nulla mollit consequat laboris sint dolore in veniam in ea sint velit adipisicing amet irure do eiusmod ex exercitation consequat dolor magna tempor magna ullamco magna adipisicing ut sit ad in nulla in qui exercitation nostrud esse consectetur elit excepteur officia anim ut ullamco pariatur eiusmod veniam cillum voluptate id mollit exercitation aute labore ut incididunt commodo cupidatat minim sint ut.</p>

            <p class="lbl text-center">the solution</p>
            <p class="justified">This course is unlike others you have taken. We recognize that you’re a professional and instead of flooding you with information and sending you on your way, we are giving you a chance to demonstrate what you already know before directing you to the information and additional practice you need to improve your processes.</p>

            <p class="lbl text-center">what you will accomplish</p>
            <p class="justified">This course is unlike others you have taken. We recognize that you’re a professional and instead of flooding you with information and sending you on your way, we are giving you a chance to demonstrate what you already know before directing you to the information and additional practice you need to improve your processes.</p>
        </div>
        <div class="large-8 large-centered medium-10 medium-centered columns">
            <p class="learning-outcome">After successfully completing this course, <span>learners will be able to:</span></p>

            <ul>
                <li>Reprehenderit laboris cillum nulla pariatur magna ea ut voluptate sunt in ut aute aliqua culpa dolor.</li>
                <li>Aliqua laborum aliqua mollit eu deserunt dolor qui qui quis exercitation sint culpa cillum nulla veniam esse est.</li>
                <li>Nostrud laboris laboris proident amet irure minim pariatur ut ut velit consectetur eiusmod et veniam consectetur laborum.</li>
                <li>Lorem ipsum quis labore est excepteur sed consectetur irure in nisi laboris ut consectetur deserunt nisi dolore ea.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-centered medium-10 medium-centered columns">
            
        </div>
    </div>
</section>

<section id="landing-bottom">
    <div class="row">
        <div class="large-12 large-centered medium-10 medium-centered text-center columns">
            <p>Access to full of insights from industry professionals<br />of high-endappraisals. Sign up today!</p>
            <p class="text-center"><a href="" class="large button warning">Purchase an access code and sign up</a></p>
        </div>
    </div>
</section>
<!-- <section class="sect" id="landing-page-tutorial">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        <div id="tutorialVideo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <nav class="lp-navigation bottom">
    <div class="row next-step">
        <div class="large-9 large-centered medium-10 medium-centered text-center columns">
            <p class="nxt">Next Step</p>
            <p class="lead">Select the <span>First Simulation</span> button and complete the First Simulation.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Progress</label>
            <ul class="horzontal menu sect">
                <span class="progress"></span>
                <li><a href="#" id="firstSimulation">First Simulation</a></li>
                <li><a href="#" id="learningSections" class="disabled">Learning Sections</a></li>
                <li><a href="#" id="finalSimulation" class="disabled">Final Simulation</a></li>
            </ul>
        </div>
    </div>
    <nav class="learning-sections">
        <div class="row">
            <div class="large-12 text-center columns">
                <div class="menu-centered">
                    <ul class="menu ls">
                        <li><a href="#" class="disabled">Intro</a></li>
                        <li><a href="#" class="disabled">1</a></li>
                        <li><a href="#" class="disabled">2</a></li>
                        <li><a href="#" class="disabled">3</a></li>
                        <li><a href="#" class="disabled">4</a></li>
                        <li><a href="#" class="disabled">5</a></li>
                        <li><a href="#" class="disabled">6</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</nav> -->