#s1Feedback {
    min-height: 100vh;
    padding: 5rem 0;
    background: url('../img/property_tour/1/exterior-front.jpg') center center no-repeat;
    background-size: cover;

    .content {
        background-color: rgba($white, 0.9);
        padding: 2rem 3rem 1rem 3rem;
    }
    h1 {
        color: $black;

        small {
            color: $gray;
        }
    }
    .message {
        margin: 1.5rem 0;
    }
    .sections {
        margin-bottom: 1.5rem;
    }
    .button.large {
        margin: 1rem 0;
        text-transform: uppercase;
        color: $black;
    }
}

#s2Feedback {
    min-height: 100vh;
    padding: 5rem 0;
    background: url('../img/property_tour/2/157289699-edit.jpg') center center no-repeat;
    background-size: cover;

    .content {
        background-color: rgba($white, 0.9);
        padding: 2rem 3rem 1rem 3rem;
    }
    h1 {
        color: $black;

        small {
            color: $gray;
        }
    }
    p.lead {
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 2rem;
    }
    .label {
        position: relative;
        left: 1rem;
        top: -5px;
    }
    .message {
        margin-bottom: 1.5rem;
    }
    .sections {
        margin-bottom: 1.5rem;
    }
    .button.large {
        margin: 1rem 0;
        text-transform: uppercase;
        color: $black;
    }
}

#s3Feedback {
    min-height: 100vh;
    padding: 5rem 0;
    background: url('../img/property_tour/3/shutterstock_81092365.jpg') center center no-repeat;
    background-size: cover;

    .content {
        background-color: rgba($white, 0.9);
        padding: 2rem 3rem 1rem 3rem;
    }
    h1 {
        color: $black;

        small {
            color: $gray;
        }
    }
    p.lead {
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 2rem;
    }
    .label {
        position: relative;
        left: 1rem;
        top: -5px;
    }
    .percentage {
        margin-bottom: 1.5rem;
    }
    .message {
        margin-bottom: 1.5rem;
    }
    .sections {
        margin-bottom: 1.5rem;
    }
    .button.large {
        margin: 1rem 0;
        text-transform: uppercase;
        color: $black;
    }
}

.passed, .failed-first, .failed-second {
    display: none;
}

