#goBack {
    margin-top: 1rem;
    margin-left: 1rem;

    .go-back {
        margin: 0;
        padding-top: 0.15rem;
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        color: $gray;
        border: 1px solid $gray;
        border-radius: 500px;

        &:hover {
            opacity: 0.75;
        }
        &:active {
            @include transform(scale(0.9));
        }
    }
}

#support {
    margin-top: 1rem;
    margin-right: 1rem;

    .call {
        position: relative;
        float: right;
        width: auto;
        height: 3rem;
        color: $gray-dark;
    }
}


#help {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 2.5rem 0 5rem;
    background-color: transparent;

    h1 {
        color: $black;

        small {
            color: $gray-dark;
        }
    }
}

.expander {
    $base-font-size: 1em !default;
    $base-line-height: 1.5em !default;
    $base-spacing: 1.5em !default;
    $action-color: $black !default;
    $base-font-color: $dark-gray !default;
    $expander-arrow-width: 0.7em;
    $expander-toggle-size: 1em;
    $expander-toggle-arrow-size: $expander-toggle-size;
    $expander-toggle-margin: 1em;

    width: 100%;

    .expander-trigger {
        border-bottom: 1px dotted $light-gray;
        color: $action-color;
        cursor: pointer;
        display: block;
        font-size: $expander-toggle-size;
        margin-bottom: $expander-toggle-size;
        padding-bottom: $expander-toggle-size / 4;
        text-decoration: none;
        user-select: none;

        &::before {
            content: "\25BC";
            font-size: $expander-arrow-width;
            margin-right: 0.5em;
        }
    }

    .expander-content {
        margin-left: 1rem;

        p {
            //color: $base-font-color;
            line-height: $base-line-height;
        }
    }

    .expander-content a {
        color: inherit;
        text-decoration: underline;
    }
    .expander-content img {
        display: block;
        margin: 1rem auto;
    }

    .expander-content img.left {
        display: block;
        margin-left: 0px;
    }

    .expander-hidden {
        &::before {
            content: "\25BA";
            font-size: $expander-arrow-width;
        }
    }

    .expander-hidden + .expander-content {
        display: none;
    }
}

#mlsHandout {
    text-decoration: none;
    color: $white;
}

