#progress-wrapper {
    background-color: #557A8E;
    background: linear-gradient(to right, #557A8E 75%, #CFDDD9);
    padding: 0;
    z-index: 9999;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.section-nav {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    height: 100%;
    background: $gray-dark;

    h4 {
        padding: 2rem 1rem 0;
        color: $gray-light;

        @media only screen and (max-height : 660px) {
            padding: 1rem 1rem 0;
        }
    }
    #sectionNav {
        position: absolute;
        top: 1.25rem;
        right: -60px;
        width: 40px;
        height: 25px;
        outline: none !important;

        .menubar {
            width: 100%;
            height: 3px;
            position: absolute;
            background: $black;
            border-radius: 1.5px;
            outline: none !important;

            &.nav-one {
                top: 0;
            }
            &.nav-two, &.nav-three {
                top: 50%;
                @include transform(translateY(-50%));
            }
            &.nav-four {
                bottom: 0;
            }
        }
    }
    .menu {

        li:not(:last-child) {
            border-bottom: 1px solid $black;
        }
        li a {
            position: relative;
            font-size: 0.9rem;
            line-height: 1.2rem;
            //text-transform: capitalize;
            padding-right: 2rem;

            span {
                position: absolute;
                left: 5%;
                bottom: -1px;
                width: 90%;
                height: 1px;
                background-color: $yellow;
                text-align: center;
            }
            @media only screen and (max-height : 660px) {
                padding: 0.5rem 1rem;
            }
            @media only screen and (max-height : 550px) {
                padding: 0.25rem 1rem;
            }
            &.viewed {

                &:after {
                    content: '\f126';
                    font-family: 'foundation-icons';
                    position: absolute;
                    right: 0.5rem;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
            }
        }
    }
}

.home-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 100;

    #goHome {
        font-size: 1.5rem;
        width: 3rem;
        height: 2rem;
        margin: 0;
        padding: 0;
        border: 1px solid $black;
        border-radius: 500px;

        &:hover {
            color: $yellow;
            background-color: $black;
        }
        &:active {
            @include transform(scale(0.9));
        }
    }
}

.ls-nav {
    visibility: hidden;
}

.ls-header {
    opacity: 0;
    width: 100%;
    height: 110vh;
    background: $yellow-light url('../img/ls/bkg-pattern.png') left top repeat;
    color: $black;
    overflow-y: hidden;

    #checklist {
        position: relative;
        top: 50%;
        @include transform(translateY(-55%));

        .cl-title {
            width: 100%;
            margin-bottom: 1rem;
            line-height: 2;
            text-align: center;
            border-bottom: 1px solid #000;
        }
        .cl-items {
            list-style: none;
            margin: 3rem 3rem 2rem 3rem;

            .item {
                margin-left: 100px;
                position: relative;

                a {
                    color: $black;
                    font-size: 1.4rem;
                    line-height: 2;
                }

                @media screen and (min-width: 64rem) {
                    line-height: 1.5;
                }

                .circle {
                    position: relative;
                    top: 36px;
                    left: -75px;
                    width: 25px;
                    height: 25px;
                    border: 3px solid $black;
                    background: transparent;
                    @include border-top-radius(50%);
                    @include border-bottom-radius(50%);
                    @include transform(all 0.25s ease-in-out);
                }
                &:hover {
                    a {
                        font-weight: bold;
                    }

                    .circle {
                        background: $black;
                    }
                }
            }
            &.one {
                .item:nth-child(1) {

                    a {
                        font-weight: bold;
                    }
                    .circle {
                        background: $black;
                    }
                }
            }
            &.two {
                .item:nth-child(2) {
                    font-weight: bold;

                    .circle {
                        background: $black;
                    }
                }
            }
            &.three {
                .item:nth-child(3) {
                    font-weight: bold;

                    .circle{
                        background: $black;
                    }
                }
            }
            &.four {
                .item:nth-child(4) {
                    font-weight: bold;

                    .circle {
                        background: $black;
                    }
                }
            }
            &.five {
                .item:nth-child(5) {
                    font-weight: bold;

                    .circle{
                        background: $black;
                    }
                }
            }
            &.six {
                .item:nth-child(6) {
                    font-weight: bold;

                    .circle{
                        background: $black;
                    }
                }
            }
        }
    }
}

.ls-footer {
    @extend .ls-header;
    opacity: 1;
    border-top: 1px solid $black;

    #checklist {
        .cl-items {

            &.one {
                .item:nth-child(1) {
                    a {
                        font-weight: bold;
                        text-decoration: underline;
                    }
                    &:after {
                        width: 24px;
                        height: 24px;
                        margin-top: -12px;
                        border-left: 1px solid $black;
                        border-bottom: 1px solid $black;
                        box-sizing: border-box;
                        content: "";
                        position: absolute;
                        display: block;
                        right: 1rem;
                        top: 55%;
                        @include animation(scrollRight 1.7s infinite);
                    }
                }
            }
            &.two {

                .item:nth-child(-n+2) {
                    a {
                        font-weight: bold;
                        text-decoration: none;
                    }
                    &:after {
                        display: none;
                    }
                }
                .item:nth-child(2) {
                    a {
                        text-decoration: underline;
                    }
                    &:after {
                        width: 24px;
                        height: 24px;
                        margin-top: -12px;
                        border-left: 1px solid $black;
                        border-bottom: 1px solid $black;
                        box-sizing: border-box;
                        content: "";
                        position: absolute;
                        display: block;
                        right: 1rem;
                        top: 55%;
                        @include animation(scrollRight 1.7s infinite);
                    }
                }
            }
            &.three {

                .item:nth-child(-n+3) {
                    a {
                        font-weight: bold;
                        text-decoration: none;
                    }
                    &:after {
                        display: none;
                    }
                }
                .item:nth-child(3) {
                    a {
                        text-decoration: underline;
                    }
                    &:after {
                        width: 24px;
                        height: 24px;
                        margin-top: -12px;
                        border-left: 1px solid $black;
                        border-bottom: 1px solid $black;
                        box-sizing: border-box;
                        content: "";
                        position: absolute;
                        display: block;
                        right: 1rem;
                        top: 55%;
                        @include animation(scrollRight 1.7s infinite);
                    }
                }
            }
            &.four {

                .item:nth-child(-n+4) {
                    a {
                        font-weight: bold;
                        text-decoration: none;
                    }
                    &:after {
                        display: none;
                    }
                }
                .item:nth-child(4) {
                    a {
                        text-decoration: underline;
                    }
                    &:after {
                        width: 24px;
                        height: 24px;
                        margin-top: -12px;
                        border-left: 1px solid $black;
                        border-bottom: 1px solid $black;
                        box-sizing: border-box;
                        content: "";
                        position: absolute;
                        display: block;
                        right: 1rem;
                        top: 55%;
                        @include animation(scrollRight 1.7s infinite);
                    }
                }
            }
            &.five {

                .item:nth-child(-n+5) {
                    a {
                        font-weight: bold;
                        text-decoration: none;
                    }
                    &:after {
                        display: none;
                    }
                }
                .item:nth-child(5) {
                    a {
                        text-decoration: underline;
                    }
                    &:after {
                        width: 24px;
                        height: 24px;
                        margin-top: -12px;
                        border-left: 1px solid $black;
                        border-bottom: 1px solid $black;
                        box-sizing: border-box;
                        content: "";
                        position: absolute;
                        display: block;
                        right: 1rem;
                        top: 55%;
                        @include animation(scrollRight 1.7s infinite);
                    }
                }
            }
            &.six {

                .item:nth-child(-n+6) {
                    a {
                        font-weight: bold;
                        text-decoration: none;
                    }
                    &:after {
                        display: none;
                    }
                }
                .item:nth-child(6) {
                    a {
                        text-decoration: underline;
                    }
                    &:after {
                        width: 24px;
                        height: 24px;
                        margin-top: -12px;
                        border-left: 1px solid $black;
                        border-bottom: 1px solid $black;
                        box-sizing: border-box;
                        content: "";
                        position: absolute;
                        display: block;
                        right: 1rem;
                        top: 55%;
                        @include animation(scrollRight 1.7s infinite);
                    }
                }
            }
        }
    }
}

.learning-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: table;

    .ls-content {
        display: table-cell;
        vertical-align: middle;
    }
}  

#why-am-i-here {
    @include yellowSection;
    height: 110vh;
    background: transparent;
    position: relative;
    z-index: 1000;

    .gradient {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('../img/ls/bkg-pattern.png') left top repeat;
        z-index: 1;
    }
    .ls-content {
        margin-top: -5%;
        position: relative;
        z-index: 3;
    }        
}


#find-best-comps {
    @include darkSection;
    position: relative;

    .content {
        position: relative;
        //top: 0;
        z-index: 5;
        //margin-top: -5%;
        // padding: 7rem 0 2rem;
        //background: $bkg;

        h2 {
            margin-bottom: 1rem;
        }
    }
}

#what-is-a-supported-appraisal {
    @include lightSection;

    .content {
        position: relative;
        top: 0;
        z-index: 5;
        padding: 7rem 0 2rem;
        background: $bkg;

        h2 {
            margin-bottom: 1rem;
        }
    }

    #box-wrapper {
        width: 900px;
        height: 600px;
        margin: 34rem auto 0;
        overflow: visible;

        #house {
            display: block;
            width: 100%;
            height: 100%;
            background: url('../../assets/img/ls/mansion.svg') center bottom no-repeat;
            background-size: 700px 600px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            transform-origin: center center;
        }
        #box-front {
            display: block;
            width: 100%;
            height: 100%;
            background: url('../../assets/img/ls/box-front.svg') center bottom no-repeat;
            background-size: 1000px 700px;
            position: absolute;
            left: 0;
            bottom: 100px;
            z-index: 3;
        }
        #box-back {
            display: block;
            width: 100%;
            height: 100%;
            background: url('../../assets/img/ls/box-back.svg') center center no-repeat;
            background-size: 741px 600px;
            position: absolute;
            bottom: -193px;
            left: -25px;
        }
    }
}

#you-find {
    @include darkSection;
    height: 75vh;
}

#gray-spacer {
    @include darkSection;
    height: 10vh;
}

#packing-boxes {
    width: 100%;
    height: 100%;
    background-color: #ecebec;
    @include aspect-ratio(16, 9);
}

#what-happens {
    width: 100%;
    height: 100vh;
    background: $bkg;
    color: $black;
    height: 15rem;
    //margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 5rem;
    position: relative;
}

.slideContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.slideContent {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 7;
    text-align: center;

    &.conventional {
        top: 0;
        left: 0;
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
    }
    &.supported {
        top: 0;
        right: 0;
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
    }
    label {
        color: white;
        font-size: 1rem;
        font-weight: bold;
        display: inline-block;
        padding: 5px 55px;
        border: 2px solid white;
        margin-top: 4rem;
    }
    p {
        color: white;
        font-size: 1.5rem;
        width: 70%;
        margin: 5rem auto;
    }
}

#supported-appraisal-book {
    @include lightSection;
    height: 125vh;
    position: relative;
    z-index: 7;

    h2 {
        font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
        margin-bottom: 3rem;
    }
    #eReader {
        width: 550px;
        height: 700px;
        margin: 1rem auto;
        background: url('../img/e-reader.svg') center center no-repeat;
        background-size: 550px 700px;
        overflow: hidden;
        font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

       .eContent {
            padding: 130px 110px;
            text-align: justify;
        }
    }
}

#supported-appraisal-content-2-2 {
    @include lightSection;
    height: auto;
    padding-bottom: 5rem;
}

#clarify-expectations {
    @include darkSection;
    padding-top: 5rem;
    padding-bottom: 5rem;

    $size-a: .5rem;
    $size-b: .75rem;
    $size-c: 2rem;
    $size-border: 3px;

    .custom-bullet {
      margin-left: 0;
      list-style: none;
      counter-reset: counter;

      > li:before {
        counter-increment: counter;
        content: counter(counter);
      }
    }

    .custom-bullet--a {
      position: relative;
      margin: 2rem 2rem;

      > li {
        &:before {
          position: relative;
          display: inline-block;
          z-index: 100;
          width: $size-c;
          height: $size-c;
          margin-right: $size-b;
          margin-bottom: $size-b;
          border: $size-border solid $white;
          text-align: center;
          color: $white;
          background-color: $dark-gray;
          border-radius: 50%;
          counter-increment: counter;
          content: counter(counter);
        }

        &:last-child:before {
          margin-bottom: 0;
        }
      }
    }
}

#next {
    width: 100%;
    height: 25vh;
    display: table;

    .next-ls {
        width: 100%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;

        a {
            color: $black;
            font-size: 2rem;
        }
    }
}

