.ls-header {
    background: url('../img/ls/bkg-pattern.png') left top repeat;

    #cl-items {



        li:first-child {
            font-weight: bold;

            .square {
                background-color: $black;
            }
        }
    }
} 

.circle-shape { 
    margin: 1rem; 

    .curve { 
        width: 33%;
        height: auto;
        min-width: 150px;
        float: left;
        margin-right: 5rem; 
        border-radius: 50%;
    }
    h2,p {
        margin-left: 27rem;
    }
    ol,ul {
        margin-left: 27rem;
    }
    
    li {
        display: list-item;
        padding: 0.25rem;
    }
}

#ls1-intro {
    background: url('../img/ls/1/ls-1-bg.svg');
    @include introSection;

    @media only screen and (max-width : 1200px) {
        //background-position-x: -170px;
        background-position-y: 400px;
        background-size: 600px 600px;
    }
    
    .intro-content {
        margin-top: 8rem;
        color: $black;

        @media only screen and (max-width : 1200px) {
            margin-top: 1rem;
            margin-left: 2rem;

            h1 {
                font-size: 2rem;
            }
        }
    }
}

#what-am-i-trying-to-solve {
    @include lightSection;
    background: $blue-light;
    height: auto;
    padding: 5rem 0 0 0;

    #comparisonVideo {
        width: 100%;
        margin-top: 3rem;
        @include aspect-ratio(16, 9);
    }

    #video-description {
        position: relative;
        left: 63%;
        width: 38%;
        color: white;
        font-size: 1.65vw;
        line-height: 1.65;
        padding-right: 5%;
        margin-left: 0rem;
        top: 45vw;
        z-index: 99;
        visibility: hidden;
    }

    .show-me {
        visibility: visible;
    }
}


#price-of-privacy {
    @include darkSection;
    //background-color: $blue;
    width: 100%;
    height: 100vh;

    .content {
        display: table-cell;
        vertical-align: middle;

        span.yellow {
            color: $yellow;
        }

        .button.video {
            color: #8a8a8a;
            background-color: #fefefe;
            font-weight: bold;
            padding: .50rem 1.75rem;
            width: 11rem;
            font-size: 1.25rem;
        }
    }
}

#story-video-ls1,
#rick-video-ls1 {
    @include blueSection;
    //background-color: $blue;
    width: 100%;
    height: 100vh;

    .content {
        display: table-cell;
        vertical-align: middle;

        span.yellow {
            color: $yellow;
        }

        .button.video {
            color: #8a8a8a;
            background-color: #fefefe;
            font-weight: bold;
            padding: .50rem 1.75rem;
            width: 11rem;
            font-size: 1.25rem;
        }
        .hide-button {
            display: none;
        }
        .show-button {
            display: inline;
        }
    }
}

#real-life-examples {
    @include lightSection;
}

#do-more-front-end-research {
    @include blueSection;
}

#know-before-you-go {
    @include darkSection;
} 

#dont-embarass-yourself {
    background: $bkg;
    color: $black;
    padding: 5rem 0 2.5rem;
}

#mansion {
    width: 1270px;
    margin: 0 auto;
    padding: 1rem 0 3rem;
    background: $bkg;
    position: relative;

    @media screen and (max-width: 1024px) {
        width: 1000px;
    }

    #map {
        width: 1000px;
        height: 667px;
        margin-bottom: 5rem;
        position: relative;
        float: left;

        @media screen and (max-width: 1024px) {
            width: 800px;
        }

        img {
            width: 1000px;
            height: 667px;
            margin: 0 auto;
            // @media only screen and (max-width : 999px) {
            //     width: 700px;
            //     height: 467px;
            // }

            @media screen and (max-width: 1024px) {
                width: 800px;
            }
        }
        .offscreen {
            clip: rect(1px 1px 1px 1px); /* IE 6/7 */
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap; /* added line */
            width: 1px;
        }
        .marker {
            width: 50px;
            height: 70px;
            position: absolute;
            background: url('../img/ls/dey-marker-off.svg') center center no-repeat;
            background-size: contain;

            @media screen and (max-width: 1024px) {
                width: 40px;
                height: 60px;            }

            &.active {
                background: url('../img/ls/dey-marker-on.svg') center center no-repeat;
            }
            &:hover {
                cursor: pointer;
            }
            &#marker1 {
                top: 215px;
                left: 325px;

                @media screen and (max-width: 1024px) {
                    top: 225px;
                    left: 260px;
                }
            }
            &#marker2 {
                top: 90px;
                right: 345px;
                @include transform-origin(center center);
                @include transform(rotate(180deg));

                @media screen and (max-width: 1024px) {
                    top: 90px;
                    right: 280px;
                }
            }
            &#marker3 {
                bottom: 490px;
                right: 140px;

                @media screen and (max-width: 1024px) {
                    bottom: 490px;
                    right: 112px;
                }
            }
            &#marker4 {
                bottom: 110px;
                right: 460px;

                @media screen and (max-width: 1024px) {
                    bottom: 110px;
                    right: 368px;
                }
            }
        }
    }
    .markerInfo {
        width: 270px;
        height: 667px;
        background: $white;
        display: table;
        position: relative;
        float: left;
        overflow: visible;

        @media screen and (max-width: 1024px) {
            width: 200px;
        }

        p {
            width: 88%;
            margin-bottom: 0;
            padding: 0 8% 0 4%;
            display: table-cell;
            vertical-align: middle;
        }
        &:before {
            content: '';
            display: block;
            width: 0; 
            height: 0; 
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent; 
            border-right:30px solid $white; 
            position: absolute;
            z-index: 999;
            top: 50px;
            left: -30px;
        }
    }
}

#ways-to-keep-up {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    clear: left;
    //padding: 5rem 0;

    h2 {
        margin-bottom: 2rem;
    }
    #keep-up {
        width: 100%;
        min-height: 100vh;
        margin: 1.5rem auto;
        padding: 0;

        ul {
            width: 100%;
            min-height: 100vh;
            list-style: none;
            margin-left: 0;

            li {
                width: 50%;
                height: 45vh;
                float: left;
                margin: 0;
                padding: 1rem 2.5rem;
                background: $blue-light;
                color: $white;
                font-weight: bold;
                line-height: 1.62em;
                text-align: center;
                //display: table;
                display: flex;
                justify-content: center; /* align horizontal */
                align-items: center; /* align vertical */
                
                p {
                    //display: table-cell;
                    vertical-align: middle;

                    a {
                        text-decoration: none;
                        color: $white;
                        border-bottom: 2px solid $white;
                        font-style: italic;
                    }
                }
                &.one {
                    background-image: url(../img/ls/1/keep-up/1-1.svg), url(../img/ls/1/keep-up/1-2.svg);
                    background-repeat: no-repeat, no-repeat;
                    background-size: 300px 275px, 380px 250px;
                    background-position: top left, bottom right;
                    background-color: $blue;
                }  
                &.two {
                    background-image: url(../img/ls/1/keep-up/2-1.svg), url(../img/ls/1/keep-up/2-2.svg);
                    background-repeat: no-repeat, no-repeat;
                    background-size: 250px 250px, 250px 200px;
                    background-position: right top, left bottom;
                    background-color: $blue-light;
                    color: $black;

                    p {
                        a {
                            color: $black;
                            border-color: $black;
                        }
                    }
                } 
                &.three {
                    background-image: url(../img/ls/1/keep-up/3-1.svg), url(../img/ls/1/keep-up/3-2.svg);
                    background-repeat: no-repeat, no-repeat;
                    background-size: 200px 200px, 300px 250px;
                    background-position: left bottom, right top;
                    background-color: $red;
                } 
                &.four {
                    background-image: url(../img/ls/1/keep-up/4-1.svg), url(../img/ls/1/keep-up/4-2.svg);
                    background-repeat: no-repeat, no-repeat;
                    background-size: 300px 275px, 300px 225px;
                    background-position: top left, bottom right;
                    background-color: $yellow;
                    color: $black;

                    p {
                        a {
                            color: $black;
                            border-color: $black;
                        }
                    }
               } 
                &.five {
                    background-image: url(../img/ls/1/keep-up/5.svg);
                    background-repeat: no-repeat;
                    background-size: 350px 250px;
                    background-position: center bottom;
                    background-color: $blue-light;
                    color: $black;
                    padding-top: 4rem;

                    p.google {
                        //vertical-align: top;
                        margin-bottom: auto;
                        a {
                            color: $black;
                            border-color: $black;
                        }
                    }
                } 
                &.six {
                    background-image: url(../img/ls/1/keep-up/6.svg), url(../img/ls/1/keep-up/6-1.svg);
                    background-repeat: no-repeat, no-repeat;
                    background-size: 220px 200px, 200px 200px;
                    background-position: top right, bottom left;
                    background-color: $blue;
                }  
                &.seven {
                    background-image: url(../img/ls/1/keep-up/7-1.svg), url(../img/ls/1/keep-up/7-2.svg);
                    background-repeat: no-repeat, no-repeat;
                    background-size: 250px 300px, 225px 250px;
                    background-position: left bottom, right top;
                    background-color: $blue;
                } 
                &.eight {
                    background-image: url(../img/ls/1/keep-up/8-1.svg), url(../img/ls/1/keep-up/8-2.svg);
                    background-repeat: no-repeat, no-repeat;
                    background-size: 300px 150px, 125px 125px;
                    background-position: center top, center bottom;
                    background-color: $blue-light;
                    color: $black;

                    p {
                        a {
                            color: $black;
                            border-color: $black;
                        }
                    }
                } 
                &.nine {
                    background-image: url(../img/ls/1/keep-up/9-1.svg);
                    background-repeat: no-repeat, no-repeat;
                    background-size: 350px 150px, 475px 200px; 
                    background-position: center bottom, center top;
                    background-color: $yellow;
                    color: $black;
                    padding-top: 4rem;

                    p {
                        margin-bottom: auto;
                        //vertical-align: top;
                        a {
                            color: $black;
                            border-color: $black;
                        }
                    }
                } 
                &.ten {
                    background-image: url(../img/ls/1/keep-up/10-1.svg), url(../img/ls/1/keep-up/10-2.svg), url(../img/ls/1/keep-up/10-3.svg);
                    background-repeat: no-repeat, no-repeat, no-repeat;
                    background-size: 225px 225px, 175px 150px, 125px 125px;
                    background-position: right top, left top, center bottom;
                    background-color: $red;
                } 
            }
        }
    }
}

#explain-it-well {
    @include blueSection;
}

#red-river-trail-problem {
    @include intro;
    background: transparent url('../img/property_tour/1/exterior-front.jpg') center center no-repeat;
    background-size: cover;

    // h2 {
    //     margin-top: 5rem;
    // }

    small {
        color: $gray;
    }

    .propertyExplanation {
        margin: 0;
        padding-right: 2.5rem;

        img {
            width: 100%;
            margin: 2rem 0 1rem;
        }
        i {
            font-size: 2.5rem;
            line-height: 1;
            padding: 0.5rem 1rem 0.4rem;
            border-radius: 50%;
            background: $white;
            color: darken($gray-light, 15%);
            margin-right: -2.5rem;
        }
    }

    .appraisalProblem {
        width: 50%;
    }
    .propertyDetails {
        position: relative;
        width: 40%;
        height: 15rem;
        left: 55%;
        top: -14rem;

    }
    .propertyDetailsList {
        list-style: none;
        margin: 1rem auto;
        width: 100%;
        background: $white;
        border: 1px solid $gray-light;
        @include border-top-radius(5px);
        @include border-bottom-radius(5px);

        li {
            padding: 0.25rem 1.5rem;

            &:not(:last-child) {
                border-bottom: 1px solid $gray-light;
            }
            label {
                font-weight: bold;
                text-transform: uppercase;
                //color: darken($gray-light, 15%);
                color: $gray-dark;
            }
        }
    } 
}

#gloc-video {
    background: $gray;
    color: $white;
    padding-top: 5rem;

    video {
        margin: 3rem 0;
    }
    #knowledgeCheck {
        width: 100%;
        margin-top: 2rem;
        
        .check {
            width: 20%;
            height: 400px;
            float: left;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            position: relative;

            .front, .back {
                position: absolute;
                overflow: hidden;
                width: 100%;
                height: 100%;

                &:after {
                    position: absolute;
                    top: 2.5%;
                    left: 2.5%;
                    width: 95%;
                    height: 95%;
                    display: block;
                    background: transparent;
                    // border: 1px solid $gray;
                    content: '';
                }
            }
            .front {

                p {
                    margin-top: 3rem;
                }
            }
            .back {
                background-color: inherit;
                color: $black;
                overflow: visible;

                img {
                    @include size(150px 150px);
                    text-align: center;
                    position: relative;
                    top: -75px;
                    margin-bottom: -75px;
                }
                p {
                    font-size: 0.9rem;
                    font-weight: 400;
                    line-height: 1.4;
                    padding: 0.5rem 1rem;
                    margin: 0;

                    &.title {
                        text-align: center;
                        font-size: 1rem;
                        font-weight: bold;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                }
            }
            &.showing {

                .back {
                    backface-visibility: visible !important;
                }
            }
            .flipToggle {
                position: absolute;
                z-index: 999;
                bottom: 0.5rem;
                left: 50%;
                @include transform(translateX(-50%));
                width: 100px;
                height: auto;
                color: $white;
                font-size: 2rem;

                &.flipped {
                    @include transform(rotateX(-270deg));
                    @include transform-origin(center center);
                    @include transition-duration(0.33s);
                }
            }
            &.lion {
                background-image: url(../img/ls/1/knowledge-check/lion.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $yellow;
                color: $black;

                .flipToggle {
                    color: $black;
                }
                .front, .back {

                    &:after {
                        // border-color: $black;
                    }
                }
            }
            &.location {
                background-image: url(../img/ls/1/knowledge-check/location.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $blue;
 
                .back {color:$white;}
            }
            &.size {
                background-image: url(../img/ls/1/knowledge-check/lot-size.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $bkg;
                color: $black;

                .flipToggle {
                    color: $black;
                }
                .front, .back {

                    &:after {
                        // border-color: $black;
                    }
                }
            }
            &.resident {
                background-image: url(../img/ls/1/knowledge-check/resident.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $red;

                .back {color:$white;}
            }
            &.entertainment {
                background-image: url(../img/ls/1/knowledge-check/entertainment.svg);
                background-repeat: no-repeat;
                background-size: 270px 270px;
                background-position: 225% 102%;
                background-color: $blue;

                .back {color:$white;}
            }
        }
    }
}

#points-to-remember-l1 {
    @include lightSection;
    height: auto;
    padding: 5rem 0;
    position: relative;
    overflow: hidden;

    .alpha-ramp {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    h2 {
        position: relative;
        z-index: 99;
        font-size: 5rem;
        color: $white;
    }
    .points-to-remember {
        width: 100%;
        margin: 1rem 0;
        position: relative;
        z-index: 99;

        ul {
            list-style: none;
            width: 100%;
            margin-left: 0;
            padding: 2rem 3rem;
            position: relative;
            z-index: 99;
            font-size: 1.4rem;
            color: $white;
            visibility: hidden;

            li {
                padding: 1rem 2rem;
                margin-bottom: 0.5rem;
                font-weight: bold;
                line-height: 1.4em;
                // background: $green;
                // border-radius: 5px;

                &:not(:last-child) {
                    border-bottom: none;
                }
            }
            .l1,.l2,.l3,.l4 {
                position: absolute;
                background: transparent;
                width: 0px;
                height: 0px;
                background-color: $white;
            }
            .l1 {
                left: 0;
                bottom: 0;
                height: 100%;
                width: 4px;
            }
            .l2 {
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
            }
            .l3 {
                right: 0;
                top: 0;
                height: 100%;
                width: 4px;
            }
            .l4 {
                bottom: 0;
                right: 0;
                width: 100%;
                height: 4px;
            }
        }
    }
    .downloads {
        position: relative;
        z-index: 99;
        margin-top: 2rem;
        color: $white;

        .button {
            color: $white;
            border-color: $white;
        }
    }
    .asterisk {
        @include asterisk;
    }         
}

