.ls-header {
    // see .../scss/pages/_learning.scss

    .scrollDown {
        bottom: 24px;
    }
}

.circle-shape { 
    // see .../scss/components/_mixins.scss
}

#ls4-intro {
    background: url(../img/ls/4/ls4-bg.svg) no-repeat;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #F4E066;
    background-repeat: no-repeat;
    background-position-x: -234px;
    background-position-y: 192px;
    background-size: 80% 80%;

    @media only screen and (max-width: 1200px) {
        background-position-x: -30px;
        background-position-y: 400px;
        background-size: 600px 600px;
    }

    p.learning-section-number {
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    
    .intro-content {
        margin-top: 9rem;
        color: $black;

        li {
            font-weight: 700;
        }
        @media only screen and (max-width: 1200px) {
            margin-top: 1rem;

            h1 {
                font-size: 2rem;
            }
        }
    }
}

#providing-support {
    @include lightSection;
    background: linear-gradient(to bottom left, $white, rgba($gray, 0.33));
}

#support-for-adjustments {
    @include darkSection;
    padding: 5rem 0;
    background: linear-gradient(to bottom left, rgba($black, 0.57), rgba($black, 0.77));

     video {
        margin: 2.5rem 0 5rem;
    }
}

#story-video,
#rick-video {
    @include blueSection;
    //background-color: $blue;
    width: 100%;
    height: 100vh;

    .content {
        display: table-cell;
        vertical-align: middle;
    }
    .button.video {
        color: #8a8a8a;
        background-color: #fefefe;
        font-weight: bold;
        padding: .50rem 1.75rem;
        width: 11rem;
        font-size: 1.25rem;
    }
}

#support-look-like {
    @include lightSection;
    background: linear-gradient(to bottom left, $white, rgba($gray, 0.33));

    .circle-shape {
        overflow: hidden;

        ol {
            list-style-position: outside;
        }
    }
}

#base-your-adjustments {
    @include darkSection;
    background: linear-gradient(to bottom left, rgba($black, 0.57), rgba($black, 0.77));
    padding-top: 4rem;
    padding-bottom: 4rem;

    .circle-shape {
        overflow: hidden;

        ol {
            list-style-position: inside;
        }
    }

    #par-for-the-course {
        margin-top: 5rem;

        .button.video {
            color: #8a8a8a;
            background-color: #fefefe;
            font-weight: bold;
            padding: .50rem 1.75rem;
            width: 11rem;
            font-size: 1.25rem;
        }
    }
}

#canned-statements {
    @include lightSection;
    background: $blue-light;
    height: 70VH;
    padding: 5rem 0 2.5rem;
}

#determine-adjustments {
    @include lightSection;
    background: linear-gradient(to bottom left, $white, rgba($gray, 0.33));
    padding-top: 4rem;
    padding-bottom: 4rem;
    
    .side-by-side {
        text-align: center;
    }

    h3 {
        text-align: center;
        margin-bottom: -2rem;
    }

    h2 {
        margin-top: 2rem;
    }

    img {
        margin: 2rem auto;
    }
    
    table {
        font-size: .75rem;
        width: 75%;
        margin: 4rem auto;

        .pair {
            font-weight: bold;
        }
    }

    td {
        border: 1px solid #ddd;
        text-align: center;
    }

    td.align-left {
        text-align: left;
    }

    td.price-diff,
    td.gla,
    td.gla-diff,
    td.price-sqft  {
        text-align: center;
        vertical-align: middle;
    }

    td.median {
        text-align: center;
        font-weight: bold;
    }
}

#gloc-video-four {
    background: $blue-light;
    color: $black;
    padding-top: 5rem;
    padding-bottom: 5rem;

    video {
        margin: 0;
    }

     label {
        font-size: 1.4rem;
        cursor: pointer;
        min-width: 50px;
        position:relative;  
    }
    .radio .custom {
      margin-left: 25px;
      margin-right: 25px;
    }

    [type="radio"] {
        border: 0; 
        clip: rect(0 0 0 0); 
        height: 1px; margin: -1px; 
        overflow: hidden; 
        padding: 0; 
        position: absolute; 
        width: 1px;
    }

    [type="radio"] + span::before {
            content: '';
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
            vertical-align: -0.25rem;
            border-radius: 1rem;
            border: 0.25rem solid #CFDDD9;
            box-shadow: 0 0 0 0.15rem #000;
            margin-right: 0.50rem;
            transition: 0.5s ease all;
    }

    [type="radio"]:checked + span::before {
        background: $black;
        box-shadow: 0 0 0 0.15em #000;
    }

    [type="radio"]:focus + span::after {
        //content: '\0020\2190';
        font-size: 1.5em;
        line-height: 1;
        vertical-align: -0.125em;
    }

    .correct {
        color: green;
    }

    .incorrect {
        color: red;
    }



    #knowledgeCheck {
        width: 100%;
        margin-top: 2rem;
        
        .check {
            width: 20%;
            height: 400px;
            float: left;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            position: relative;

            .front, .back {
                position: absolute;
                overflow: hidden;
                width: 100%;
                height: 100%;

                &:after {
                    position: absolute;
                    top: 2.5%;
                    left: 2.5%;
                    width: 95%;
                    height: 95%;
                    display: block;
                    background: transparent;
                    // border: 1px solid $gray;
                    content: '';
                }
            }
            .front {

                p {
                    margin-top: 3rem;
                }
            }
            .back {
                background-color: inherit;
                color: $black;

                p {
                    font-size: 0.9rem;
                    font-weight: 400;
                    text-align: left;
                    line-height: 1.4;
                    padding: 0.5rem 1rem;
                    margin: 0.5rem 0 !important;

                    &:first-child {
                        text-align: center;
                        font-size: 1rem;
                        font-weight: bold;
                        padding-top: 1rem;
                        padding-bottom: 0;
                    }
                }
            }
            &.showing {

                .back {
                    backface-visibility: visible !important;
                }
            }
            .flipToggle {
                position: absolute;
                z-index: 999;
                bottom: 0.5rem;
                left: 50%;
                @include transform(translateX(-50%));
                width: 100px;
                height: auto;
                color: $white;
                font-size: 2rem;

                &.flipped {
                    @include transform(rotateX(-270deg));
                    @include transform-origin(center center);
                    @include transition-duration(0.33s);
                }
            }
            &.one {
                // background-image: url(../img/learning-sections/knowledge-check/lion.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $yellow;
                color: $black;

                .flipToggle {
                    color: $black;
                }
                .front, .back {

                    &:after {
                        // border-color: $black;
                    }
                }
            }
            &.two {
                // background-image: url(../img/learning-sections/knowledge-check/location.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $blue;
 
                .back {color:$white;}
            }
            &.three {
                // background-image: url(../img/learning-sections/knowledge-check/lot-size.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $bkg;
                color: $black;

                .flipToggle {
                    color: $black;
                }
                .front, .back {

                    &:after {
                        // border-color: $black;
                    }
                }
            }
            &.four {
                // background-image: url(../img/learning-sections/knowledge-check/resident.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $red;

                .back {color:$white;}
            }
            &.five {
                // background-image: url(../img/learning-sections/knowledge-check/entertainment.svg);
                background-repeat: no-repeat;
                background-size: 270px 270px;
                background-position: 225% 102%;
                background-color: $blue;

                .back {color:$white;}
            }
        }
    }
    #knowledge-check-response  {
    
    display: none;

    .kc-correct {
        border-radius: 20px;
        background-image: url(../img/ls/knowledge-checks/answer-correct.png);    
        background-repeat: no-repeat, no-repeat;
        background-position: 20px 20px;
        padding: 2rem 2rem 0 6rem;
        background-color: #FAFFFD;
        width: 46rem;
        margin-top: 2rem;
        height: 10rem;
    }

    .kc-incorrect {
        border-radius: 20px;
        background-image: url(../img/ls/knowledge-checks/answer-incorrect.png);    
        background-repeat: no-repeat, no-repeat;
        background-position: 20px 20px;
        padding: 2rem 2rem 0 6rem;
        background-color: #FAFFFD;
        width: 46rem;
        margin-top: 2rem;
        height: 12rem;
    }
}

    .button.success,
    .button.success:hover, 
    .button.success:focus {
        background-color: $yellow;
        color: $black;
        font-weight: bold;
        margin-left: 2rem;
        margin-top: 2rem;
        padding: 10px 22px;
    }

    .button.secondary,
    .button.secondary:hover,
    .button.secondary:focus {
        background-color: #427789;
        font-weight: bold;
        margin-left: 1rem;
        margin-top: 2rem;
        padding: 10px 22px;
    }
}

#points-to-remember-l4 {
    @include lightSection;
    height: auto;
    padding: 5rem 0;
    position: relative;
    overflow: hidden;

    .alpha-ramp {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    h2 {
        position: relative;
        z-index: 99;
        font-size: 5rem;
        color: $white;
    }
    .points-to-remember {
        width: 100%;
        margin: 1rem 0;
        position: relative;
        z-index: 99;

        ul {
            list-style: none;
            width: 100%;
            margin-left: 0;
            padding: 2rem 3rem;
            position: relative;
            z-index: 99;
            font-size: 1.4rem;
            color: $white;
            visibility: hidden;

            li {
                padding: 1rem 2rem;
                margin-bottom: 0.5rem;
                font-weight: bold;
                line-height: 1.4em;
                // background: $green;
                // border-radius: 5px;

                &:not(:last-child) {
                    border-bottom: none;
                }
            }
             .l1,.l2,.l3,.l4 {
                position: absolute;
                background: transparent;
                width: 0px;
                height: 0px;
                background-color: $white;
            }
            .l1 {
                left: 0;
                bottom: 0;
                height: 100%;
                width: 4px;
            }
            .l2 {
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
            }
            .l3 {
                right: 0;
                top: 0;
                height: 100%;
                width: 4px;
            }
            .l4 {
                bottom: 0;
                right: 0;
                width: 100%;
                height: 4px;
            }
        }
    }
    .downloads {
        position: relative;
        z-index: 99;
        margin-top: 2rem;
        color: $white;

        .button {
            color: $white;
            border-color: $white;
        }
    }
    .asterisk {
        @include asterisk;
    }         
}

