.ls-header {
    // see .../scss/pages/_learning.scss

    .scrollDown {
        bottom: 24px;
    }
}

.circle-shape { 
    // see .../scss/components/_mixins.scss

    overflow: auto;

    h2.be-prepared {
        margin-top: 4rem;
    }
}

#ls5-intro {
    background: url(../img/ls/5/ls5-bg.svg) no-repeat;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #F4E066;
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: 140px;
    background-size: 80% 80%;

     @media only screen and (max-width : 1200px) {
        background-position: 50% 100%;
        background-size: 40% 40%;
    }

    p.learning-section-number {
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .intro-content {
        margin-top: 9rem;
        margin-left: 35rem;
        color: $black;

        @media only screen and (max-width : 1200px) {
            margin: 3rem auto 0 auto;
            width: 36rem;
        }
    }
}

#verification-is-continuous {
    @include darkSection;
    background: linear-gradient(to bottom left, rgba($black, 0.57), rgba($black, 0.77));
    padding-top: 4rem;
    
    .row {
        margin-bottom: 2rem;
    }
    #watch-video {
        width: 100%;
        height: 100%;
        display: table;

        .watch-video {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .button.video {
        color: #8a8a8a;
        background-color: #fefefe;
        font-weight: bold;
        padding: .50rem 1.75rem;
        width: 11rem;
        font-size: 1.25rem;
    }
    table {
        color: $black;
        font-size: .75rem;
        caption {
            color: $white;
            font-size: 1rem;
        }

        th {
            text-align: center;
        }
    }
}

#build-a-network {
    @include lightSection;
    margin-top: 5rem;
    margin-bottom: 5rem;

    #leveling-with-agents {
        margin-top: 3rem;
        
        .button.video {
            color: #8a8a8a;
            background-color: #fefefe;
            font-weight: bold;
            padding: .50rem 1.75rem;
            width: 11rem;
            font-size: 1.25rem;
        }
    }
}

#story-video,
#rick-video {
    @include blueSection;
    //background-color: $blue;
    width: 100%;
    height: 100vh;

    .content {
        display: table-cell;
        vertical-align: middle;
    }
}


#be-prepared {
    @include blueSection;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#talking-to-realtors {
    @include lightSection;
    margin-top: 2rem;
    margin-bottom: 4rem;
        
    h2 {
        margin: 3rem;
        text-align: center;
    }

    h3 {
        margin-bottom: 4rem;
    }  

    #slider1-wrapper {
        width: 900px;
        background: #333;
        position: relative;
        background-color: #CFDDD9;
        margin: 2rem auto 0 auto;
        height: 400px;
    }

        .slider1-controls {
            .next1, .prev1{
                display: block;
                position: absolute;
                border: none;
                background-color: rgba(#333, 0.5);
                color: #fff;
                top:50%;
                padding:20px;
                transform: translateY(-50%);
                font-size: 18px;
                z-index: 99999;
            }
            .next1{
                right:2rem;
                top:11rem;
            }
            .prev1{
                left:2rem;
                top: 11rem;

            }
        }

        .slider1-items {
            width: 900px;
            margin: 0px auto;
            height: 400px;
            position: relative;
            overflow: hidden;
            font-size: .90rem;

            .slider1-item{
                width:900px;
                position: absolute;
                opacity: 1;
            
                &.active{
                    opacity:1;
            
                    .content{
                        
                        .slide1-content,
                        .slide2-content,
                        .slide3-content,
                        .slide4-content {
                            
                            h4,p,img,ul {
                                opacity:1;
                            }
                        }
                    }
                }
                .content{
                    width:900px;
                    height: 400px;
                    position: relative;
                    overflow: hidden;
                    
                    .slide1-content {
                        max-width: 700px;
                        display:inline-block;
                         
                        img {
                            top: 4rem;
                            left: 6rem;
                            position: absolute;
                            height: auto;
                            width: 200px;
                            transition: all 0.5s;
                            opacity:0;
                        }
                         
                        h4 {
                            left: 19rem;
                            position: absolute;
                            top: 3rem;
                            transition: all 0.5s;
                            opacity:0;
                        }

                        p {
                            position: absolute;
                            left: 19rem;
                            width: 439px;
                            text-align: left;
                            top: 5rem;
                            margin-bottom: 2px;  
                            color: #000;
                            transition: all 0.6s;
                            transition-delay: 0.1s;
                            opacity:0;
                        }
                        ul {
                            position: absolute;
                            left: 20rem;
                            margin-bottom: 2px;
                            top: 11rem;
                            opacity:0;
                        }
                    }
                    .slide2-content {
                        max-width: 700px;
                        display:inline-block;
                     
                    img {
                        top: 6rem;
                        left: 33rem;
                        position: absolute;
                        height: auto;
                        width: 200px;
                        opacity:0;
                    }

                    h4 {
                        left: 7rem;
                        position: absolute;
                        top: 7rem;
                        transition: all 0.5s;
                        opacity:0;
                    }

                    p {
                        position: absolute;
                        left: 7rem;
                        width: 439px;
                        text-align: left;
                        top: 10rem;
                        margin-bottom: 2px;
                        color: #000;
                        transition: all 0.6s;
                        transition-delay: 0.1s;
                        opacity:0;
                    }
                    ul {
                        position: absolute;
                        left: 20rem;
                        margin-bottom: 2px;
                        top: -12rem;
                        opacity:0;
                    }        
                }
                        
                .slide3-content {
                    max-width: 700px;
                    display:inline-block;
                     
                    img {
                        top: 5rem;
                        left: 5rem;
                        position: relative;
                        height: auto;
                        width: 200px;
                        opacity:0;
                    }

                    h4 {
                        left: 18rem;
                        position: relative;
                        top: -7rem;
                        transition: all 0.5s;
                        opacity:0;
                    }

                    p {
                        position: relative;
                        left: 18rem;
                        width: 439px;
                        text-align: left;
                        top: -7rem;
                        margin-bottom: 2px;  
                        color: #000;
                        opacity:0;
                    }
                    ul {
                        position: relative;
                        left: 20rem;
                        margin-bottom: 2px;
                        top: -12rem;
                        transition: all 0.6s;
                        transition-delay: 0.1s;
                        opacity:0;
                    }
                } 
                        
                .slide4-content {
                    max-width: 700px;
                    display:inline-block;
                     
                    img {
                        top: 5rem;
                        left: 7rem;
                        position: relative;
                        height: auto;
                        width: 200px;
                        transition-delay: 0.1s;
                        opacity:0;
                    }

                    h4 {
                        left:20rem;
                        position: relative;
                        top: -8rem;
                        transition-delay: 0.1s;
                        opacity:0;
                    }

                    p {
                        position: relative;
                        left: 20rem;
                        width: 439px;
                        text-align: left;
                        top: -8rem;
                        margin-bottom: 2px;  
                        color: #000;
                        transition: all 0.6s;
                        transition-delay: 0.1s;
                        opacity:0;
                    }
                    ul {
                        position: relative;
                        left: 20rem;
                        margin-bottom: 2px;
                        top: -12rem;
                        transition: all 0.6s;
                        transition-delay: 0.1s;
                        opacity:0;
                    }
                }
                        
                    h1 {
                        opacity:1;
                        bottom: 40%;
                        left: 20%;
                        z-index: 9999;
                        font-weight: normal;
                    }
                    p {
                        opacity: 1;
                        left: 20%;
                        z-index: 9999;
                    }
                    img {
                        opacity:1;
                    }
                }
            }
        }
        .slider1-bullets {
            bottom: 1rem;
            position: absolute;
            text-align: center;
            z-index: 99999;
            width: 100%;
            .bullet{
                width: 14px;
                height: 14px;
                background: #fff;
                //border: 2px solid transparent;
                border-radius: 50%;
                display: inline-block;
                cursor: pointer;
                transition: all 0.3s;
                &.active{
                    //border: 2px solid #333;
                    background: #F4E066;
                }
            }
        }


// SLIDER 2
#slider2-wrapper {
    width: 900px;
    background: #333;
    position: relative;
    background-color: #3C5966;
    margin: 0 auto;
    height: 300px;
    
    h3 {
        padding-top: 1rem;
        margin-bottom: -5rem;
        font-size: 1.50rem;
        text-align: center;
        color: #fff;
    }
    span.quote {
        color: #F4E066;
        font-size: 10rem;
        position: absolute;
        left: 23rem;
        top: .5rem;
    }
}

.slider2-controls {
    .next2, .prev2{
        display: block;
        position: absolute;
        border: none;
        background-color: rgba(#333, 0.5);
        color: #fff;
        top:50%;
        padding:20px;
        transform: translateY(-50%);
        font-size: 18px;
        z-index: 99999;
    }
    .next2{
        right:2rem;
        top:8rem;
    }
    .prev2{
        left:2rem;
        top:8rem;

    }
}

.slider2-items {
    width: 800px;
    margin: 0px auto;
    height: 400px;
    position: relative;
    overflow: hidden;
    font-size: .90rem;

    .slider2-item{
        width:800px;
        position: absolute;
        opacity: 1;
    
        &.active2{
            opacity:1;
    
            .content{
                position: absolute;
                
                p {
                    text-align: center;
                    opacity: 1;
                    margin-left:3rem;
                    z-index: 9;
                }
            }
        }
        .content{
            width:900px;
            height: 400px;
            position: absolute;
            overflow: hidden;
                
            h3 {
                opacity:0;
                bottom: 40%;
                left: 20%;
                z-index: 9999;
                font-weight: normal;
            }
           p{
                position: absolute;
                width: 700px;
                top: 39%;
                left: 0%;
                //background-color: rgba(#333, 0.8);
                padding:10px;
                color:#fff;
                opacity:0;
                transition: all 0.6s;
                transition-delay: 0.01s;
            }
            img {
                opacity:1;
            }
        }
    }
}
.slider2-bullets {
    bottom: 1rem;
    position: absolute;
    text-align: center;
    z-index: 99999;
    width: 100%;
    .bullet2{
        width: 14px;
        height: 14px;
        background: #fff;
        //border: 2px solid transparent;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        transition: all 0.3s;
        &.active2{
            //border: 2px solid #333;
            background: #F4E066;
        }
    }
}


// SLIDER 3
#slider3-wrapper {
    width: 900px;
    background: #333;
    position: relative;
    background-color: #546970;
    margin: 0 auto;
    height: 300px;
    
    h3 {
        padding-top: 1rem;
        margin-bottom: -5rem;
        font-size: 1.50rem;
        text-align: center;
        color: #fff;
    }
    span.quote {
        color: #CFDDD9;
        font-size: 10rem;
        position: absolute;
        left: 23rem;
        top: .5rem;
    }
}

.slider3-controls {
    .next3, .prev3{
        display: block;
        position: absolute;
        border: none;
        background-color: rgba(#333, 0.5);
        color: #fff;
        top:50%;
        padding:20px;
        transform: translateY(-50%);
        font-size: 18px;
        z-index: 99999;
    }
    .next3{
        right:2rem;
        top:8rem;
    }
    .prev3{
        left:2rem;
        top:8rem;

    }
}

.slider3-items {
    width: 800px;
    margin: 0px auto;
    height: 400px;
    position: relative;
    overflow: hidden;
    font-size: .90rem;

    .slider3-item{
        width:800px;
        position: absolute;
        opacity: 1;
    
        &.active3{
            opacity:1;
    
            .content{
                position: absolute;
                
                p {
                    text-align: center;
                    opacity: 1;
                    margin-left:3rem;
                    z-index: 9999;
                }
            }
        }
        .content{
            width:900px;
            height: 400px;
            position: absolute;
            overflow: hidden;
                
            h3 {
                opacity:0;
                bottom: 40%;
                left: 20%;
                z-index: 9999;
                font-weight: normal;
            }
           p{
                position: absolute;
                width: 700px;
                top: 39%;
                left: 0%;
                //background-color: rgba(#333, 0.8);
                padding:10px;
                color:#fff;
                opacity:0;
                transition: all 0.6s;
                transition-delay: 0.01s;
            }
            img {
                opacity:1;
            }
        }
    }
}
    .slider3-bullets {
        bottom: 1rem;
        position: absolute;
        text-align: center;
        z-index: 99999;
        width: 100%;
        .bullet3{
            width: 14px;
            height: 14px;
            background: #fff;
            //border: 2px solid transparent;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
            transition: all 0.3s;
            &.active3{
                //border: 2px solid #333;
                background: #F4E066;
            }
        }
    }
}

#explain-your-verification-process {
    @include darkSection;
    background: linear-gradient(to bottom left, rgba($black, 0.57), rgba($black, 0.77));
}

#verifying-everything {
    @include lightSection;
    margin-top: 5rem;
    padding-bottom: 4rem;

    .sai-kata {
        margin-top: 3rem;
    }
}

#gloc-video-five {
    background: $blue-light;
    color: $black;
    padding-top: 5rem;
    padding-bottom: 5rem;

    video {
        margin: 3rem 0;
    }
    #knowledgeCheck {
        width: 100%;
        margin-top: 2rem;
        
        .check {
            width: 20%;
            height: 400px;
            float: left;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            position: relative;

            .front, .back {
                position: absolute;
                overflow: hidden;
                width: 100%;
                height: 100%;

                &:after {
                    position: absolute;
                    top: 2.5%;
                    left: 2.5%;
                    width: 95%;
                    height: 95%;
                    display: block;
                    background: transparent;
                    // border: 1px solid $gray;
                    content: '';
                }
            }
            .front {

                p {
                    margin-top: 3rem;
                }
            }
            .back {
                background-color: inherit;
                color: $black;

                p {
                    font-size: 0.9rem;
                    font-weight: 400;
                    text-align: left;
                    line-height: 1.4;
                    padding: 0.5rem 1rem;
                    margin: 0.5rem 0 !important;

                    &:first-child {
                        text-align: center;
                        font-size: 1rem;
                        font-weight: bold;
                        padding-top: 1rem;
                        padding-bottom: 0;
                    }
                }
            }
            &.showing {

                .back {
                    backface-visibility: visible !important;
                }
            }
            .flipToggle {
                position: absolute;
                z-index: 999;
                bottom: 0.5rem;
                left: 50%;
                @include transform(translateX(-50%));
                width: 100px;
                height: auto;
                color: $white;
                font-size: 2rem;

                &.flipped {
                    @include transform(rotateX(-270deg));
                    @include transform-origin(center center);
                    @include transition-duration(0.33s);
                }
            }
            &.one {
                // background-image: url(../img/learning-sections/knowledge-check/lion.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $yellow;
                color: $black;

                .flipToggle {
                    color: $black;
                }
                .front, .back {

                    &:after {
                        // border-color: $black;
                    }
                }
            }
            &.two {
                // background-image: url(../img/learning-sections/knowledge-check/location.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $blue;
 
                .back {color:$white;}
            }
            &.three {
                // background-image: url(../img/learning-sections/knowledge-check/lot-size.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $bkg;
                color: $black;

                .flipToggle {
                    color: $black;
                }
                .front, .back {

                    &:after {
                        // border-color: $black;
                    }
                }
            }
            &.four {
                // background-image: url(../img/learning-sections/knowledge-check/resident.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $red;

                .back {color:$white;}
            }
            &.five {
                // background-image: url(../img/learning-sections/knowledge-check/entertainment.svg);
                background-repeat: no-repeat;
                background-size: 270px 270px;
                background-position: 225% 102%;
                background-color: $blue;

                .back {color:$white;}
            }
        }
    }
}

#points-to-remember-l5 {
    @include lightSection;
    height: auto;
    padding: 5rem 0;
    position: relative;
    overflow: hidden;

    .alpha-ramp {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    h2 {
        position: relative;
        z-index: 99;
        font-size: 5rem;
        color: $white;
    }
    .points-to-remember {
        width: 100%;
        margin: 1rem 0;
        position: relative;
        z-index: 99;

        ul {
            list-style: none;
            width: 100%;
            margin-left: 0;
            padding: 2rem 3rem;
            position: relative;
            z-index: 99;
            font-size: 1.4rem;
            color: $white;
            visibility: hidden;

            li {
                padding: 1rem 2rem;
                margin-bottom: 0.5rem;
                font-weight: bold;
                line-height: 1.4em;
                // background: $green;
                // border-radius: 5px;

                &:not(:last-child) {
                    border-bottom: none;
                }
            }
             .l1,.l2,.l3,.l4 {
                position: absolute;
                background: transparent;
                width: 0px;
                height: 0px;
                background-color: $white;
            }
            .l1 {
                left: 0;
                bottom: 0;
                height: 100%;
                width: 4px;
            }
            .l2 {
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
            }
            .l3 {
                right: 0;
                top: 0;
                height: 100%;
                width: 4px;
            }
            .l4 {
                bottom: 0;
                right: 0;
                width: 100%;
                height: 4px;
            }
        }
    }
    .downloads {
        position: relative;
        z-index: 99;
        margin-top: 2rem;
        color: $white;

        .button {
            color: $white;
            border-color: $white;
        }
    }
    .asterisk {
        @include asterisk;
    }         
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */

/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
    position: relative;
    margin: 0 auto 60px auto;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/
// .slider-one .bx-viewport,
//  {
//     /* overflow: hidden; */
//     position: relative;
//     padding-top: 2rem;
//     text-align: center;
// }

.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border:  5px solid #D0DDD8;
    left: -5px;
    background: #D0DDD8;
    color: #000;
    font-size: .85rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px !important;
    text-align: center;
    padding-top: 3rem;
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-viewport .slider2 {
    padding-top: 2rem;

}
.bx-wrapper .bx-viewport li {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-two .bx-wrapper .bx-viewport {
    background: #F2DE64;
    border: 5px solid #F2DE64;
}

.bx-wrapper:nth-child .bx-viewport:nth-child {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border:  5px solid #D0DDD8;
    left: -5px;
    background: #000;
    color: #000;
    font-size: .85rem;
    
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url('../img/ls/5/bx_loader.gif') center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url('../img/ls/5/controls.png') no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url('../img/ls/5/controls.png') no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url('../img/ls/5/controls.png') -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url('../img/ls/5/controls.png') -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}
