.ls-header {
    // see .../scss/pages/_learning.scss

    .scrollDown {
        bottom: 24px;
    }
}

.circle-shape { 
    // see .../scss/components/_mixins.scss
}

#ls6-intro {
    background: url(../img/ls/6/ls6-bg.svg) no-repeat;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #F4E066;
    background-repeat: no-repeat;
    background-position-x: -209px;
    background-position-y: 13px;

     @media only screen and (max-width : 1200px) {
        background-position-x: -75px;
        background-position-y: 340px;
        background-size: 500px 500px;
    }
    
    p.learning-section-number {
        font-weight: bold;
        font-size: 1.5rem;
    }
    .intro-content {
        margin-top: 9rem;
        color: $black;

        @media only screen and (max-width : 1200px) {
            margin-top: 1rem;
        }
    }
}

#tell-your-story {
    @include lightSection;
    background: linear-gradient(to bottom left, $white, rgba($gray, 0.33));
}

#convice-the-reader {
    @include darkSection;
    background: linear-gradient(to bottom left, rgba($black, 0.57), rgba($black, 0.77));
    padding-top: 5rem;
    padding-bottom: 5rem;

    .container {
        perspective:1200px;
        margin-top: 3rem;
  
        .father {
            width:580px;
            height:430px;
            position:relative;
            transition:all 1s ease-in-out;
            transform-style:preserve-3d;
            cursor: pointer;
                    
            div {
                position: absolute;  
                width: 100%;
                height:100%;
                color: #fff;
            }
        }

        .father-two {
            width:580px;
            height:430px;
            position:relative;
            transition:all 1s ease-in-out;
            transform-style:preserve-3d;
            cursor: pointer;
                    
            div {
                position: absolute;  
                width: 100%;
                height:100%;
                color: #000;
            }
        }
    
        .rotate {
            transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
        }
    

        .front, .front-two {
            background-color: #557A8E;
        }

        .front-two,.back-two {
            background-color: #F4E066;
            color: $black;
        }

        .front, .front-two {
            z-index:2;
            backface-visibility: hidden;

            /* for firefox 31 */
            transform: rotateY(0deg);
          
            h3 {
                position: relative;
                top: 2rem;
                left: 2rem;
            }
            
            p { 
                position: absolute;
                top: 40%;
                left: 50%;
                left: 2rem;  
            }
            img {
               position: relative;
               display: block;
               cursor: pointer;
               left: 520px;
               top: 30px;
               height: 45px;
               width: 45px;
            }
            // Extend the clickable area
            img::before {
                content:"";
                position: absolute;
                top: -20px; right: -20px;
                bottom: -20px; left: -20px;
            }
        }
        
        .back {
            background-color: #557A8E;
        }

        .back, .back-two {
            z-index:1;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            
            h3 {
                position: absolute;
                top: 1rem;
                left: 2rem;
            }
            
            p { 
                position: absolute;
                line-height: 1.4;
                top: 22%;
                left: 50%;
                left: 2rem;  
                right: 2rem;
            }
            table {
                position: absolute;
                border-collapse: separate;
                left: .5rem;
                top: 17rem;
                width: 570px;
            }

            td {
                background-color: #F4E066;
                padding: 1px;
            }
            
            img {
               position: relative;
               cursor: pointer;
               left: 520px;
               top: 30px;
               height: 45px;
               width: 45px;
            }
            img::before {
                content:"";
                position: absolute;
                top: -20px; right: -20px;
                bottom: -20px; left: -20px;
            }
        }
    }
}

#rick-video, #rick-video-six, #rick-video-five {
    background: $blue-light;
    color: #fefefe;
    display: table;
    width: 100%;
    height: 100vh;

    .content {
        display: table-cell;
        vertical-align: middle;
    }
}

#rick-video-2 {
    @include darkSection;
    color: #fefefe;
    display: table;
    width: 100%;
    height: 100vh;

    .content {
        display: table-cell;
        vertical-align: middle;
    }
    .button.video {
        color: #8a8a8a;
        background-color: #fefefe;
        font-weight: bold;
        padding: .50rem 1.75rem;
        width: 11rem;
        font-size: 1.25rem;
    }
}

#creating-convincing-report {
    @include lightSection;
    background-color: transparent;
    margin-top: 5rem;
    margin-bottom: 5rem;
    //background: linear-gradient(to bottom left, $white, rgba($gray, 0.33));

    ul {
        list-style-type: disc; 
    }  
    
    .pointer {
        position: absolute;

        img {
            height: 4rem !important;
            width: auto; 
        }
    } 

    .addendum  {     
        left: 17rem;
        top: -3.5rem;
    }

    .addendum-match,
    .neighborhood-match,
    .additional-match,
    .comments-match,
    .comparable-match,
    .reconciliation-match,
    .market-match,
    .location-adjustment-match,
    .site-adjustment-match  {
        position: relative;
        display: block;

        img {
            float: left;
        }

        p {
            overflow: hidden;
        }
    }

    .flooring {
        margin-top: 1rem;
    }
    
    .neighborhood {
        left: -2rem;
        top: 14rem;
    }

    .additional {
        left: -2rem;
    }
    
    .comments {
        left: -2rem;
    }

    .comparable {
        left: -2rem;
    }

    .reconciliation {
        left: -2rem;
    }

    .market {
        left: -7rem;
        top: 3rem;
    }

    .location-adjustment {
        left: -4rem;
        top: 3rem;
    }

    .site-adjustment {
        left: -5rem;
        top: 11rem;

        th {
            background-color: #fff;
        }
    }
    
    .yellow {
        color: #000;
        font-weight: bold;
        font-size: 1.5rem;
    }

    // The following 5 styles are for the shadow below the tables
    .whiteBoxAccSummary {
        background:#fff;
        border:1px solid #e5e5e5;
    }

    .whiteBoxborderradius{
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        position:relative;
    }

    .rightShadow-div{
        box-shadow:1rem 0 7.5rem #333;
    }

    .leftShadow{
        margin:1rem 0 3rem;
    }

    .leftShadow:after{
        background: url(../img/ls/6/018849.png) no-repeat !important;
        background-size: 99% 99% !important;
        bottom: -18px;
        content: "";
        height: 25px;
        left: 5px;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    table {
        ul {
            list-style-position: outside;
        }

        display: table;
        border-collapse: separate;
        border-color: grey;
        
        tr:last-child td:last-child {
            border-bottom-right-radius: 4px;
        }

        tr:last-child td:last-child {
            border-bottom-left-radius: 4px;
        }
        
        caption {
            font-size: 1rem;
        }

        .header {
            font-size: 1rem;
            font-weight: bold;
            text-decoration: underline;
            margin-bottom: 0;
        }
    }

    

    table.addendum-first-table {
        

        .two img {
            left: -1rem;
        }

        td {
            background-color: #fff;
            border: 1px solid #e5e5e5;
        }
        
        .no-border-left {
            border-left-style: hidden;
        }
        .no-border-right {
            border-right-style: hidden;
        }
        .no-border-bottom {
            border-bottom-style: hidden;
        }
        
        .zip {
            padding-left: 4rem;
        }

        .neighborhood-description {
            padding-top: 3rem;
            padding-left: 2rem;
        }
    }

    // table.additional-features {
    //     margin-bottom: -4rem;
    // }
    

    table.additional-features,
    table.comment-sales-comparison {
        
        td {
            padding: 3rem 2rem;
            // border-left: 1px solid $black;
            // border-right: 1px solid $black;
        }
    }

    table.additional-features {
        .one {
            left: -1rem;
        }
    }

    table.comment-sales-comparison {
        .one {
            left: -1rem;
        }
    }

    table.comment-sales-comparison {
        .two {
            left: -1rem;
        }
    }

    table.market-conditions,
    table.location-adjustment,
     {
        border-collapse: separate;
        border-color: grey;
        // border-spacing: 0;
        // border-top: 1px solid $black;
        // border-left: 1px solid $black;
        // border-right: 1px solid $black;

        h5 {
            text-align: center;
        }

        .table-header {
            //background-color: #ddd;
            font-weight: bold;
        }

       

        td {
            background-color: #fff;
        }

        .red {
            color: #CE4B4F;
            font-weight: bold;
        }
    }

    table.market-conditions {

        .one {
            left: 8rem;
        }
        img {
            width: 97%;
            height: auto;
        }
        img.graph {
            width: 100%;
            height: auto;
            margin-top: -11rem;
        }
    }

    table.location-adjustment {
        .one {
            left: -2.5rem;
            top: 3rem;
        }
    }

    table.site-adjustment {
        margin-bottom: 0;
        .one {
            left: -0.5rem;
        }    
        .no-border-left {
            border-left-style: hidden;
        }
        .no-border-right {
            border-right-style: hidden;
        }
        .no-border-bottom {
            border-bottom-style: hidden;
        }
    }


    table.site-adjustment {
        
        display: table;
        border-collapse: separate;
        //border-spacing: 2px;
        border-color: grey;
        //margin-bottom: 0;

        td {
            border: 1px solid #e5e5e5;
            background-color: #fff;
        }

        .table-header {
            //background-color: #ddd;
            font-weight: bold;
            text-align: center;
        }

         .address {
            text-align: center;
            padding-right: 40px;
        }

        .center {
            text-align: center;
        }
    }
}

#review-for-consistency {
    @include blueSection;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
    .container {
        perspective:1000px;
        transform-style: preserve-3d;
        
        .father {
            width:600px;
            height:500px;
            position:relative;
            transition:all 1s ease-in-out;
            transform-style:preserve-3d;
            margin-bottom: 3rem;
                    
            div {
              position: absolute;  
              width: 100%;
              height:100%;
              color: #fff;
            }
        }
        
        .rotate {
            transform: rotateY(180deg);

        }
        
        .front {
          z-index:2;
          background-color: #557A8E;
          backface-visibility: hidden;
          transform: rotateY(180deg);
          
            h3 {
                position: relative;
                top: 2rem;
                left: 2rem;
            }
            
            p { 
                position: absolute;
                top: 40%;
                left: 50%;
                left: 2rem;  
            }
        }
        
        .back {
            z-index:1;
            background-color: #557A8E;
            transform: rotateY(-180deg);
            backface-visibility: hidden;
            
            h3 {
                position: relative;
                top: 2rem;
                left: 2rem;
                margin-bottom: 5rem;
            }
            
            p { 
                position: absolute;
                top: 20%;
                left: 50%;
                left: 2rem;  
                right: 2rem;
            }
            
            table.flip {
                    position: absolute;
                    top: 21rem;
                    left: 2rem;
                    right: 2rem;
                    width: 580px;
                    border: none;

                tbody {
                    border: none;
                }

                td {
                    background-color: #557A8E;
                }
            }
        }
    }
}    

#gloc-video-six {
    background: $blue-light;
    color: $black;
    padding-top: 5rem;

    video {
        margin: 3rem 0;
    }
    #knowledgeCheck {
        width: 100%;
        margin-top: 2rem;
        
        .check {
            width: 20%;
            height: 400px;
            float: left;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            position: relative;

            .front, .back {
                position: absolute;
                overflow: hidden;
                width: 100%;
                height: 100%;

                &:after {
                    position: absolute;
                    top: 2.5%;
                    left: 2.5%;
                    width: 95%;
                    height: 95%;
                    display: block;
                    background: transparent;
                    // border: 1px solid $gray;
                    content: '';
                }
            }
            .front {

                p {
                    margin-top: 3rem;
                }
            }
            .back {
                background-color: inherit;
                color: $black;

                p {
                    font-size: 0.9rem;
                    font-weight: 400;
                    text-align: left;
                    line-height: 1.4;
                    padding: 0.5rem 1rem;
                    margin: 0.5rem 0 !important;

                    &:first-child {
                        text-align: center;
                        font-size: 1rem;
                        font-weight: bold;
                        padding-top: 1rem;
                        padding-bottom: 0;
                    }
                }
            }
            &.showing {

                .back {
                    backface-visibility: visible !important;
                }
            }
            .flipToggle {
                position: absolute;
                z-index: 999;
                bottom: 0.5rem;
                left: 50%;
                @include transform(translateX(-50%));
                width: 100px;
                height: auto;
                color: $white;
                font-size: 2rem;

                &.flipped {
                    @include transform(rotateX(-270deg));
                    @include transform-origin(center center);
                    @include transition-duration(0.33s);
                }
            }
            &.one {
                // background-image: url(../img/learning-sections/knowledge-check/lion.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $yellow;
                color: $black;

                .flipToggle {
                    color: $black;
                }
                .front, .back {

                    &:after {
                        // border-color: $black;
                    }
                }
            }
            &.two {
                // background-image: url(../img/learning-sections/knowledge-check/location.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $blue;
 
                .back {color:$white;}
            }
            &.three {
                // background-image: url(../img/learning-sections/knowledge-check/lot-size.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $bkg;
                color: $black;

                .flipToggle {
                    color: $black;
                }
                .front, .back {

                    &:after {
                        // border-color: $black;
                    }
                }
            }
            &.four {
                // background-image: url(../img/learning-sections/knowledge-check/resident.svg);
                background-repeat: no-repeat;
                background-size: 200px 200px;
                background-position: center center;
                background-color: $red;

                .back {color:$white;}
            }
            &.five {
                // background-image: url(../img/learning-sections/knowledge-check/entertainment.svg);
                background-repeat: no-repeat;
                background-size: 270px 270px;
                background-position: 225% 102%;
                background-color: $blue;

                .back {color:$white;}
            }
        }
    }
}

#points-to-remember-l6 {
    @include lightSection;
    height: auto;
    padding: 5rem 0;
    position: relative;
    overflow: hidden;

    .alpha-ramp {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    h2 {
        position: relative;
        z-index: 99;
        font-size: 5rem;
        color: $white;
    }
    .points-to-remember {
        width: 100%;
        margin: 1rem 0;
        position: relative;
        z-index: 99;

        ul {
            list-style: none;
            width: 100%;
            margin-left: 0;
            padding: 2rem 3rem;
            position: relative;
            z-index: 99;
            font-size: 1.4rem;
            color: $white;
            visibility: hidden;

            li {
                padding: 1rem 2rem;
                margin-bottom: 0.5rem;
                font-weight: bold;
                line-height: 1.4em;
                // background: $green;
                // border-radius: 5px;

                &:not(:last-child) {
                    border-bottom: none;
                }
            }
             .l1,.l2,.l3,.l4 {
                position: absolute;
                background: transparent;
                width: 0px;
                height: 0px;
                background-color: $white;
            }
            .l1 {
                left: 0;
                bottom: 0;
                height: 100%;
                width: 4px;
            }
            .l2 {
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
            }
            .l3 {
                right: 0;
                top: 0;
                height: 100%;
                width: 4px;
            }
            .l4 {
                bottom: 0;
                right: 0;
                width: 100%;
                height: 4px;
            }
        }
    }
    .downloads {
        position: relative;
        z-index: 99;
        margin-top: 2rem;
        color: $white;

        .button {
            color: $white;
            border-color: $white;
        }
    }
    .asterisk {
        @include asterisk;
    }         
}

.go-to-final-simulation {
    @include introSection;
    position: relative;

    .go {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        h2 {
            margin-bottom: 1rem;
        }
    }
}

