.log-out {
    position: absolute;
    z-index: 999;
    top: 2rem;
    left: 4rem;
    font-weight: 700;
    border: none !important;

    &:hover {
        color: $white !important;
        opacity: 0.75;
    }
}

.open-menu {
    position: absolute;
    top: 2rem;
    right: 4rem;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
        color: $white !important;
        border-color: $white !important;
        opacity: 0.75;
    }
    &:active {
        @include transform(scale(0.9));
    }
}

.close-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    color: $white;
    font-size: 4rem;
    line-height: 1;
    font-family: sans-serif;
    font-weight: 100;

    &:active {
        @include transform(scale(0.9));
    }
}

.lp-navigation {
    position: relative;
    z-index: 9999;
    display: block;
    width: 100%;
    margin: 0;
    padding: 3rem 0;
    background: $gray-dark;

    &.top {
        display: none;
        height: 100vh;

        .centered-content {
            position: absolute;
            width: 100%;
            left: 50%;
            top: 45%;
            @include transform(translate(-50%, -50%));
        }
        .reveal-intro-content {
            position: absolute;
            bottom: 0.25rem;
            left: 50%;
            @include transform(translateX(-50%));

            #siv {
                border: none;
            }
        }
    }
    &.shortened {
        height: 90vh;
    }
    &.bottom {
        padding: 7rem 0;
    }
    .lead {
        margin-top: 0.5rem;
        margin-bottom: 3rem;
        color: $gray-light;

        span {
            text-transform: uppercase;
        }
    }
    label {
        color: $white;
        font-weight: 700;
        padding-left: 0.5rem;
        line-height: 1.4;
        text-transform: uppercase;
        border-left: 3px solid $white;
        margin: 1rem 0 2rem 0;
    }
    .sect {
        width: 100%;
        display: table;
        margin: 1rem 0;
        position: relative;
        
        .progress:after {
                position: absolute;
                content: '';
                right: 0;
                top: 1px;
                width: 95%;
                height: 50%;
                border-bottom: 1px solid $gray;
                background: transparent;
        }
        li {
            width: 33.33%;

            &:nth-child(3) {
                text-align: center;
            }
            &:nth-child(4) {
                text-align: right;
            }
            a {
                color: $white;
                background: $gray-dark;
                font-weight: 700;
                text-transform: uppercase;
                padding: 1rem 1.5rem;
                display: -moz-inline-stack;
                display: inline-block;
                border: 1px solid $red;
                position: relative;

                &.active, &:hover {
                    background: $red;
                    color: $white;
                    border: none;
                    border-bottom: 1px solid $red;
                    margin-top: 1px;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -10px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 27.095px 0 27.095px 10px;
                        border-color: transparent transparent transparent $red;
                    }
                }
                &.disabled {
                    pointer-events: none;
                    cursor: default;
                    border-color: $gray;
                }
            }
            #learningSections {
                &:hover {
                    background: $gray-dark;
                    cursor: default;
                    border: 1px solid $red;
                    margin-top: 0;

                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
}

.learning-sections {
    margin: 2rem 0;

    .ls {

        li {
            padding: 0 1rem;
            text-align: center;
                
            &:first-child {
                a {
                    padding: 0.75rem 2rem;
                }
            }
            a {
                color: $red;
                font-size: 0.75rem;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0.75rem 0.9rem;
                border: 1px solid $red;
                border-radius: 500px;

                &.active, &:hover {
                    color: $white;
                    background: $red;
                }
                &.disabled {
                    pointer-events: none;
                    cursor: default;
                    border-color: $gray;
                }
            }
        }
    }
}

#introduction {
    position: relative;
    width: 100vw;
    height: 84vh;
    background: $blue url('../img/rick_langdon.png') center top no-repeat;
    background-size: cover;

    #intro-content {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        margin: 0 auto;
        padding: 2rem;

        h2, h4 {
            color: $white;
            font-family: $body;
        }
        h2 {
            font-size: 7rem;
            font-family: $bodySlim;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 0.25rem;

            &:after {
                content: "";
                display: block;
                width: 70%;
                margin: 0 auto;
                border-bottom: 1px solid $white;
            }
        }
        h4 {
            font-size: 2.5rem;
            font-weight: 400;
            letter-spacing: 0.2rem;
            margin-bottom: 1rem;
        }
        #play {
            border-color: $white;
            border-radius: 50px;
            padding-left: 1rem;
            padding-right: 2.5rem;
            position: relative;

            &:after {
                font-family: "foundation-icons";
                content: "\f198";
                position: absolute;
                right: 0;
                top: 0;
                height: 34px;
                width: 34px;
                font-size: 1.2rem;
                line-height: 1.7rem;
                color: $blue;
                background-color: $white;
                border: 3px solid $blue;
                border-radius: 500px;
                padding-left: 0.2rem;
                @include transition(all 0.25s ease-in-out);
            }
            &:hover {
                color: $white;
                border-color: transparent;
                
                &:after {
                    @include transform(scale(1.25));
                    @include transition(all 0.25s ease-in-out);
                }
            }
            &:active {
                
                &:after {
                    @include transform(scale(1));
                    @include transition(all 0.25s ease-in-out);
                }
            }
        }
        .play-button {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -50px;
            margin-top: -50px;

            .play {
                height: 120px;
                width: 120px;
                border-radius: 50%;
                border: 5px solid #fff;

                span {
                    border-top: 25px solid transparent;
                    border-bottom: 25px solid transparent;
                    border-left: 40px solid #fff;
                    margin-top: 30px;
                    margin-left: 40px;
                    display: inline-block;
                }
            }
            &:hover{
                .play {
                    opacity: 0.75;
                }
            }
            &:active {
                @include transform(scale(0.9));
            }
        }
    }

}

.button.hollow.white:hover, .button.hollow.white:focus {
    color: $white;
}

.reveal {
    top: 0;
    padding: 3rem 1.5rem 0 1.5rem;
    background: transparent;
    border: none;

    .close-button {
        top: -1rem;
        right: 0rem;
        font-size: 4rem;
        line-height: 1;
        font-family: sans-serif;
        font-weight: 100;
    }
}

.reveal-overlay {
    background-image: linear-gradient(to top, $blue 0%, darken($blue, 20%) 100%);
}

.next-step {
    color: $white;

    .nxt {
        margin-bottom: 0;
        line-height: 1;
        font-size: 0.9rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    .lead {

        span {
            text-transform: uppercase;
            font-weight: 700px;
        }
    }
}

.problem-solution {
    margin: 0;
    padding: 2.5rem 0 0 0;
    background: $white;
    
    .lbl {
        font-family: $bodySlim;
        text-transform: uppercase;
        font-weight: 700;
    }
    .quote {
        font-family: $bodySlim;
        font-size: 9rem;
        font-weight: 400;
        line-height: 1;
        margin-bottom: -3rem;
    }
    h3 {
        font-family: $bodySlim;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.15em;
    }
    hr {
        margin: 2rem 0 3rem;
    }
    span {
        color: $red;
    }
    .lead > span {
        font-weight: 700;
        font-style: italic;
    }
    p.justified {
        text-align: justify;
        margin-bottom: 4rem;
    }
    p.justified:last-child {
        margin-bottom: 1rem;
    }
    .learning-outcome {
        font-family: $bodySlim;
        font-size: 1.25rem;

        span {
            color: $red;
            font-weight: 700;
            font-style: italic;
        }
    }
    ul {
        margin-bottom: 4rem;
         
        li {
            margin: 0;
            margin-bottom: 1em;
            padding-left: 1.5em;
            position: relative;
            list-style: none;
            
            &:after {
              content: '';
              height: .4em;
              width: .4em;
              background: #D2153A;
              display: block;
              position: absolute;
              transform: rotate(45deg);
              top: .45em;
              left: 0;
            }
            
        }
    }
}

#landing-page-tutorial {
    @include blueSection;
    background-color: $white;
    height: auto;

    .content {
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 0;
    }
}

.get-started {
    background: $white;
    padding: 5rem 0;

    .button {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 700;
        padding: 1.5rem 3rem;
    }
}

/* LANDING PAGE */

#authentication {
    position: relative;
    width: 100vw;
    height: 20vh;
    background: $gray-light;

    img.logo {
        position: absolute;
        top: 2.5rem;
        left: 4rem;
    }
    
    .options {

        display: table-cell;
        vertical-align: middle;
        height: 20vh;
        text-align: right;
        width: 76vw;

        p {
            display: inline-block;
            color: $black;
            font-size: .75rem;
            font-weight: 400;
        }
      
        input {
            width: 150px;
            height: 40px;
            display: inline-block;
        }

        .button {
            padding: 10px 20px;
            font-size: 1rem;
            background: $gray;
           // margin-top: 1rem;
        }

        a.button {
            margin: 0 0 0 0 !important;
        }
    }
}

#login {

    position: relative;
    width: 100vw;
    height: 20vh;
    background: $gray-light;
    
    .hide {
        display: none;
    }

     .login-form {
        display: table-cell;
        vertical-align: middle;
        height: 10rem;
        text-align: right;
        width: 76vw;

        input {
            width: 10rem;
            height: 2rem;
            padding: 10px 20px;
            font-size: 1rem;
            display: inline-block;
        }
        .button {
            background-color: $gray;
            margin-bottom: 0 !important;
            font-size: .85rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: .65rem 1rem;
        }
    }
}

#video-introduction {
    @include redButton;
    position: relative;
    width: 100vw;
    height: auto;
    padding-bottom: 2rem;
    background: $gray-dark;
    color: $white;

    h3 {
        margin-top: 5rem;
        
        text-transform: uppercase;
        font-family: $bodySlim;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.15em;

        span {
            font-weight: 700;
        }
    }

    #landing-page-video {
        margin: 3rem 0;
    }
}

#landing-bottom {
    @include redButton;
    position: relative;
    width: 100vw;
    height: 34vh;
    background: $blue;
    display: flex;
    justify-content: center;

    p {
        margin: 5rem 0 -3rem 0;
        color: $white;
        font-size: 1.5rem;
        line-height: 1.4;
    }
}

#footer {
    padding: 2rem 0 1rem;
}
