#pt1 {
    #exterior-front {
        background: transparent url('../img/property_tour/1/exterior-front.jpg') center center no-repeat;
        background-size: cover;
    }
    #living-room {
        background: transparent url('../img/property_tour/1/living-room.jpg') center center no-repeat;
        background-size: cover;
    }
    #kitchen {
        background: transparent url('../img/property_tour/1/kitchen.jpg') center center no-repeat;
        background-size: cover;
    }
    #master-bedroom {
        background: transparent url('../img/property_tour/1/master-bedroom.jpg') center center no-repeat;
        background-size: cover;
    }
    #master-bathroom {
        background: transparent url('../img/property_tour/1/master-bathroom.jpg') center center no-repeat;
        background-size: cover;
    }
    #second-bedroom {
        background: transparent url('../img/property_tour/1/second-bedroom.jpg') center center no-repeat;
        background-size: cover;
    }
    #second-bathroom {
        background: transparent url('../img/property_tour/1/second-bathroom.jpg') center center no-repeat;
        background-size: cover;
    }
    #third-bedroom {
        background: transparent url('../img/property_tour/1/third-bedroom.jpg') center center no-repeat;
        background-size: cover;
    }
    #stable {
        background: transparent url('../img/property_tour/1/stable.jpg') center center no-repeat;
        background-size: cover;
    }
    #pool {
        background: transparent url('../img/property_tour/1/pool.jpg') center center no-repeat;
        background-size: cover;
    }
    #pool-house-living-room {
        background: transparent url('../img/property_tour/1/pool-house-living-room.jpg') center center no-repeat;

        background-size: cover;
    }
}

