#pt2 {
    #exterior-front {
        background: transparent url('../img/property_tour/2/157289699-edit.jpg') center center no-repeat;
        background-size: cover;
    }
    #living-room {
        background: transparent url('../img/property_tour/2/172291950-edit.jpg') center center no-repeat;
        background-size: cover;
    }
    #kitchen {
        background: transparent url('../img/property_tour/2/175413375-edit.jpg') center center no-repeat;
        background-size: cover;
    }
    #master-bathroom {
        background: transparent url('../img/property_tour/2/104281202-edit.jpg') center center no-repeat;
        background-size: cover;
    }
    #screening-room {
        background: transparent url('../img/property_tour/2/472154247-edit.jpg') center center no-repeat;
        background-size: cover;
    }
    #pool {
        background: transparent url('../img/property_tour/2/183805143-edit.jpg') center center no-repeat;
        background-size: cover;
    }
    #pool-side {
        background: transparent url('../img/property_tour/2/183853627-edit.jpg') center center no-repeat;
        background-size: cover;
    }
}

