#pt3 {
    #exterior-front {
        background: transparent url('../img/property_tour/3/shutterstock_81092365.jpg') center center no-repeat;
        background-size: cover;
    }
    #entry {
        background: transparent url('../img/property_tour/3/157193888-edit.jpg') center center no-repeat;
        background-size: cover;
    }
    #upstairs-living-room {
        background: transparent url('../img/property_tour/3/shutterstock_167076143.jpg') center center no-repeat;
        background-size: cover;
    }
    #dining-room {
        background: transparent url('../img/property_tour/3/157191190-edit.jpg') center center no-repeat;
        background-size: cover;
    }
    #master-bedroom {
        background: transparent url('../img/property_tour/3/511242679-edit.jpg') center center no-repeat;
        background-size: cover;
    }
    #view {
        background: transparent url('../img/property_tour/3/471715402-edit.jpg') center center no-repeat;
        background-size: cover;
    }
}
