#s2-intro {
    @include intro;
    background: transparent url('../img/property_tour/2/157289699-edit.jpg') center center no-repeat;
    background-size: cover;

    #mls-tutorial {
        margin-bottom: 1rem;
    }
}

