#s1-intro {
    @include intro;
    background: transparent url('../img/property_tour/1/exterior-front.jpg') center center no-repeat;
    background-size: cover;
}

#simulation-tutorial {
    margin-bottom: 1rem;
}

#propertyDetails {
    width: 33%;
    height: 100vh;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: $bkg;
    padding: 2rem;
    overflow-y: scroll;

    h3 {
        margin: 1rem 0 -0.5rem 0;
    }

    address {
        font-style: italic;
        margin-bottom: 1rem;
    }

    p.amenities {
        margin-bottom: 0;
        font-weight: bold;
    }

    #distractionFree {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 33%;
        padding: 0 1rem 1rem 1rem;
        text-align: left;
        background-color: $bkg;
        font-size: 0.9rem;
        font-weight: bold;
        outline: none;
        border-top: 1px solid $gray-light;
        @include disable-mouse-outline;

        .details {
            visibility: visible;
        }

        &:before {
            content: url("../img/collapse-chevron.png");
            position: relative;
            left: -0.5rem;
            bottom: -0.6rem;
        }
    }

    &.compressed {
        left: -28%;
        background-color: rgba($bkg, 0.5);

        .details {
            visibility: hidden;
        }

        #distractionFree {
            background-color: transparent;
            border: none;
            left: -11.6rem;
            
            &:after {
                content: url("../img/expand-chevron.png");
                position: relative;
                right: -0.5rem;
                bottom: -0.6rem;
                // @include transform(rotate(180deg));
                // @include transform-origin(center center);
                // @include transform-style(preserve-3d);
            }
        }
    }
}

// learning sections
#ls1 {

}

#solving {
    margin: 0;
    padding: 0;

    .content {
        @include halfStep;
        background-color: $bkg;

        h4 {
            margin-bottom: 0.25rem;
        }
        hr {
            margin: 0 auto 2rem auto;
            width: 50%;
            background-color: $dark-gray;
        }
        .panel {
            margin-top: 3rem;
            padding: 2rem 1rem;
            color: darken($dark-gray, 15%);
            background-color: $yellow;
            background-image: url('../img/magnifying-glass.png');
            background-position: bottom right;
            background-repeat: no-repeat;

            p {
                width: 70%;
                margin-bottom: 0;
                font-size: 0.9rem;
                line-height: 1.2;
            }
        }
        .swiper-slide {
            height: auto !important;
        }
        .swiper-button-next, .swiper-button-prev {
            position: absolute;
            bottom: 0;
            background-color: transparent;
            top: auto;
            margin-top: 0;
        }
        .swiper-button-next {
            right: 0;
            left: 46.5%;
        }
        .swiper-button-prev {
            left: 0;
        }
    }

    .donut {
        @include halfStep;
        background-color: #b3b3b3;
        text-align: center;

        #house {
            display: none;
            position: relative;
            bottom: -372px;
            margin-top: -275px;
            right: -2px;
            @include transform(scale(0.9));
        }
        #wheelnav {
            margin: 0 4rem 1rem 4rem;
        }
        h2 {
            span {
                font-weight: 100;
            }
        }
    }
}

#finding {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    .content {
        @include halfStep;
    }
    .vidi {
        @include halfStep;
        background-color: $dark-gray;
        color: $white;
        text-align: center;
        padding: 3rem;

        img {
            margin: 1rem auto;
        }
    }
}

