#s3-intro {
    @include intro;
    background: transparent url('../img/property_tour/3/shutterstock_81092365.jpg') center center no-repeat;
    background-size: cover;

    #mls-tutorial {
        margin-bottom: 1rem;
    }
}
