.solution {
    width: 100%;
    min-height: 100%;
    padding: 5rem auto;
    margin: 0;
    background: $bkg;

    h1 {
        margin: 2.5rem auto 1.5rem;
        color: $black;

        small {
            color: $gray;
        }
    }
    .iframe-wrapper {
        width: 100%;
        margin-bottom: 5rem;
        padding: 1rem;
        background: $white;
        color: $black;
    }
}

