.ws-header {
    padding: 2rem 0;

    .button {
        margin: 1rem 0 2rem;
    }
}

.comp-title {
    color: $black;
    margin-bottom: 0;
    line-height: 1;

    small {
        color: $gray;
    }
}

.ws-wrapper {
    padding-bottom: 10rem;
}

#ws {
    
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.25);
        border: none;
    }

    .table-scroll.double-scroll, .doubleScroll-scroll-wrapper {
        -ms-overflow-style: scrollbar;
    }

    table {
        font-size: 0.8rem;
        margin-bottom: 0;

        &.subject {
            margin-top: 20px;
        }
        thead {
            border: 1px solid $gray;

            th:not(:last-child) {
                border-right: 1px solid $gray;
            }
        }
        tbody {
            border: 1px solid $gray;

            tr:not(:last-child) {
                border-bottom: 1px solid $gray;
            }
            tr:nth-child(even) {
                background-color: transparent;
            }
            td:not(:last-child) {
                border-right: 1px solid $gray;
            }
        }
        td {
            height: 38px;
            padding: rem-calc(4 5 4);
        }
        .mute {
            background: $gray-light !important;

            input {
                opacity: 0.5;
            }
        }
        input, .input-group {
            margin-bottom: 0;
        }
        .input-group-field {
            height: 100% !important;
        }
    }
    .compWrap {
        min-width: 450px;
    }
    .compTable {
        width: 100%;

        th, td {
            min-width: 450px;

            &:not(:last-child) {
                border-right: 1px solid $gray;
            }
        }
        .duo {
            position: relative;

            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 100%;
                background-color: black;
                position: absolute;
                top: 0;
                left: 50%;
            }
        }
        .red-l {
            border-left: 1px solid red;
        }
        .red-r {
            border-right: 1px solid red;
        }
    }
    .bb {
        font-size: 0.7rem;

        .columns {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
}

.reconciliation {
    margin-top: 2rem;
    color: $black;
}
.sca {
    color: $black;

    small {
        color: $gray;
    }
}
#sca-group {
    margin-top: 1rem;
}

.assessment-questions {
    margin-top: 2rem;

    .fieldset {
        background: $white;

        legend {
            padding-right: 1rem;
            padding-left: 1rem;
            background: $white;
            font-weight: bold;
            text-transform: uppercase;
            border: 1px solid #cacaca;
        }
        ol {
            margin-bottom: 0;

            .questions {
                margin-bottom: 1rem;
            }
        }
    }
}

.fi-loop {
    animation: spin-animation 0.5s infinite;
    display: inline-block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

