#urar {
    padding: 5rem auto;
    margin: 0;
    background: $bkg;

    small {
        color: $gray;
    }

    h2 {
        margin: 2.5rem auto 0.5rem;
    }
    .purpose {
        margin-bottom: 2rem;
    }
    .form-wrapper {
        width: 100%;
        margin-bottom: 10rem;
        padding: 0;
        background: $white;
        color: $black;

        form {
            display: block;

            input[type=radio], input[type=checkbox] {
                margin-left: 0.5rem;
            }
            .fieldset {

                legend {
                    background: transparent;
                }
            }
        }
    }
}

.urar-section {
    position: relative;
    border-left: 34px solid $black;
    padding: 0.5rem 1rem 0;
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 1px solid $white;

    .section-title {
        background: $black;
        color: $white;
        padding: 5px 10px;
        margin: 0 0 10px 0;
        position: absolute;
        top: 50%;
        left: -5.75%;
        background: none;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        @include transform(translateY(-50%));
        @include transform-origin(center center);
        @include transform(rotate(-90deg)); 
    }
    &.site {

        .card {
            border-bottom: 1px solid $black;
        }
    }
}

.card {
    border: 1px solid $black;
    border-bottom: none;
    margin-bottom: 1rem;
    overflow: hidden;

    .card-header {
        padding: 0.25rem 0.5rem 0;
        text-align: center;
        background: $gray-light;
        border-bottom: 1px solid $black;

        &.uncenter {
            text-align: left;
        }
        .text-right {
            float: right;
        }
    }
    .card-row {
        margin: 0;
        padding: 1rem 1rem 0 1rem;
        border-bottom: 1px solid $black;
    }
    &.neighborhood {

        input:first-child {
            margin-left: 1rem;
        }
        label {
            margin-bottom: -0.5rem;

            &.middle {
                font-weight: 700;
            }
        }
    }
    .table {
        margin-bottom: 0;

        tbody {
            border-bottom: 1px solid $black;
        }
        thead {
            text-transform: uppercase;
        }
    }
}

.input-group-label {
    padding: 0 0.5rem;
}

legend {
    font-size: 0.79545rem;
    padding-top: 0.75rem;
}

.level {
    margin-top: 2.25rem;
}

.comp-range {
    font-size: 0.75rem;
    margin: 1rem 0;
    border-bottom: 1px solid $black;
}

.comparables {
    font-size: 0.7rem;
    
    $form-spacing: rem-calc(9);
    $input-font-size: rem-calc(9);

    label {
        font-size: 0.6rem;
    }
    input {
        margin: 0;
        height: 1.8rem;
        font-size: 0.7rem;
    }
    .input-group {
        margin: 0;

        .input-group-field {
            height: 100%;
            margin: 0;
        }
        .input-group-label {
            padding: 0 0.25rem;
        }
    }
    .card {

        .card-header {

            .left {
                width: 50%;
                float: left;
            }
            .right {
                width: 50%;
            }
        }
        .card-row {
            padding: 0;
            min-height: 36px;

            &:last-child {
                min-height: 72px;

                .input-group {
                    margin-top: 1px;
                }
            }
            .columns {
                padding: 1px;
                line-height: 1;
            }
            .columns:not(first-child) {
                border-left: 1px solid $black;
            }
            .columns:nth-child(1) {
                border-left: none;
            }
        }
        .muted {
            background: $gray-light;
        }
        .bb {
            border-bottom: 1px solid $black;
        }
        .fh {
            height: 100%;
            font-size: 0.9rem;
        }
    }
}

.post-comparable-data {
    font-size: 0.75rem;

    .comparables {

        .card-row input {
            margin-top: 1px;
        }
        .card-row:last-child {
            min-height: 36px;
        }
    }
}

.cost-approach {
    border-bottom: 1px solid #000;
}

.addendum {
    padding: 3rem;
    margin-bottom: 5rem;

    .addendum-content {
        padding: 1rem;
        background: $white;
        border: 1px solid $black;

        .addendum-details {

            table {
                border-bottom: 1px solid $black;
            }
        }
        .addendum-description {
            padding: 2rem;
            border-top: 1px solid $black;
        }
    }
}

.submit {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0 0;
    background: $bkg;

    p {
        font-size: 0.75rem;
        margin-bottom: 5px;
    }
    .button-group {
        margin: 0;
    }
}

#backToNeighborhood {
    display: none;
    float: right;

    &:hover {
        cursor: pointer;
    }
}

#viewAddendum {
    margin-left: 1rem;

    &:hover {
        cursor: pointer;
    }
}

