<div class="ls-nav" data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="content:bottom">
	<div class="title-bar-left">
            <ul class="menu">
                <li><a href="{{root}}one.html">1</a></li>
                <li><a href="{{root}}two.html">2</a></li>
                <li><a href="{{root}}three.html">3</a></li>
                <li><a href="{{root}}four.html">4</a></li>
                <li><a href="{{root}}five.html">5</a></li>
                <li><a href="{{root}}six.html">6</a></li>
            </ul>
        </div>
	<div class="title-bar-right">
            {{page.title}}
        </div>
    </div>
</div>
