<nav id="toolbar">
    <button id="toggleMenu">
        <img src="{{root}}../assets/img/menu-icon.svg" alt="Toggle toolbar">
    </button>
    <ul class="menu" id="menuItems">
        <li data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Get platform support.">
            <a href="{{root}}../help.html"><i class="fi-info"></i>Help</a>
        </li>
        
        <li data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Download tools to help with your assessment.">
            <a type="button"  id="toggleDp" data-toggle="mdg"><i class="fi-download"></i> Downloads</a>
            <div class="dropdown-pane top" id="mdg" data-dropdown>
                <ul>
                    <li><a href="{{root}}../assets/docs/tools/Market-Data-Grid.pdf" target="_blank" download>Market Data Grid (.pdf)</a></li>
                    <li><a href="{{root}}assets/docs/tools/Market-Data-Grid.xls" download>Market Data Grid (.xls)</a></li>
                    <hr>
                    <li><a href="{{root}}../assets/docs/tools/silverthorne-drive-land-sales.pdf" target="_blank" download>Land Sales (.pdf)</a></li>
                    <li><a href="{{root}}../assets/docs/tools/subject-property-data-s3.pdf" target="_blank" download>Subject Property URAR (.pdf)</a></li>
                </ul>
            </div>
        </li>

        <li data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Fill out your Uniform Residential Appraisal Report.">
            <a href="{{root}}../s3/worksheet.html"><i class="fi-clipboard-pencil"></i> Answer Form</a>
        </li>
        
        <li data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Interact with the MLS.">
            <a href="{{root}}../s3/mls.html"><i class="fi-list-thumbnails"></i> MLS</a>
        </li>

        <li data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Tour the property.">
            <a href="{{root}}../s3/property-tour.html"><i class="fi-photo"></i> Property Tour</a>
        </li>
    </ul>
</nav>

