<p>Add comps to this form using the MLS, and then use this form to make adjustments and calculate an indicated value by sales comparison approach.</p>
<p>Quick Tips:</p>
<ul>
    <li>The form does not auto-calculate your adjustments—you will have to complete your own calculations before entering them into the form.</li>
    <li>Omit commas when entering numerical responses.</li>
    <li>When entering a negative number, please remember to use the negative sign (–) in front of the number.</li>
    <li>For more information about your subject property, download the subject’s URAR using the “Download the Subject Property URAR” button. The answer form represents the parts on the URAR circled in red. You do not have to fill in the grey boxes.</li>
</ul>
<p>When you have finished entering your answers, select the “Submit” button at the bottom of this page to submit the answer form for feedback.</p>
<p>Please be patient &mdash; this page may take a minute or more to load on slower networks.</p>
