---
layout: feedback
title: Simulation Feedback
type: Appraisal Simulation
s3: true
---

<div id="s3Feedback" class="feedback">
    <div class="row">
        <div class="large-10 large-centered columns">
            <div class="content">
                <h1>Feedback</h1>
                <div class="passed">
                    <p class="lead">Congratulations! You have completed this course. Good work!</p>
                    <a class="large primary button" href="http://www.theeliteappraiser.com/mod/simplecertificate/view.php?id=8"><i class="fi-download"></i> &nbsp; Download Your Certificate</a>
                    <div class="row">
                        <div class="medium-12 columns">
                            <div id="feedback-video"></div>
                        </div>
                    </div>
                </div>
                <div class="failed-first">
                    <p class="lead">Notes</p>
                    <div class="message"></div>
                    <div class="row">
                        <div class="large-12 columns">
                            <p>Unfortunately, you made some mistakes that resulted in an unsupported value. Don’t worry—you have the opportunity to review your work, make corrections, and re-submit. Based on your responses, we think reviewing the learning sections below will help you correct your answers.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <p><strong>Before you re-attempt the final simulation, please review the following learning sections:</strong></p> 
                            <div class="sections"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <p>When you are ready, please correct your answers and submit them again.</p>
                        </div>
                    </div>
                </div>
                <div class="failed-second">
                    <p class="lead">Notes</p>
                    <div class="message"></div>
                    <div class="row">
                        <div class="large-12 columns">
                            <p><strong>Let’s try a new simulation.</strong></p> 
                            <p>Click "Continue" to go back to the homepage and launch a new simulation from there.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 text-center columns">
                        <a class="large secondary hollow button" href="http://www.theeliteappraiser.com/c1home/">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

