---
title: Simulation Introduction
type: Appraisal Simulation
s3: false
introductionthree: true
---

<div id="s3-intro">
    <div class="row">
        <div class="large-12 columns">
            <div class="content">
                <h1>{{title}}</h1>
                <div id="mls-tutorial"></div>
                <p>It’s time to prove what you’ve learned. Your final subject property is a lakeside retreat in Collinswood’s Silverthorne Valley neighborhood. This English country-style house features picturesque views of both the mountains and Silver Lake.</p>
                <p>To successfully complete this simulation, make sure to follow the supported appraisal checklist and the processes outlined in the learning sections. Similar to the Red River Trail simulation, this property is of the highest quality and condition. You will need to select a minimum of three comparable sales in this simulation.</p>
                <p>The simulation has no time limit and you will be able to save your progress at any time. Plan on giving yourself enough time to complete the simulation. This simulation may take an hour or more to complete.</p>
                <p class="text-center">
                    <a href="{{root}}s3/property-tour.html" class="primary button">I'm Ready</a>
                </p>
            </div>
        </div>
    </div>
</div>

