---
title: Simulation Introduction
type: Appraisal Simulation
s2: false
introductiontwo: true
---

<div id="s2-intro">
    <div class="row">
        <div class="large-12 columns">
            <div class="content">
                <h1>{{title}}</h1>
                <div id="mls-tutorial"></div>
                <p>It’s time to prove what you’ve learned. Your final subject property is an oceanfront retreat with direct beach access in Collinswood’s Golden Bay neighborhood, just walking distance from a luxurious shopping and dining district.</p>
                <p>To successfully complete this simulation, make sure to follow the supported appraisal checklist and the processes outlined in the learning sections. Similar to the Red River Trail simulation, this property is of the highest quality and condition. You will need to select a minimum of three comparable sales in this simulation.</p>
                <p>The simulation has no time limit and you will be able to save your progress at any time. Plan on giving yourself enough time to complete the simulation. This simulation may take an hour or more to complete.</p>
                <p class="text-center">
                <a href="{{root}}s2/property-tour.html" class="primary button">Let's Go</a>
                </p>
            </div>
        </div>
    </div>
</div>

