---
title: Scenario Two Realtor Conversation
type: Appraisal Simulation
s2: true
---

<div class="row-fluid">
    <div class="large-12 text-center columns">
        <img src="/assets/img/speak-with-realtor.png" alt="speak with a realtor">
    </div>
</div>
