<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Conversation</title>
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
    </head>
<body>

    {{> body}}

</body>
</html>

