<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
        <script src="https://content.jwplatform.com/libraries/DTQ7a5uQ.js"></script>
        <script src="//dev.powered-by-haiku.co.uk/jw-html-config/keydrive/keydrive.min.js?no-splash"></script>
    </head>
<body>

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas-content" data-off-canvas-content>
            <!-- toolbars for the simulations -->
            {{#with s1}}
                {{> s1-toolbar}}
            {{/with}}
            {{#with s2}}
                {{> s2-toolbar}}
            {{/with}}
            {{#with s3}}
                {{> s3-toolbar}}
            {{/with}}
            <!-- page content -->
            {{> body}}
        </div>
    </div>
</div>

<!-- scripts -->
<script src="{{root}}assets/js/app.js"></script>

{{#with introduction}}
<script src="{{root}}../assets/js/single-page/introduction.js"></script>
<script src="{{root}}../SCORM_API_wrapper.js"></script>
<script>
    $(document).ready(function(){
        // set page
        parent.scormSetPage(0);
    });
</script>
{{/with}}

{{#with introductiontwo}}
<script src="{{root}}../assets/js/single-page/introduction-two.js"></script>
<script src="{{root}}../SCORM_API_wrapper.js"></script>
<script>
    $(document).ready(function(){
        // set page
        parent.scormSetPage(0);
    });
</script>
{{/with}}

{{#with introductionthree}}
<script src="{{root}}../assets/js/single-page/introduction-three.js"></script>
<script src="{{root}}../SCORM_API_wrapper.js"></script>
<script>
    $(document).ready(function(){
        // set page
        parent.scormSetPage(0);
    });
</script>
{{/with}}

{{#with intro}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
<script src="{{root}}../assets/js/single-page/intro.js"></script>
{{/with}}

{{#with tour}}
<script src="{{root}}../SCORM_API_wrapper.js"></script>
<script>
    $(document).ready(function(){
        // set page
        parent.scormSetPage(4);
    });
</script>
{{/with}}

{{#with solution}}
<script src="{{root}}../SCORM_API_wrapper.js"></script>
<script>
    $(document).ready(function(){
        // set page
        parent.scormSetPage(5);
    });
</script>
{{/with}}

</body>
</html>

