<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="x-ua-compatible" content="IE=11">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="//content.jwplatform.com/libraries/DTQ7a5uQ.js"></script>
    <script src="//www.dev.powered-by-haiku.co.uk/jw-html-config/keydrive/keydrive.min.js?no-splash"></script>
</head>

<body>

    <!-- toolbars for the scenarios/simulations -->
    {{#with s1}}
        {{> s1-toolbar}}
    {{/with}}
    {{#with s2}}
        {{> s2-toolbar}}
    {{/with}}
    {{#with s3}}
        {{> s3-toolbar}}
    {{/with}}

    {{> body}} <!-- page content -->

<!-- external scripts -->
<script src="{{root}}assets/js/app.js"></script>
<!-- internal scripts -->
{{#with s1}}
    <script src="{{root}}../assets/js/single-page/feedback-one.js"></script>
{{/with}}
{{#with s2}}
    <script src="{{root}}../assets/js/single-page/feedback-two.js"></script>
    <script src="{{root}}../SCORM_API_wrapper.js"></script>
    <script>
        $(document).ready(function(){
            // set page
            parent.scormSetPage(1);
        });
    </script>
{{/with}}
{{#with s3}}
    <script src="{{root}}../assets/js/single-page/feedback-three.js"></script>
    <script src="{{root}}../SCORM_API_wrapper.js"></script>
    <script>
        $(document).ready(function(){
            // set page
            parent.scormSetPage(1);
        });
    </script>
{{/with}}

</body>
</html>
