<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>High End Property Appraisal</title>
        <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
        <script src="https://content.jwplatform.com/libraries/DTQ7a5uQ.js"></script>
        <script src="//www.dev.powered-by-haiku.co.uk/jw-html-config/keydrive/keydrive.min.js?no-splash"></script>
    </head>
<body>

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas-content" data-off-canvas-content>
            {{> body}}
        </div>
    </div>
</div>

<!-- scripts -->
<script src="{{root}}assets/js/app.js"></script>
{{#with index}}
    <script src="{{root}}assets/js/single-page/index.js"></script>
{{/with}}
{{#with landing}}
    <script src="{{root}}assets/js/single-page/landing.js"></script>
{{/with}}

</body>
</html>

