<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{number}}{{#with number}}: {{/with}}{{ title }}</title>
        <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
        <script src="https://content.jwplatform.com/libraries/DTQ7a5uQ.js"></script>
        <script src="//www.dev.powered-by-haiku.co.uk/jw-html-config/keydrive/keydrive.min.js?no-splash"></script>
    </head>
<body>

    {{> body}}

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="{{root}}assets/js/single-page/scrollProgress.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
<script src="{{root}}assets/js/single-page/jquery.bxslider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>

{{#with ls-intro}}
    <script src="{{root}}../assets/js/single-page/ls-intro.js"></script>
{{/with}}

{{#with ls-one}}
    <script src="{{root}}../assets/js/app.js"></script>
    <script src="{{root}}../assets/js/single-page/ls-one.js"></script>
{{/with}}

{{#with ls-two}}
    <script src="{{root}}../assets/js/single-page/ls-two.js"></script>
{{/with}}

{{#with ls-three}}
    <script src="{{root}}../assets/js/single-page/ls-three.js"></script>
{{/with}}

{{#with ls-four}}
    <script src="{{root}}../assets/js/single-page/ls-four.js"></script>
{{/with}}

{{#with ls-five}}
    <script src="{{root}}../assets/js/single-page/ls-five.js"></script>
{{/with}}

{{#with ls-six}}
    <script src="{{root}}../assets/js/single-page/ls-six.js"></script>
{{/with}}

</body>
</html>
