<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <meta http-equiv="x-ua-compatible" content="IE=11">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MLS</title>
        <!-- legacy browser notice -->

        <!-- scripts -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <!-- <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> -->
        <!-- base64 and tableExport changed to load from cdnjs // make sure these are correct versions -->
        <script src="https://content.jwplatform.com/libraries/DTQ7a5uQ.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Base64/1.0.0/base64.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/3.2.14/js/tableexport.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://code.highcharts.com/highcharts.js"></script>
        <script type="text/javascript" language="javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
        <script type="text/javascript" language="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>
        <!-- styles -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/scroller/1.4.2/css/scroller.bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.0/css/select.bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" />
        <link rel="stylesheet" href="{{root}}assets/mls.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/css/bootstrap-slider.min.css" />
    </head>
<body>

    <!-- toolbars for the scenarios/simulations -->
    {{#with s1}}
        {{> s1-toolbar}}
    {{/with}}
    {{#with s2}}
        {{> s2-toolbar}}
    {{/with}}
    {{#with s3}}
        {{> s3-toolbar}}
    {{/with}}
    <!-- page content -->
    {{> body}}

<!-- external scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.11/dataRender/datetime.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/scroller/1.4.2/js/dataTables.scroller.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/bootstrap-slider.min.js"></script>

<!-- internal scripts -->
{{#with s1}}
    <script src="{{root}}../SCORM_API_wrapper.js"></script>
    <script src="{{root}}../assets/js/single-page/mls-one.js"></script>
    <script>
        $(document).ready(function(){
            // set page
            parent.scormSetPage(3);
        });
    </script>
{{/with}}

{{#with s2}}
    <script src="{{root}}../SCORM_API_wrapper.js"></script>
    <script src="{{root}}../assets/js/single-page/mls-two.js"></script>
    <script>
        $(document).ready(function(){
            // set page
            parent.scormSetPage(3);
        });
    </script>
{{/with}}

{{#with s3}}
    <script src="{{root}}../SCORM_API_wrapper.js"></script>
    <script src="{{root}}../assets/js/single-page/mls-three.js"></script>
    <script>
        $(document).ready(function(){
            // set page
            parent.scormSetPage(3);
        });
    </script>
{{/with}}

</body>
</html>
