<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worksheet</title>
    <!-- legacy browser notice -->

    <!-- styles -->
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>

    <!-- toolbars for the scenarios/simulations -->
    {{#with s1}}
        {{> s1-toolbar}}
    {{/with}}
    {{#with s2}}
        {{> s2-toolbar}}
    {{/with}}
    {{#with s3}}
        {{> s3-toolbar}}
    {{/with}}

    {{> body}} <!-- page content -->

<!-- external scripts -->
<script src="{{root}}assets/js/app.js"></script>
<script src="{{root}}assets/js/single-page/double-scroll.js"></script>
<!-- internal scripts -->
{{#with w1}}
    <script src="{{root}}../SCORM_API_wrapper.js"></script>
    <script src="{{root}}../assets/js/single-page/worksheet-one.js"></script>
    <script>
        $(document).ready(function(){
            // set page
            parent.scormSetPage(8);
        });
    </script>
{{/with}}
{{#with w2}}
    <script src="{{root}}../SCORM_API_wrapper.js"></script>
    <script src="{{root}}../assets/js/single-page/worksheet-two.js"></script>
    <script>
        $(document).ready(function(){
            // set page
            parent.scormSetPage(7);
        });
    </script>
{{/with}}
{{#with w3}}
    <script src="{{root}}../SCORM_API_wrapper.js"></script>
    <script src="{{root}}../assets/js/single-page/worksheet-three.js"></script>
    <script>
        $(document).ready(function(){
            // set page
            parent.scormSetPage(7);
        });
    </script>
{{/with}}

</body>
</html>

