---
layout: ls
number: 5
title: Verify Everything
type: Learning Section
ls: true
ls-five: true
---

<div class="home-button">
    <button id="goHome">
        <i class="fi-home"></i>
    </button>
</div>

<div class="section-nav">
    <button id="sectionNav">
        <div class="menubar nav-one"></div>
        <div class="menubar nav-two"></div>
        <div class="menubar nav-three"></div>
        <div class="menubar nav-four"></div>
    </button>
</div>

<section class="sect" id="ls5-intro" title="Verify Everything.">
    <div class="content">        
        <div class="row">
            <div class="large-12 medium-12 medium-centered columns">
                <div class="intro-content ">
                    <p class="learning-section-number">Learning Section 5</p>
                    <h1>Verify Everything.</h1>
                    <p class="lead">Verification is so critical that we want it to be its own step on your checklist.</p>
                    <p>The lack of proper verification is often revealed during the review process, which can have a substantial impact on a report’s value opinion. This can lead to considerable service delays when a reviewer finds conflicting information that requires clarification from the appraiser.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="verification-is-continuous" title="Verification Is Continuous.">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/5/continuous-verification.png" class="curve">
                    <h2>Verification Is Continuous.</h2>
                    <p>The goals of data verification are to obtain accurate details about the subject property and comparables, and to better understand the attitudes and motivations of buyers and sellers. The more knowledgeable an appraiser is about the subject property, market trends, sales, listings, and pendings, the greater the confidence level and quality. Use every available tool to verify your data, not only for the subject property, but also for the market and comps.</p>
                    <p>Remember: <strong>Information you obtain yourself will often be the most reliable.</strong> Start with the internet. Find whatever information is out there about your subject property and the comps and pursue the relevant details. Your objective is to confirm the data you have is accurate and complete.</p>
                    <p>Simply using MLS and public records is not enough on high-end assignments, especially when comps and data are scarce. You also have to be comfortable with picking up the phone and contacting agents in the market who can provide you with information that is not available on MLS.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns screenshot">
                <p>How do you know when you need to do extra research? In this example, the appraiser notices an architect’s name is listed in different locations on the MLS report.</p>
            </div>
        </div>
        <div class="video-content">
            <div class="row">
                <div class="medium-4 text-center columns">
                    <div  id="watch-video">
                        <div class="watch-video">
                            <a class="button video play-continuous-verification" href="#">WATCH NOW</a>
                        </div>
                    </div>
                </div>
                <div class="medium-8 columns">
                    <div id="continuous-verification"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <p>After noting a pattern of real estate agent comments in the MLS reports for several comparables, the appraiser calls the real estate agents involved in each listing. The agents confirm that homes in Collinswood designed by Gordon Franklin have historically sold 20-30% higher than homes of comparable age, design, and size. Gordon Franklin is a noted architect who designed homes in Collinswood--as well as a number of public buildings--during the early part of the 20th century. These homes are characterized by oversized rooms intended for entertaining, as well as intricate detail on the interior walls, windows, and door trim. The appraiser must use accepted adjustment techniques to support the agents’ opinions regarding the value of these homes.</p>
                <p>What about when you see something that seems out of the ordinary? In this example, the appraiser is searching MLS for comparables with similar features to the subject property, but one comparable stands out because of a significantly higher sale price.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-12 large-centered columns">
                <table>
                    <caption>Recent Property Sales</caption>
                    <thead>
                        <tr>
                            <th>Street # and<br />Street Name</th>
                            <th>Status</th>
                            <th>Closing Date</th>
                            <th>Sold Price</th>
                            <th>List Price</th>
                            <th>List Date</th>
                            <th>GLA</th>
                            <th>Yr Blt</th>
                            <th>Site Sq Ft</th>
                            <th>Bed</th>
                            <th>Bath</th>
                            <th>Quality</th>
                            <th>Condition</th>
                            <th>Area</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3803 Royal Lytham Dr</td>
                            <td>SLD</td>
                            <td>6/13/2014</td>
                            <td>$2,399,000</td>
                            <td>$2,500,000</td>
                            <td>2/14/2014</td>
                            <td>3531</td>
                            <td>1988</td>
                            <td>29,900</td>
                            <td>5</td>
                            <td>3</td>
                            <td>Q3</td>
                            <td>C3</td>
                            <td>Spruce Grove</td>
                        </tr>
                        <tr>
                            <td>2647 Hankley Common DR</td>
                            <td>SLD</td>
                            <td>7/26/2014</td>
                            <td>$2,040,000</td>
                            <td>$2,079,000</td>
                            <td>4/19/2014</td>
                            <td>3400</td>
                            <td>1988</td>
                            <td>27,375</td>
                            <td>5</td>
                            <td>3</td>
                            <td>Q3</td>
                            <td>C3</td>
                            <td>Spruce Grove</td>
                        </tr>
                        <tr>
                            <td>354 Berkshire DR</td>
                            <td>SLD</td>
                            <td>5/19/2014</td>
                            <td>$2,045,000</td>
                            <td>$2,100,000</td>
                            <td>3/2/2014</td>
                            <td>3651</td>
                            <td>1983</td>
                            <td>28,954</td>
                            <td>4</td>
                            <td>3</td>
                            <td>Q3</td>
                            <td>C3</td>
                            <td>Spruce Grove</td>
                        </tr>
                        <tr>
                            <td>2160 Machrihanish Lane</td>
                            <td>SLD</td>
                            <td>4/28/2014</td>
                            <td>$2,056,000</td>
                            <td>$2,149,000</td>
                            <td>1/14/2014</td>
                            <td>3610</td>
                            <td>1982</td>
                            <td>32,100</td>
                            <td>5</td>
                            <td>3</td>
                            <td>Q3</td>
                            <td>C3</td>
                            <td>Spruce Grove</td>
                        </tr>
                        <tr>
                            <td>305 Royal Ashdown Terrace</td>
                            <td>SLD</td>
                            <td>3/31/2014</td>
                            <td>$2,075,000</td>
                            <td>$2,095,000</td>
                            <td>1/15/2014</td>
                            <td>3403</td>
                            <td>1984</td>
                            <td>28,660</td>
                            <td>4</td>
                            <td>2</td>
                            <td>Q3</td>
                            <td>C3</td>
                            <td>Spruce Grove</td>
                        </tr>
                        <tr>
                            <td>3216 St Andrews DR</td>
                            <td>SLD</td>
                            <td>6/24/2014</td>
                            <td>$2,015,000</td>
                            <td>$2,075,000</td>
                            <td>4/1/2014></td>
                            <td>3395</td>
                            <td>1984</td>
                            <td>29,838</td>
                            <td>4</td>
                            <td>3</td>
                            <td>Q3</td>
                            <td>C3</td>
                            <td>Spruce Grove</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <p>The full MLS listing includes a notation in the confidential remarks indicating the sale included another parcel.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <img src="{{root}}assets/img/ls/5/royal-lytham-mls.jpg" alt="MLS listing for 3803 Royal Lytham Drive, which sold June 13, 2014 for $2.5 million. Highlighted within the listing are the details that an additional 25,000 square foot lot was for sale alongside the property, and in the confidential remarks, the selling realtor notes that the property sold with 123-4560-023.">
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <p>A search in public records, by property address, reveals (2) entries for this property. At this point, the appraiser must contact the agent to confirm the true sale price of the property ($2,099,000 or $2,399,000) and what is included in the price (one or both parcels).</p>
            </div>
        </div>
        <div class="row">
            <div class="large-12 large-centered columns">
                <br />
                <table>
                    <caption>Public Record Search for 3803 Royal Lytham Drive</caption>
                    <thead>
                        <tr>
                            <th>APN</th>
                            <th>Address</th>
                            <th>Sale Price</th>
                            <th>Last Recording</th>
                            <th>Yr Blt</th>
                            <th>Bed</th>
                            <th>Baths(Full)</th>
                            <th>Bld/Liv</th>
                            <th>Lot Area</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123-4560-001</td>
                            <td>3803 Royal Lytham Dr</td>
                            <td>$2,099,000</td>
                            <td>6/13/2014</td>
                            <td>1988</td>
                            <td>5</td>
                            <td>3</td>
                            <td>3531</td>
                            <td>29900</td>
                        </tr>
                        <tr>
                            <td>123-4560-023</td>
                            <td>3803 Royal Lythad Dr</td>
                            <td>$300,000</td>
                            <td>6/13/2014</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>25000</td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <p><strong>What stands out?:</strong> Same property address, and recording date, but different APN, sale price, and lot area</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>  
    </div>
</section>

<section class="sect" id="build-a-network" title="Build a Network.">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/5/build-network.png" class="curve">
                    <h2>Build a Network.</h2>
                    <p class="lead">To succeed at appraising high-end complex properties, you will need a network of real estate agents you can use as a resource. Get to know the prominent agents and offices in your coverage area. Don’t limit yourself to just the listing and selling agents; resolve to reach out to the top agent in the area as you start your next assignment. </p>
                    <p>The top agent will be the most knowledgeable on market trends and off-market sales. He or she can confirm data in ways no one else can. Make building a network a habit and it will pay off for future assignments.</p>
                    <p>Your time is limited, so contact agents at the beginning of your assignment to ensure you have an opportunity to talk with them before you complete the report.</p>
                </div>

                <section class="sect" id="leveling-with-agents" title="Video: Leveling with Agents">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="row">

                                <div class="large-4 medium-12 medium-centered align-middle columns">
                                    <h2>Who Needs Real Estate Agents?</h2>
                                    <p>You do! Check out this story of how a real estate agent saved the day for an appraiser with a unique assignment.</p>
                                    <P><a class="button video play-agents" href="#">WATCH NOW</a></P>
                                </div>
                                
                                <div class="large-8 large-centered medium-12 medium-centered columns">
                                    <div id="who-needs-agents"></div>
                                    <!-- <video class="video-agents" poster="{{root}}assets/img/ls/video-posters/leveling-with-agents.png" preload="auto" onclick="this.play();" controls>
                                        <track kind="subtitles" src="{{root}}assets/captions/ls5-leveling-with-agents.vtt"></track>
                                        <source src="//production.smedia.lvp.llnw.net/8fc5279f395743bdb68c29b842d3e431/we/X_YwFD6VOwIvR6hoJDs3mQr87qs5HQVSxTLNckYII/ls5-leveling-with-agents.mp4?x=0&h=d5885ea19a26821d5acc279ea66cfa8f" type="video/mp4">
                                    </video> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>
</section>

<section class="sect" id="be-prepared" title="Be Prepared for Your Calls to Agents.">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/5/call-be-prepared.png" class="curve">
                    <h2 class="be-prepared">Be Prepared for Your Calls to Agents.</h2>
                    <ul>
                        <li>A checklist can help organize your questions and record the answers so that the information is available when you are ready to write the report.</li>

                        <li>Make sure to have follow-up questions ready so that the conversation doesn’t end before you have the information you need.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sect" id="talking-to-realtors" title="Talking to Realtors">
    <div class="content">        
        <div class="row">
            <div class="large-12 columns">
                <h2>Talking to Realtors</h2>
            </div>       
        </div>
        <div class="row">
            <div class="large-12 columns">
                <!--SLIDER 1-->
                <div id="slider1-wrapper">
                    <!-- slider1 controls -->
                    <div class="slider1-controls">
                        <button class="next1">></button>
                        <button class="prev1"><</button>
                    </div>
                    <!-- slider1 items -->
                    <div class="slider1-items">
                        <!--SLIDE 1-->
                        <div class="slider1-item">
                            <div class="content">
                                <div class="slide1-content">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/766752/sleuthing.png">
                                    <h4>Super Sleuthing</h4>
                                    <p>Think of yourself as a detective when talking to real estate agents. You’re searching for clues to solve your appraisal problem, and these informants may be able to tell you key information about topics such as:</p>

                                    <ul>
                                        <li> Specific property characteristics</li>
                                        <li> Comparables</li>
                                        <li> Off-market listings</li>
                                        <li> Markets</li>
                                        <li> Trends</li>
                                        <li> Buyer and seller preferences</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--SLIDE 2 -->
                        <div class="slider1-item">
                            <div class="content">
                                <div class="slide2-content">    
                                    <h4>Keep it Classy</h4>
                                    <p>You’re representing the bank, so always be polite, professional, and prepared. Make sure you’re familiar with your subject property, its market, and comparables before talking to real estate agents. </p>
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/766752/classy.png">
                                </div>
                            </div>
                        </div>
                        <!--SLIDE 3-->
                        <div class="slider1-item">
                            <div class="content">
                                <div class="slide3-content">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/766752/mysterious.png">
                                    <h4>…and Mysterious</h4>

                                    <p>Remember that you are bound by USPAP (Uniform Standard of Professional Appraisal Practice), so even if an agent is dying to know more about your subject property or client, play it coy and keep the secret! Try starting your conversation with something like, “I’m working on an appraisal in the market area of one of your recent sales” or “I’m working on an appraisal for a property with similar characteristics as one of your recent sales.”</p>
                                </div>  
                            </div>
                        </div>
                        <!--SLIDE 4-->
                        <div class="slider1-item">
                            <div class="content">
                                <div class="slide4-content">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/766752/faux-pas.png">
                                    <h4>Avoid Faux Pas</h4>
                                    <p>Of course, you should always avoid unprofessional and impolite questions like, “The buyer really overpaid for your listing. Why is that?” or “I can’t believe that dump sold for such a high price in such a bad location!” However, you should also be careful to avoid closed-ended questions that yield quick yes or no answers. For example, instead of asking, “was the property in good condition?” try something like, “Can you tell me about the overall property condition and recent updates?”</p>
                                </div> 
                            </div>
                        </div>
                    </div><!--END SLIDER1 ITEMS-->
                    <!-- slider1 bullets -->  
                    <div class="slider1-bullets">
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </div>
                </div><!--End Slider 1-->
                <!--SLIDER 2-->
                <div id="slider2-wrapper">
                    <h3>Questions for the Selling Agent</h3>
                    <span class="quote">&#8220;</span>
                    <!-- slider2 controls -->
                    <div class="slider2-controls">
                        <button class="next2">></button>
                        <button class="prev2"><</button>
                    </div>
                    <!-- slider2 items -->
                    <div class="slider2-items">
                        <!--SLIDE 1-->
                        <div class="slider2-item">
                            <div class="content">
                                <p>Can you tell me about the condition and quality of the property?</p>
                            </div>
                        </div>
                        <!--SLIDE 2 -->
                        <div class="slider2-item">
                            <div class="content">
                                <p>Has the property been remodeled? If so, how extensive? What was the cost of the remodel? How recent was the remodel?</p>
                            </div>
                        </div>
                        <!--SLIDE 3-->
                        <div class="slider2-item">
                            <div class="content">
                                <p>How was the listing price or marketing strategy determined?</p>
                            </div>
                        </div>
                        <!--SLIDE 4-->
                        <div class="slider2-item">
                            <div class="content">
                                <p>Did you receive many offers? If so, how many and what was the price range?</p>
                            </div>
                        </div>
                        <!--SLIDE 5-->
                        <div class="slider2-item">
                            <div class="content">
                                <p>Was there any atypical seller motivation such as job transfer or change in family situation? In other words, were they in a hurry to sell and were they willing to accept a lower price?</p>
                            </div>
                        </div>
                        <!--SLIDE 6-->
                        <div class="slider2-item">
                            <div class="content">
                                <p>Were there any seller concessions? If so what were they? Was there any personal property included in the transaction?</p>
                            </div>
                        </div>
                        <!--SLIDE 7-->
                        <div class="slider2-item">
                            <div class="content">
                                <p>What did your seller enjoy most about the property?</p>                
                            </div>
                        </div>
                        <!--SLIDE 8-->
                        <div class="slider2-item">
                            <div class="content">
                                <p>What do you believe attracted buyers to the property? Location? Physical characteristics? Proximity to job and amenities? View?</p>
                            </div>
                        </div>
                        <!--SLIDE 9-->
                        <div class="slider2-item">
                            <div class="content">
                                <p>If there were price reductions or extended marketing time, ask why they thought the property took longer to sell or why the drop in price.</p>  
                            </div>
                        </div>
                        <!--SLIDE 10-->
                        <div class="slider2-item">
                            <div class="content">
                                <p>Don’t be afraid to ask about other similar properties. Agents often see many homes and can tell you about the condition, quality and how the home compares to their recent sales.</p>
                            </div>
                        </div>
                    </div><!--END slider2 ITEMS-->
                    <!-- slider2 bullets -->  
                    <div class="slider2-bullets">
                        <span class="bullet2"></span>
                        <span class="bullet2"></span>
                        <span class="bullet2"></span>
                        <span class="bullet2"></span>
                        <span class="bullet2"></span>
                        <span class="bullet2"></span>
                        <span class="bullet2"></span>
                        <span class="bullet2"></span>
                        <span class="bullet2"></span>
                        <span class="bullet2"></span>
                    </div>
                </div><!--End slider2-->
                <!--SLIDER 3-->
                <div id="slider3-wrapper">
                    <h3>Questions for the Listing Agent</h3>
                    <span class="quote">&#8220;</span>
                    <!-- slider3 controls -->
                    <div class="slider3-controls">
                        <button class="next3">></button>
                        <button class="prev3"><</button>
                    </div>
                    <!-- slider3 items -->
                    <div class="slider3-items">
                        <!--SLIDE 1-->
                        <div class="slider3-item">
                            <div class="content">
                                <p>Review key property characteristics.</p>
                            </div>
                        </div>
                        <!--SLIDE 2 -->
                        <div class="slider3-item">
                            <div class="content">
                                <p>What attracted your buyers to the property? What did they like best?</p>

                            </div>
                        </div>
                        <!--SLIDE 3-->
                        <div class="slider3-item">
                            <div class="content">
                                <p>How long had the buyers been in the market?</p>
                            </div>
                        </div>
                        <!--SLIDE 4-->
                        <div class="slider3-item">
                            <div class="content">
                                <p>Was there any atypical buyer motivation such as job transfer or change in family situation?<br /> In other words, were they in a hurry to buy and willing to make a higher-than-expected offer?</p>
                            </div>
                        </div>
                        <!--SLIDE 5-->
                        <div class="slider3-item">
                            <div class="content">
                                <p>What other properties and/or markets did the buyers consider? <br />What made them choose this property?</p>
                            </div>
                        </div>
                        <!--SLIDE 6-->
                        <div class="slider3-item">
                            <div class="content">
                                <p>Did the seller make any concessions? If so, what were they?<br /> Was any personal property included?</p>
                            </div>
                        </div>
                        <!--SLIDE 7-->
                        <div class="slider3-item">
                            <div class="content">
                                <p>If the property sold substantially under the listing price, explore possible reasons.<br /> Was new information uncovered about the condition during inspection?<br /> Was there increased competition? Did the seller’s circumstances change?</p>
                            </div>
                        </div>
                        <!--SLIDE 8-->
                        <div class="slider3-item">
                            <div class="content">
                                <p>What other market areas do you think are comparable to this property’s and why?</p>
                            </div>
                        </div>
                    </div><!--END slider3 ITEMS-->
                    <!-- slider3 bullets -->  
                    <div class="slider3-bullets">
                        <span class="bullet3"></span>
                        <span class="bullet3"></span>
                        <span class="bullet3"></span>
                        <span class="bullet3"></span>
                        <span class="bullet3"></span>
                        <span class="bullet3"></span>
                        <span class="bullet3"></span>
                        <span class="bullet3"></span>
                    </div>
                </div><!--End slider3-->
            </div>
        </div>
    </div>
</section>

<section class="sect" id="explain-your-verification-process" title="Explain Your Verification Process.">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/5/verification-process.png" class="curve">
                    <h2>Explain Your Verification Process.</h2>
                    <p class="lead">Once you have completed the verification process, it’s important to include the details in your report. The client will want to know how you obtained the information. If you are verifying data because of conflicting details from other sources, include how you reconciled the data in your analysis. For example, MLS and public records data can differ in the reported GLA of a property. As the appraiser, you must make the final call on what figure to report. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="verifying-everything" title="Verifying Everything with 848 Red River Trail">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/5/verify-848.png" class="curve">
                    <h2>Verifying Everything with 848 Red River Trail</h2>
                    <p class="lead">To keep the 848 Red River Trail simulation workable in a short amount of time, we provided you nearly all of the information you needed about the subject property. However, if you verified data about the comparable properties, you would have found an off-market listing just down the street from your subject property that almost perfectly compares to your subject: 822 Red River Trail.</p>
                    <p>To find this comp, verify the property features for 5397 Morgan Valley Road with the listing agent, Mr. Sai Kata of Notheby’s International Realty. While verifying the details for you, he would have shared with you the off-market listing for 822 Red River Trail.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <img src="{{root}}assets/img/ls/5/sai-kata-convo.jpg" class="sai-kata" alt="Screenshot of the conversation with Sai Kata that reveals the property details for 822 Red River Trail. The details show that the property sold for $5,555,500, includes 3 acres with a view of the residential area, mountain and hills, is 15 years old with a GLA of 6,500 square feet, 14 rooms, 5 bedrooms, 6 bathrooms, a 4-stall barn, pool with spa and water feature, and a 1200 square-foot pool house.">
            </div>
        </div>
    </div>
</section>

<section class="sect" id="points-to-remember-l5" title="What We Expect You to Do">
    <div class="alpha-ramp"></div>
    <div class="content">
        <div class="expanded row">
            <div class="large-12 text-center columns">
                <h2 class="text-center">What We Expect You to Do</h2> 
            </div>
        </div>

        <div class="row">
            <div class="medium-10 medium-offset-1 large-8 large-offset-2 columns">
                <div class="points-to-remember">
                    <ul>
                        <li>Seriously, verify everything.</li>
                        <li>Remember that the goal of verification is to determine if the data is accurate and complete.</li>
                        <li>Build a network of agents that you can rely on for information.</li>
                        <li>Be prepared for agent conversations.</li>
                        <li>Include the details of your verification process in the report.</li>

                        <span class="l1"></span>
                        <span class="l2"></span>
                        <span class="l3"></span>
                        <span class="l4"></span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="downloads">
            <div class="row">
                <div class="large-10 large-centered text-center columns">
                    <p class="text-left">We have created printable reference pages to help you remember the main points of each learning section. Be sure to download, save, and refer to the reference pages as you complete future appraisals.</p>
                    <small><strong>Reference Page Download</strong></small>
                    <br>
                    <a class="hollow secondary button" href="{{root}}assets/docs/handouts/ls5-handout-accessible.pdf" target="_blank"><i class="fi-download"></i> Learning Section 5 Reference Page</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sect" id="rick-video-five" title="Video: Connecting the Dots">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        <div id="connecting-the-dots-five"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect ls-footer" id="checklist-nav-five" title="Checklist">
    <div class="gradient"></div>
    <div id="checklist">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2 class="cl-title">Checklist for a Supported Appraisal</h2>
                <!-- data for checklist in src/data/checklist.json -->
                <ul class="cl-items one two three four five six">
                    {{#each checklist.items}}
                    <li class="item">
                        <div class="circle"></div>
                        <div class="cl-content">
                            <a href="{{ this.link }}">
                                {{ this.title }}
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>

