---
layout: ls
number: 4
title: Support Adjustments
type: Learning Section
ls: true
ls-four: true
---

<div class="home-button">
    <button id="goHome">
        <i class="fi-home"></i>
    </button>
</div>

<div class="section-nav">
    <button id="sectionNav">
        <div class="menubar nav-one"></div>
        <div class="menubar nav-two"></div>
        <div class="menubar nav-three"></div>
        <div class="menubar nav-four"></div>
    </button>
</div>


<section class="sect" id="ls4-intro" title="Support Adjustments for Significant Differences.">
    <div class="content">        
        <div class="row">
            <div class="large-6 large-offset-6 large-centered medium-12 medium-centered columns">
                <div class="intro-content ">
                    <p class="learning-section-number">Learning Section 4</p>
                    <h1>Support Adjustments for Significant Differences.</h1>
                    <!-- <p class="lead">These learning sections strive to respect your professional expertise. So, instead
                    of repeating information you already know, our goal is to show you what it takes to bring your appraisals to the next leve.</p> -->
                    <div class="in-this-section">
                        <p>In this learning section, we assume you know how to:</p>
                        <ul>
                            <li>Use paired data analysis to derive an adjustment</li>
                            <li>Follow the sequence of adjustments for net paired data analysis</li>
                            <li>Calculate a time adjustment</li>
                        </ul>
                        <p>If you do not know how to perform these tasks, please review appraisal industry resources before beginning this learning section.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="providing-support" title="Provide Support for Significant Adjustments.">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/4/support-significant-adjust.png" class="curve">
                    <h2>Provide Support for Significant Adjustments.</h2>
                    <p>One of the top issues we see is appraisers failing to provide adequate support when making significant adjustments. We are not too concerned with your bedroom adjustments on a 15,000 sq. ft. home; however, we are concerned about adjustments that have a considerable impact on the value. Location adjustments are a main source for these kinds of errors, which occur when appraisers go to different markets in search of comparables that share or brackets one or more of the subject’s features.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="support-for-adjustments" title="When Do We Expect You to Provide Support for Adjustments?">
    <div class="content">        
        <div class="row">
            <div class="large-10 large-centered columns">
                <!-- <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/4/when-do-we-adjust.png" class="curve"> -->
                    <h2>When Do We Expect You to Provide Support for Adjustments?</h2>
                    <p class="lead">We expect to see support and your rationale when making significant adjustments. These adjustments can be found on the “top” portion of the 1004 grid and include location, view, site, GLA, condition, quality, etc.</p>
                    <!-- </div> -->
            </div>
        </div>
        <div class="row">
            <div class="large-9 large-centered columns">
                <video id="adjustmentsVideo" preload="auto" onclick="this.play();" controls>
                    <source src="//production.smedia.lvp.llnw.net/8fc5279f395743bdb68c29b842d3e431/kr/_XRUyS5351YXvgOi7lFN2l1vLr__976Dzese0btLk/ls3-gg-bridge.mp4?x=0&h=796703a5356c53fdff56375eaa41c646"></source>
                </video>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <p>We also expect to see support when you don’t make an adjustment. For example, if the subject has a view of the Golden Gate Bridge, and you say a comparable has a similar view and no adjustment is needed, then we would expect to see support for that statement (e.g., MLS photos of the comp’s view demonstrating that they are equal).</p>
                <p>Another example would be not making an adjustment when going to a different neighborhood or market for a comp. Because location is such a huge influence on value, we would expect to see support showing there is no difference between the markets.</p>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="story-video" title="Video: Hills and Flats">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">

                    <div class="large-4 medium-12 medium-centered align-middle columns">
                        <h2>Would You Make This Mistake?</h2>
                        <p>Say you have a subject property in the hills. What should you do if you find a property with comparable features in the flats?</p>
                        <P><a class="button video play-hills" href="#">WATCH NOW</a></P>
                    </div>

                    <div class="large-8 large-centered medium-12 medium-centered columns">
                        <div id="would-you-make-mistake"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="support-look-like" title="What Does Support Look Like?">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/4/what-does-support-look-like.png" class="curve">
                    <h2>What Does Support Look Like?</h2>
                    <p class="lead">There are different methods to provide support. Essentially, we are talking about three things: </p>
                    <ol>
                        <li>Tell where you found the data and the search parameters you used.</li>
                        <li>Tell or show the results of your analysis (e.g., range, dollar amount or percentage difference, etc.).</li>
                        <li>Tell how you got from the results of your data analysis to your adjustment (or no adjustment).</li>
                    </ol>
                    <p>There will be variations to these methods, but if you apply this general format in your report, you will meet our expectations.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="base-your-adjustments" title="Base Your Adjustments on Data and Good Judgement.">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/4/base-your-adjustments.png" class="curve">
                    <h2>Base Your Adjustments on Data and Good Judgement.</h2>
                    <p class="lead">Every parcel of real estate is unique, and despite the best efforts to find similar properties, we usually need to make adjustments. Unfortunately, we see appraisers either trying to come up with a tight adjustment or just abandoning the whole process and providing a canned statement.</p> 
                </div>
            </div>
        </div>
        
        <section class="sect" id="par-for-the-course" title="Video: Par for the Course">
            <div class="row">

                <div class="large-4 medium-12 medium-centered align-middle columns">
                    <h2>Avoid the Mulligan.</h2>
                    <p>In this story, the appraiser leaves his clients tee’d off.</p>
                    <P><a class="button video play-golf" href="#">WATCH NOW</a></P>
                </div>

                
                <div class="large-8 large-centered columns">
                    <div id="avoid-mulligan"></div>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="sect" id="canned-statements" title="Canned Statements to Avoid">
    <div class="content">        
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2>Canned Statements to Avoid</h2>
                <ul>
                    <li class="lead">"The location adjustment was based on the appraiser’s 20 years of experience in the market.”</li>

                    <li class="lead">“Comp 3 is located in a competitive market and no adjustment is warranted,” without providing any support for that conclusion.</li>
                </ul>
                <p>Adjustments in high-end assignments are not always neat and tidy. By employing the comparable search processes defined in this course, you should have the best comps available. The key is to use different techniques to establish a range for the difference you are trying to determine. Your range may be 5-20% with one technique, 10-30% with another, and 10-20% with yet another. The point is, by going through the process, you develop a supportable set of ranges from which you can further reconcile to determine your adjustment.</p>
            </div>
        </div>
    </div>
</section>


<section class="sect" id="determine-adjustments" title="Supporting Significant Differences for 848 Red River Trail">
    <div class="content">        
        <div class="row">
            <div class="large-8 large-centered columns">
                <h2>Supporting Significant Differences for 848 Red River Trail</h2>
                <h4>Match Pair</h4>
                <ul>
                    <li>Also known as paired data analysis, this technique involves comparing two properties that are similar in all respects but one. The value for that one feature can be determined by the difference in price between the two properties. Rarely do high-end properties share every feature but one, yet this technique can still be an effective way to determine the difference for a significant feature. You should complete a series of match pairs to establish a trend or pattern for the adjustment. The result can be shown as a dollar amount or a percentage of the sale price.</li>
                    <li>For example, the GLA adjustment for 848 Red River Trail can be derived using this method. Due to limited data in the subject’s market area, the time and site adjustments were applied to the comparable sales first to arrive at an Adjusted Price (using net match pairing and a Market Data Grid), and then Paired Data Analysis was performed. There are up to 14 different match pair examples to consider.  We don’t expect you to complete this many match pair examples, but we do expect you to provide a sufficient number to support a reliable adjustment. To show your work and include supporting data in this case means to provide details on the properties used (address, sale price, sale date, GLA, and other pertinent details) as well as the calculations. The final step is to reconcile the data into an adjustment.</li>
                    <li><strong>Sample comment:</strong> “The GLA adjustment was derived using the following paired data exercises. The result is a range from $133 to $598 per square foot. The most similar sales and predominant price points to the upper end of the range, which supports the adjustment made of $400 per square foot.”</li>
                </ul>
            </div>
        </div>
        <div class="row expanded">
            <div class="large-12 large-centered columns">
                <table>
                    <caption>Matched Pair Example</caption>
                    <tr>
                        <th></th>
                        <th>Address of Paired Sales</th>
                        <th>$ Adjusted Price</th>
                        <th>$ Adj. Price Difference</th>
                        <th>GLA</th>
                        <th>GLA Difference</th>
                        <th>$ Price per Sq. Ft.</th>
                    </tr>
                    <tr>
                        <td class="pair">Pair 1</td>
                        <td class="align-left">5397 Morgan Valley Rd</td>
                        <td>$6,043,000</td>
                        <td rowspan="2" class="price-diff">$301,000</td>
                        <td class="gla">6199</td>
                        <td rowspan="2" class="gla-diff">651</td>
                        <td rowspan="2" class="price-sqft">$462.37</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">42 Mossberg Court</td>
                        <td>$6,344,000 </td>
                        <td class="gla">6,850</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 2</td>
                        <td class="align-left">5397 Morgan Valley Rd </td>
                        <td>$6,043,000</td>
                        <td rowspan="2" class="price-diff">$385,000</td>
                        <td class="gla">6,199</td>
                        <td rowspan="2" class="gla-diff">954</td>
                        <td rowspan="2" class="price-sqft">$403.56</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">25 Lone Star Court</td>
                        <td>$5,658,000</td>
                        <td class="gla">5,245</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 3</td>
                        <td class="align-left">5397 Morgan Valley Rd</td>
                        <td>$6,043,000</td>
                        <td rowspan="2" class="price-diff">$341,000</td>
                        <td class="gla">6,199</td>
                        <td rowspan="2" class="gla-diff">1,699</td>
                        <td rowspan="2" class="price-sqft">$200.71</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">148 Remington Way</td>
                        <td>$5,702,000</td>
                        <td class="gla">4,500</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 4</td>
                        <td class="align-left">25 Lone Star Court</td>
                        <td>$5,658,000</td>
                        <td rowspan="2" class="price-diff">$686,000</td>
                        <td class="gla">5,245</td>
                        <td rowspan="2" class="gla-diff">1,605</td>
                        <td rowspan="2" class="price-sqft">$427.41</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">42 Mossberg Court</td>
                        <td>$6,344,000</td>
                        <td class="gla">6,850</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 5</td>
                        <td class="align-left">148 Remington Way</td>
                        <td>$5,702,000</td>
                        <td rowspan="2" class="price-diff">$642,000</td>
                        <td class="gla">4,500</td>
                        <td rowspan="2" class="gla-diff">2,350</td>
                        <td rowspan="2" class="price-sqft">$273.19</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">42 Mossberg Court</td>
                        <td>$6,344,000</td>
                        <td class="gla">6,850</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 6</td>
                        <td class="align-left">4563 Royal Birkdale</td>
                        <td>$7,475,000</td>
                        <td rowspan="2" class="price-diff">$375,000</td>
                        <td class="gla">6,733</td>
                        <td rowspan="2" class="gla-diff">833</td>
                        <td rowspan="2" class="price-sqft">$450.18</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">2638 Swinley Forest Rd</td>
                        <td>$7,100,000</td>
                        <td class="gla">5,900</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 7</td>
                        <td class="align-left">5 Hollow Creek Lane</td>
                        <td>$5,912,000</td>
                        <td rowspan="2" class="price-diff">$131,000</td>
                        <td class="gla">5,127</td>
                        <td rowspan="2" class="gla-diff">982</td>
                        <td rowspan="2" class="price-sqft">$133.40</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">5397 Morgan Valley Rd</td>
                        <td>$6,043,000</td>
                        <td class="gla">6199</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 8</td>
                        <td class="align-left">5 Hollow Creek Lane</td>
                        <td>$5,912,000</td>
                        <td rowspan="2" class="price-diff">$210,000</td>
                        <td class="gla">5,217</td>
                        <td rowspan="2" class="gla-diff">717</td>
                        <td rowspan="2" class="price-sqft">$292.89</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">148 Remington Way</td>
                        <td>$5,702,000</td>
                        <td class="gla">4,500</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 9</td>
                        <td class="align-left">5 Hollow Creek Lane</td>
                        <td>$5,912,000</td>
                        <td rowspan="2" class="price-diff">$432,000</td>
                        <td class="gla">5,217</td>
                        <td rowspan="2" class="gla-diff">1,633</td>
                        <td rowspan="2" class="price-sqft">$264.54</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">42 Mossberg Court</td>
                        <td>$6,344,000</td>
                        <td class="gla">6,850</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 10</td>
                        <td class="align-left">5397 Morgan Valley Rd</td>
                        <td>$6,043,000</td>
                        <td rowspan="2" class="price-diff">$180,000</td>
                        <td class="gla">6199</td>
                        <td rowspan="2" class="gla-diff">301</td>
                        <td rowspan="2" class="price-sqft">$598.01</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">822 Red River Trail</td>
                        <td>$6,223,000</td>
                        <td class="gla">6,500</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 11</td>
                        <td class="align-left">25 Lone Star Court</td>
                        <td>$5,658,000</td>
                        <td rowspan="2" class="price-diff">$565,000</td>
                        <td class="gla">5,245</td>
                        <td rowspan="2" class="gla-diff">1,255</td>
                        <td rowspan="2" class="price-sqft">$450.20</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">822 Red River Trail</td>
                        <td>$6,223,000</td>
                        <td class="gla">6,500</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 12</td>
                        <td class="align-left">42 Mossberg Court</td>
                        <td>$6,344,000</td>
                        <td rowspan="2" class="price-diff">$121,000</td>
                        <td class="gla">6,850</td>
                        <td rowspan="2" class="gla-diff">350</td>
                        <td rowspan="2" class="price-sqft">$345.71</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">822 Red River Trail</td>
                        <td>$6,223,000</td>
                        <td class="gla">6,500</td>
                    </tr>

                    <tr>
                        <td class="pair">Pair 13</td>
                        <td class="align-left">5 Hollow Creek Lane</td>
                        <td>$5,912,000</td>
                        <td rowspan="2" class="price-diff">$311,000</td>
                        <td class="gla">5,217</td>
                        <td rowspan="2" class="gla-diff">1,283</td>
                        <td rowspan="2" class="price-sqft">$242.40</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-left">822 Red River Trail</td>
                        <td>$6,223,000</td>
                        <td class="gla">6,500</td>
                    </tr>

                    <tr>
                        <td colspan="4"></td>
                        <td class="median">Median</td>
                        <td class="median">$319.30</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="large-8 large-centered columns">
                <h4>Historical Match Pair</h4>
                <ul>
                    <li>If there are no recent sales with a feature for which you are attempting to develop an adjustment, historical analysis can help. To use this technique, go back three years or more to determine how the specific feature was trending. In this method, you need to extract a percentage difference rather than a dollar amount for the feature. This percentage can then be applied to present-day comps. </li>
                    <li><strong>Sample comment:</strong> “There were no current sales within the market area that shared the same panoramic bay view as the subject property. However, two sales were found on the subject’s street that sold five years ago. Match pairing these comps with similar properties that sold at the same time but that lacked the panoramic view resulted in a difference in value of 13-18%. The subject property is most similar to the sales at the upper end of the range. Therefore, a positive 18% adjustment was applied to the comps on the grid for their lack of a panoramic view. (See chart for details on the sales used for the analysis.)”</li>
                </ul>
                <h4>Grouped Data Set or Grouped Data Analysis</h4>
                <ul>
                    <li>Much like paired data analysis, grouped data analysis allows you to see what a feature is worth. In this case, though, you compare a larger data set of properties with and without the feature in question. The difference in median price for the two sets of data can be attributed to the difference in the one feature. Grouped data analysis can often be more reliable than simple paired data analysis because it limits the nuances of a single transaction and aggregates buyer behavior. However, group data analysis is more difficult to use with high-end properties because so few properties have the features that are being analyzed.</li> 
                    <li>For example, the location adjustment for 848 Red River Trail was supported using grouped data analysis. Two data sets with similar characteristics other than the location were analyzed, and the difference in median value was 18%. In this example, the subject’s development, Wooden Horse Valley, was found to sell 18% below the Cedar Creek development, even though the properties were similar in features such as GLA, lot size, and year built. If comps from Cedar Creek are selected for this assignment, then they should be adjusted downward by 18% to account for the locational difference.</li>
                    <li><strong>Sample comment:</strong> “Due to limited data of properties with similar GLA and site size in each market area, parameters were expanded to include properties 3,000 to 10,000 sq. ft. (in two market areas) to develop a reliable analysis. The resulting difference is 18%.”</li>
                </ul>
            </div>
        </div>
    
        <div class="row">
            <div class="large-12 large-centered columns">
                <h3>Side-by-Side Scenario: Location</h3>
            </div>
        </div>

        <div class="row">
            <div class="large-6 large-centered columns">    

                <table class="side-by-side">
                    <tr>
                        <th colspan="4" scope="column">Wooden Horse Valley<br />Total Sales: 19</th>
                    </tr>
                    <tr>
                        <td></td>
                        <th scope="column"><strong>Low</strong></th>
                        <th scope="column"><strong>Median</strong></th>
                        <th scope="column"><strong>High</strong></th>
                    </tr>
                    <tr>
                        <th class="align-left" scope="row"><strong>Value</strong></th> 
                        <td>$1,959,900</td>
                        <td>$3,395,000</td>
                        <td>$7,500,750</td>
                    </tr>
                    <tr>
                        <th class="align-left" scope="row"><strong>GLA</strong></th> 
                        <td>3200</td>
                        <td>4580</td>
                        <td>6850</td>
                    </tr>
                    <tr>
                        <th class="align-left" scope="row"><strong>Bedrooms</strong></th> 
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <th class="align-left" scope="row"><strong>Lot Size</strong></th> 
                        <td>41002</td>
                        <td>59241</td>
                        <td>230868</td>
                    </tr>
                    <tr>
                        <th class="align-left" scope="row"><strong>Year Built</strong></th> 
                        <td>1962</td>
                        <td>1991</td>
                        <td>2007</td>
                    </tr>
                </table>
            </div>

            <div class="large-6 large-centered columns">    
                <table class="side-by-side">
                    <tr>
                        <th colspan="4" scope="column">Cedar Creek<br />Total Sales: 16</th>  
                    </tr>
                    <tr>
                        <td></td>
                        <th scope="column"><strong>Low</strong></th>
                        <th scope="column"><strong>Median</strong></th>
                        <th scope="column"><strong>High</strong></th>
                    </tr>
                    <tr>
                        <th class="align-left" scope="row"><strong>Value</strong></th> 
                        <td>$2,825,000</td>
                        <td>$4,165,000</td>
                        <td>$10,900,000</td>
                    </tr>
                    <tr>
                        <th class="align-left" scope="row"><strong>GLA</strong></th> 
                        <td>3000</td>
                        <td>4453</td>
                        <td>10933</td>
                    </tr>
                    <tr>
                        <th class="align-left" scope="row"><strong>Bedrooms</strong></th> 
                        <td>4</td>
                        <td>5</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th class="align-left" scope="row"><strong>Lot Size</strong></th> 
                        <td>17130</td>
                        <td>37575</td>
                        <td>155833</td>
                    </tr>
                    <tr>
                        <th class="align-left" scope="row"><strong>Year Built</strong></th> 
                        <td>1960</td>
                        <td>1993</td>
                        <td>2001</td>
                    </tr>
                </table>
            </div>
        </div>
       
        <div class="row">
            <div class="large-8 large-centered columns">
                <h4>Trend Analysis</h4>
                <ul>
                    <li> Because so few high-end properties appear in most markets, appraisers often must make time adjustments for comparable properties. Your best comp may also be the oldest sale included on the grid because it shares all of the subject property’s significant features. In this case, a single adjustment for time is all that is required. To make a time adjustment properly, use trend analysis to analyze how property values have changed over months or years. Remember to use the time adjustment formula: New Price-Old Price/Old Price = % of Change. </li>
                    <li> For example, several of the best comps found for the 848 Red River Trail exercise were also dated sales. Using the benchmarking tool provided in the exercise, an analysis of sales ranging in size from 3,000 to 10,000 sq. ft. and with a minimum site size of 20,000 sq. ft. found that values have appreciated over the prior 26 months.</li>
                    <li><strong>Sample comment:</strong> “The subject’s market was analyzed over the past 26 months.  Due to limited data, the trend was not reliable. The parameters were expanded to include the Cedar Creek market (competing, however superior). This dataset did not provide enough data to develop a reliable trend. Next, the four other market areas in the subject’s neighborhood were analyzed. Although the price points, GLA, and site sizes differed, they proved to track and trend similarly overall to the subject’s market. These market areas were combined, and properties 3,000 to 10,000 sq. ft. with site size 20,000 sq. ft. and above were used for this analysis. This data is grouped into a rolling three-month analysis. The highlighted month for March 14 to May 14 represents the old median value used to support the 12% time adjustment for comps 1 and 7 (based on the May pending date for both sales), and March 15 to May 15 represents the old median value used to support the 4% time adjustment for comp 6 (based on the May pending). The periods between December 15 and March 16 appear to indicate rapid market appreciation, but this is actually due to several high-end sales that are not indicative of an increase in overall market values and are not reasonable support to conclude values are increasing so rapidly. Analysis of the current MLS listings and pendings and verification with agents in the subject’s market support this conclusion. Therefore, the period of November 15 to January 16 is used for the new median value.”</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="large-12 large-centered columns">
                <img src="{{root}}assets/img/ls/4/ls4-trend-analysis-1.png" alt="Trend Analysis 1">
                <br /><br />
                <img src="{{root}}assets/img/ls/4/ls4-trend-analysis-2.jpg" alt="Trend Analysis 2">
            </div>
        </div>

        <div class="row">
            <div class="large-8 large-centered columns">
                <h4>Regression</h4>
                <ul>
                    <li>Regression looks at multiple variables to establish trends. However, the more variables that are included in a regression analysis, the less credible it is. This fact can often make regression ineffective on high-end assignments. The biggest mistake appraisers make in using regression is allowing software to make assumptions without verifying the software’s findings and questioning if the results make sense. If you don’t know how the model works, don’t use it. You must understand the model enough to explain it thoroughly.</li>
                </ul>

                <h4>Sales History</h4>
                <ul>
                    <li>If your subject property has sold previously, you can analyze other sales from the time of your subject’s sale to determine the percent difference that your subject’s feature was worth. Then, you can use that percentage to adjust your present-day comps.</li>
                </ul>

                <h4>Dissimilar Sales</h4>
                <ul>
                    <li>If you can’t find comps that share a similar feature with your subject, then comparing dissimilar sales to isolate the percentage of the adjustment can be helpful. For example, imagine the subject is a 12,000 sq. ft. home that backs a busy street, but you only have 6,000 sq. ft. homes in the subject’s market that share that same feature. You can determine the adjustment by comparing the 6,000 sq. ft. homes that are both on and off the busy street. You would take the percentage difference attributed to the busy street and apply it to the subject property. You would provide the support in the narrative. There would be no need to place a 6,000 sq. ft. home on the grid as a comp (because it is not), and this would avoid going to a different market to find an approximately 12,000 sq. ft. home that backs a busy street. This method can also be combined with the grouped data set technique.</li>
                </ul>

                <h4>Bracketing</h4>
                <ul>
                    <li>Sometimes, high-end homes have features that simply aren’t available in other nearby properties. In this case, try finding properties with superior or inferior features, and figure out where your subject falls between them. When bracketing, be sure to use other techniques, too, and explain thoroughly.</li>
                </ul>
                <br />
                <p>No matter which technique you use, it can be challenging to apply the adjustments in a systematic manner. Arranging your chosen comps on a market data grid is a convenient way to identify possible paired data sets. Using the elements of comparison that you’ve identified as having an effect on sale prices, you can calculate adjustments. Once the adjustment for a particular feature has been determined, it is then applied to relevant comps, and the net adjusted sale price is calculated. As always, the direction of the adjustment is determined by the characteristics of the subject property. You can now proceed with the next adjustment. Net match pairing using a market grid was used in the solution for 848 Red River Trail with the location and GLA adjustments. In both cases, adjustments for other features had to be applied before the match pairing could be completed for these elements.</p>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="gloc-video-four" title="Video: Knowledge Check">
    <div class="content">
        <div class="row">
            <div class="large-10 large-centered columns">
                <div id="video-knowledge-check-four"></div>
            </div>
        </div>

        <div class="row">
            <div class="large-9 large-centered medium-11 medium-centered columns">
                <h2>Knowledge Check</h2>
                <p class="lead">Which of the following is <strong>not</strong> a recognized technique to determine and support adjustments?</p> 
                <form id="knowledge-check-four">
                    <label class="radio">
                        <input type="radio" name="check-four" value="incorrect">
                        <span class="custom"> 
                            Match pair analysis</span>
                    </label>              
                    <label class="radio">
                        <input type="radio" name="check-four" value="correct">
                        <span class="custom">
                            Sensitivity analysis</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="check-four" value="incorrect"> 
                        <span class="custom">
                            Trend analysis</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="check-four" value="incorrect"> 
                        <span class="custom">
                            Grouped data analysis</span>
                    </label>
                </form>
                <button type="submit" onclick="checkAnswer()" class="success button">Submit</button>
                <button type="button" onclick="myFunction()" class="secondary button">Retry</button>
                <div id="knowledge-check-response">
                    <div class="">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="points-to-remember-l4" title="What We Expect You to Do">
    <div class="alpha-ramp"></div>
    <div class="content">
        <div class="expanded row">
            <div class="large-12 text-center columns">
                <h2 class="text-center">What We Expect You to Do</h2> 
            </div>
        </div>

        <div class="row">
            <div class="medium-10 medium-offset-1 large-8 large-offset-2 columns">
                <div class="points-to-remember">
                    <ul>
                        <li>Remember that high-end assignments will require you to use a variety of techniques to determine and support an adjustment.</li>
                        <li>Support your significant adjustments and explain your rationale for settling on the adjustment you did.</li>
                        <li>If you must go outside the subject’s market location for a comparable with a specific feature, be aware that you will most likely need to make an adjustment for location.</li>


                        <span class="l1"></span>
                        <span class="l2"></span>
                        <span class="l3"></span>
                        <span class="l4"></span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="downloads">
            <div class="row">
                <div class="large-10 large-centered text-center columns">
                    <p class="text-left">We have created printable reference pages to help you remember the main points of each learning section. Be sure to download, save, and refer to the reference pages as you complete future appraisals.</p>
                    <small><strong>Reference Page Download</strong></small>
                    <br>
                    <a class="hollow secondary button" href="{{root}}assets/docs/handouts/ls4-handout-accessible.pdf" target="_blank"><i class="fi-download"></i> Learning Section 4 Reference Page</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="rick-video" title="Video: Connecting the Dots">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        <div id="connecting-the-dots-four"></div>
                        <!-- <video poster="{{root}}assets/img/ls/video-posters/connecting-the-dots.jpg" preload="auto" onclick="this.play();" controls>
                            <track kind="subtitles" src="{{root}}assets/captions/ls4-rick-message.vtt"></track>
                            <source src="//production.smedia.lvp.llnw.net/8fc5279f395743bdb68c29b842d3e431/0M/t6i5QfWF4tbreuEGzZeBZajZvGmaYxNZcoVLIw3K8/ls4-rick-message.mp4?x=0&h=137d9dffe1477cacdc869d1aec121782" type="video/mp4">
                        </video> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect ls-footer" id="checklist-nav-four" title="Checklist">
    <div class="gradient"></div>
    <div id="checklist">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2 class="cl-title">Checklist for a Supported Appraisal</h2>
                <!-- data for checklist in src/data/checklist.json -->
                <ul class="cl-items one two three four five">
                    {{#each checklist.items}}
                    <li class="item">
                        <div class="circle"></div>
                        <div class="cl-content">
                            <a href="{{ this.link }}">
                                {{ this.title }}
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>

