---
layout: ls
title: Learning Section Introduction
type: Learning Section
ls: true
ls-intro: true
---

<section id="why-am-i-here" class="sect learning-section" title="Why Am I Here?">
    <div class="home-button">
        <button id="goHome">
            <i class="fi-home"></i>
        </button>
    </div>

    <div class="section-nav">
        <button id="sectionNav">
            <div class="menubar nav-one"></div>
            <div class="menubar nav-two"></div>
            <div class="menubar nav-three"></div>
            <div class="menubar nav-four"></div>
        </button>
    </div>

    <div class="gradient"></div>
    <div class="ls-content">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h1>Why Am I Here?</h1>
                <div class="ls-copy">
                    <p class="lead"><strong>We get it:</strong> You're an experienced appraiser. You know what you're doing. You have methods that work for you and you stick to them. So, why are your high-end appraisals so often rejected?</p>
                    <p>The answer may be that you’re accustomed to writing an appraisal for the GSEs, like Fannie Mae, and your decisions are shaped by your views of past GSE guidelines. These views affect your comparable selection and adjustments. Add to this a client’s auto review process and a reviewers’ questions, and your process transforms into something designed to get your report accepted with minimal hassle.</p>

                    <P><strong>Unfortunately, when these same practices influence your high-end appraisals, the result is poor comparable selection and inaccurate values.</strong></p>
                </div>
            </div>
        </div>
    </div>
    <span class="scrollDown"></span>
</section>


<section id="you-find" class="sect" title="Find the Best Comps. Period.">
    <div class="content">
        <div class="row">
            <div class="large-9 large-centered medium-11 medium-centered columns">
            <h2>Find the Best Comps. Period.</h2>
                
            <p class="lead">In high-end assignments, the best comparable may be the house that sold next door two years ago with a 20% time adjustment.  Many of us have a hard time letting go of guidelines that we have used from the beginning of our careers. We are reluctant to use a two-year-old comparable in a report for fear of it being rejected. The problem is further intensified when appraisers fail to support their significant adjustments; this results in missed values and unsupported appraisals.</p>
            </div>
        </div>
    </div>
</section>




<section id="what-is-a-supported-appraisal" class="sect learning-section" title="Move Beyond the Box.">
    <div class="row">
        <div class="large-9 large-centered medium-11 medium-centered columns">
            <div class="content">
                <h2>Move Beyond the Box.</h2>

                <p>Assignments that are less complex and involve properties with an abundance of recent and relevant sales data let you complete your appraisal relatively easily so that it fits neatly into a box.</p>
            </div>
        </div>
    </div>
    <div id="box-wrapper">
        <div id="house"></div>
        <div id="box-front"></div>
        <div id="box-back"></div>
    </div>
</section>

<section id="gray-spacer">
    <div class="content">
        <div class="row">
            <div class="large-9 large-centered medium-11 medium-centered columns">
<!--                 <h3>There are no red flags, and comparables are recent, similar, and proximate.</h3> -->
            </div>
        </div>
    </div>
</section>

<section id="packing-boxes">
    <div class="content">
        <video id="conveyor" width="100%" preload="auto" loop>
            <source src="//production.smedia.lvp.llnw.net/8fc5279f395743bdb68c29b842d3e431/b9/jy6onLjysH-V07ruPg7sR4kYqyXmsEl9ATgeY2qfU/assembly-line.mp4?x=0&h=02bdc17cbd0e81e88b814f4e4c902233" type="video/mp4"></source>
        </video>
    </div>
</section>

<section id="what-happens">
    <div class="content">
        <div class="row">
            <div class="large-9 large-centered medium-11 medium-centered columns">
                <p class="lead">High-end property appraisals are often more complex because of less sales data that’s available to support your conclusions. A 15,000 sq. ft. mansion is easy to appraise if you have five recent sales of 15,000 sq. ft. comparables, right? It’s the lack of this data that makes these assignments complex! Trying to stuff these into a familiar box does not work.</p>
            </div>
        </div>
    </div>
</section>


<section id="clarify-expectations" class="sect learning-section" title="Clarify Expectations.">
    <div class="ls-content">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                
                <h2>Clarify Expectations.</h2>

                <p>You are here so we can explain to you what several of the largest lending institutions expect on high-end appraisal assignments. Clarifying expectations will help make you a more efficient appraiser and lower your rejection rates. Responding to rejections costs you time and money and delays lending decisions for the borrower. <strong>Nobody wants a 75% rejection rate.</strong></p>

                <p>We have created a checklist to help you understand what your clients expect. In simple terms, they expect you to:</p>

                <ol class="custom-bullet custom-bullet--a">
                    <li>Identify the problem you’re trying to solve.</li>
                    <li>Analyze your market.</li>
                    <li>Find the comparables needed to solve the problem.</li>
                    <li>Support adjustments for significant differences.</li>
                    <li>Verify everything.</li>
                    <li>Write a smart report.</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">

                <p>If you do these things consistently, you will become a successful high-end appraiser. Each of these expectations is described in the following learning sections.</p>

            </div>
        </div>
    </div>
</section>

<section id="ls-introduction" class="sect ls-footer" title="Checklist">
    <div class="gradient"></div>
    <div id="checklist">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2 class="cl-title">Checklist for a Supported Appraisal</h2>
                <!-- data for checklist in src/data/checklist.json -->
                <ul class="cl-items one">
                    {{#each checklist.items}}
                    <li class="item">
                        <div class="circle"></div>
                        <div class="cl-content">
                            <a href="{{ this.link }}">
                                {{ this.title }}
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>

