---
layout: ls
number: 1
title: Identify the Problem
type: Learning Section
ls: true
ls-one: true
---

<div class="home-button">
    <button id="goHome">
        <i class="fi-home"></i>
    </button>
</div>

<div class="section-nav">
    <button id="sectionNav">
        <div class="menubar nav-one"></div>
        <div class="menubar nav-two"></div>
        <div class="menubar nav-three"></div>
        <div class="menubar nav-four"></div>
    </button>
</div>

<section class="sect" id="ls1-intro" title="Identify the Problem You’re Trying to Solve.">
    <div class="content">        
        <div class="row">
            <div class="large-6 large-offset-6 large-centered medium-12 medium-centered columns">
                <div class="intro-content ">
                    <p class="learning-section-number">Learning Section 1</p>
                    <h1>Identify the Problem You’re Trying to Solve.</h1>
                    <p>In this section, we will assume you already know how to:</p>
                    <ul>
                        <li>Research a subject property using county records and MLS.</li>
                        <li>Follow the path of the appraisal or valuation process cited in appraisal literature.</li>
                    </ul>
                    <p>If you don’t feel confident in your knowledge in the above areas, we strongly recommend reading up on them before beginning this learning section.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="what-am-i-trying-to-solve" title="What Am I Trying to Solve?">
    <div class="content">

        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2 id="titleOne">What Am I Trying to Solve?</h2>
                <p>The first step is to begin to identify the subject's characteristics so that you can answer the question, "What is the appraisal problem I'm trying to solve?"</p>
                <p>For example, is the subject a new 12,000 sq. ft., excellent quality home on a 4-acre site on the bluffs overlooking the ocean? Or is it a 60–year old, 2,000 sq. ft. home on the same site? Although both scenarios involve the same property address, the way you would solve the problem is quite different.</p>
            </div>
        </div>

         <div id="video-description">
            <p>What if you were asked to appraise a 30-acre site on a highly desirable island off the east coast? If 12-acres of the 30-acre site consisted of a conservation easement that limited development and utility, the appraisal would be much different. If you failed to recognize this significant property characteristic early in your appraisal, you would head down a very wrong path.</p>
        </div>

        <div id="comparisonVideo">
            <div class="content">
                <video id="compareVideo" width="100%" poster="{{root}}assets/img/ls/1/ls1-easement.jpg" preload="auto">
                    <source src="//production.smedia.lvp.llnw.net/8fc5279f395743bdb68c29b842d3e431/7p/khCHsdEyvAdswEoQ5Of5Hx_6atREE1LEdW5C3rEho/ls1-easement.mp4?x=0&h=cf3eb7f80641cfd008bfcfc6eb33ff9c" type="video/mp4"></source>
                </video>
            </div>
        </div>
       
    </div>
</section>

<section class="sect" id="price-of-privacy" title="Video: The Price of Privacy">
    <div class="content">
        <div class="row">
            
            <div class="large-4 large-centered medium-12 medium-centered align-middle columns">
                <h2>Can You Put a <span class="yellow">Price</span> On <span class="yellow">Privacy?</span></h2>

                <p>Some things in life are priceless…or are they? Check out this real-life example of how a small locational difference can make a big impact on a high-end appraisal.</p>

                <P><a class="button video play-privacy" href="#">WATCH NOW</a></P>
            </div>

            <div class="large-8 large-centered medium-12 medium-centered align-middle columns">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        <div id="video-privacy"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="sect" id="real-life-examples" title="Real Life Examples">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/1/ls1-real-life.png" class="curve">
                    <h2>Real Life Examples</h2>
                    <p class="lead">Here are three real life examples of an appraiser failing to understand the subject’s characteristics:</p>
                    <ul>
                        <li>An appraiser adjusted seven figures for remodeling based on the owner’s statement that they had done the work since their recent purchase of the property. However, a 2 year old YouTube video of the house showed work was completed prior to the purchase. As a result, the property was significantly overvalued.</li>
                        <li>A beachfront home was appraised without proper consideration for the zoning and market trends. Similar properties were being purchased and the existing structures were being replaced with condos. The appraiser failed to recognize that buyers were paying a premium for these lots and the property was significantly undervalued.</li>
                        <li>An appraiser failed to identify the substantial seasonal rental income of the subject property and selected comparables that had no income potential. The property was significantly undervalued.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="do-more-front-end-research" title="Do More Front-End Research.">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/1/img_front_end_research.png" class="curve">
                    <h2>Do More Front-End Research.</h2>
                    <p class="lead">It's time to embrace the tools of the 21<sup>st</sup> century.</p>
                    <p>Your front-end research may be as simple as doing an internet search on the property's address. Add in an aerial search of the site and surrounding area to view topography and location, and your assignment starts to come into focus.</p>
                    <p>High-end assignments require more verification. At this stage, don’t presume all of the subject property’s details are accurate or tell the whole story. A site that appears on a plat map to be comparable to the surrounding area could turn out to have limited utility due to the terrain, easements, or deed restrictions.</p>
                    <p>In the previous examples, the reviewer found the information easily and the appraiser could have too!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="know-before-you-go" title="Know Before You Go.">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/1/know-before-you-go.png" class="curve">
                    <h2>Know Before You Go.</h2>
                    <p class="lead">In order to ask intelligent questions of the homeowner or real estate agent prior to and during the inspection, you must be prepared. If you're struggling to understand the appraisal problem, consider the prospective buyer for the property. What would appeal to them? What might be a deterrent?</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="story-video-ls1" title="Don’t Be This Appraiser!">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">

                    <div class="large-4 large-centered medium-12 medium-centered align-middle columns">
                        <h2>Don’t Be This Appraiser!</h2>

                        <p>Can you believe we receive complaints about appraisers’ professionalism? Neither can we.</p>

                        <P><a class="button video play-shirt" href="#">WATCH NOW</a></P>
                    </div>

                    <div class="large-8 large-centered medium-12 medium-centered columns">
                        <div id="dont-be-appraiser"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="dont-embarass-yourself" title="Don’t Embarrass Yourself.">
    <div class="content">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2>Don’t Embarrass Yourself.</h2>
                <p class="lead">Housing trends and materials change over time.</p>
                <p>Being aware of high-end home trends enables you to ask intelligent questions of the homeowner or agent prior to (and during) the inspection.</p>
                
                <p>Missing details about the quality of the home can also impact your credibility.</p>

                <p>Keeping up with the current trends is an ongoing process-don't wait until you receive a high-end assignment to become an expert.</p>
            </div>
        </div>
    </div>
</section>

<section id="mansion">
    <div id="map">
        <img src="{{root}}assets/img/ls/ls1-mansion-map.jpg" alt="Mansion foyer with markers explaining elements of quality that may affect the home’s value.">
        <div class="marker active" id="marker1" data-info="1"><div class="offscreen">This built-in, lighted wall-niche is the perfect place to display priceless sculptures, urns or vases.</div></div>
        <div class="marker" id="marker2" data-info="2"><div class="offscreen">This ornate ceiling features hand-carved flowers around the inner ceiling medallion. The twelve-arm chandelier illuminates the room with over 60 hand-cut lead crystal prisms.</div></div>
        <div class="marker" id="marker3" data-info="3"><div class="offscreen">Custom door and window moulding add to the quality of this elegant entrance.</div></div>
        <div class="marker" id="marker4" data-info="4"><div class="offscreen">This custom floor medallion is made from several types of granite and marble. Custom installations such as this one are a hallmark of quality in a high-end home.</div></div>
    </div>
    <div class="markerInfo">
        <p>This built-in, lighted wall-niche is the perfect place to display priceless sculptures, urns or vases.</p>
    </div>
</section>

<section class="sect" id="ways-to-keep-up" title="Ways to Keep Up with High-End Trends">
    <h2 class="text-center">Ways to Keep Up with High-End Trends</h2>
    <article id="keep-up">
        <ul>
            <li class="one"><p>Talk with high-end/luxury <br>market agents.</p></li>
            <li class="two"><p>Talk with <br>architects and builders.</p></li>
            <li class="three"><p>Visit open houses.</p></li>
            <li class="four"><p>Visit design centers.</p></li>
            <li class="five"><p class="google">Google <a href="http://www.google.com/search?q=Luxury+home+trends" target="_blank">"luxury home trends"</a> <br>or a specific design component.</p></li>
            <li class="six"><p>Watch home improvement television shows, <br>like those on <a href="http://www.hgtv.com/" target="_blank">HGTV</a>.</p></li>
            <li class="seven"><p>Visit and peruse <a href="http://www.houzz.com/" target="_blank">Houzz.com</a>.</p></li>
            <li class="eight"><p>Read magazines like <a href="https://www.luxuryhomemagazine.com/" target="_blank">Luxury Home</a>, <br><a href="http://www.architecturaldigest.com/" target="_blank">Architectural Digest</a>, <a href="http://www.builderonline.com/" target="_blank">Builder</a>, and <a href="http://www.remodeling.hw.net/" target="_blank">Remodeling</a>.</p></li>
            <li class="nine"><p>Read the <a href="http://www.wsj.com/public/page/real-estate-luxury.html" target="_blank">Wall Street Journal's <br>"Mansions" section</a>.</p></li>
            <li class="ten"><p>Subscribe to <em>Facebook</em> and <em>Twitter</em> feeds <br>featuring elegant and luxury homes.</p></li>
        </ul>
    </article>
</section>

<section class="sect" id="red-river-trail-problem" title="848 Red River Trail Simulation's Appraisal Problem">
    <div class="row">
        <div class="large-12 columns">
            <div class="content">
                <h1>848 Red River Trail <small>Simulation's Appraisal Problem</small></h1>
                <div class="appraisalProblem">
                    <p>In the Red River Trail simulation, the subject property is unmistakably beautiful. You know it's a high-end property at first glance.</p> 
                    <p>The internet search, MLS listing, and property tour tell you most of what you need to know about the property's complexity. &nbsp; </p>
                    <p>The neighborhood description and boundaries also give vital information. These descriptions should help you understand the factors that impact the entire area.</p>
                </div>
                <div class="propertyDetails">
                    <p><strong>The significant features of 848 Red River Trail include:</strong></p>
                    <ul class="propertyDetailsList">
                        <li><label>Location:</label> Wooden Horse Valley</li>
                        <li><label>GLA:</label> 6556 sq. ft.</li>
                        <li><label>Lot size:</label> 3.07 acres</li>
                        <li><label>Age:</label> 12 years</li>
                        <li><label>Quality and condition:</label> Q2/C3</li>
                        <li><label>Additional features:</label> Pool, pool house, barn</li>  
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="points-to-remember-l1" title="What We Expect You to Do">
    <div class="alpha-ramp"></div>
    <div class="content">
        <div class="expanded row">
            <div class="large-12 text-center columns">
                <h2 class="text-center">What We Expect You to Do</h2> 
            </div>
        </div>

        <div class="downloads">
            <div class="row">
                <div class="large-10 large-centered text-center columns">
                <p class="text-left">Early in this course, we told you we would give you clear explanations of our expectations regarding high-end assignments. At the end of each learning section, we will reiterate what we expect in a clear, easy-to-find list.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-10 medium-offset-1 large-8 large-offset-2 columns">
                <div class="points-to-remember">
                    <ul>
                        <li>Make sure you understand the significant features for which you’re solving.</li>
                        <li>Identify the necessary steps to solve the problem (e.g., develop a site value, interview high end agents in the area, etc.).</li>
                        <li>Use the internet and other 21st century resources to research the property before your inspection.</li>
                        <li>Keep up with the latest home design trends.</li>
                        <span class="l1"></span>
                        <span class="l2"></span>
                        <span class="l3"></span>
                        <span class="l4"></span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="downloads">
            <div class="row">
                <div class="large-10 large-centered text-center columns">
                    <p class="text-left">We have created printable reference pages to help you remember the main points of each learning section. Be sure to download, save, and refer to the reference pages as you complete future appraisals.</p>
                    <small><strong>Reference Page Download</strong></small>
                    <br>
                    <a class="hollow secondary button" href="{{root}}assets/docs/handouts/ls1-handout-accessible.pdf" target="_blank"><i class="fi-download"></i> Learning Section 1 Reference Page</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="rick-video-ls1" title="Video: Connecting the Dots">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        <div id="connecting-the-dots-one"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect ls-footer" id="checklist-nav-one" title="Checklist">
    <div class="gradient"></div>
    <div id="checklist">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2 class="cl-title">Checklist for a Supported Appraisal</h2>
                <!-- data for checklist in src/data/checklist.json -->
                <ul class="cl-items one two">
                    {{#each checklist.items}}
                    <li class="item">
                        <div class="circle"></div>
                        <div class="cl-content">
                            <a href="{{ this.link }}">
                                {{ this.title }}
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>
