---
layout: ls
number: 6
title: Write a Smart Report
type: Learning Section
ls: true
ls-six: true
---

<div class="home-button">
    <button id="goHome">
        <i class="fi-home"></i>
    </button>
</div>

<div class="section-nav">
    <button id="sectionNav">
        <div class="menubar nav-one"></div>
        <div class="menubar nav-two"></div>
        <div class="menubar nav-three"></div>
        <div class="menubar nav-four"></div>
    </button>
</div>


<section class="sect" id="ls6-intro" title="Write a Smart Report.">
    <div class="content">        
        <div class="row">
            <div class="large-6 large-offset-6 large-centered medium-12 medium-centered columns">
                <div class="intro-content ">
                    <p class="learning-section-number">Learning Section 6</p>
                    <h1>Write a Smart Report.</h1>
                    <p>It doesn’t matter how good you are at developing an accurate value if you cannot communicate your results in a way that allows the reader to both understand and believe them. Think of your data, analysis, and thorough commentary like lights on a footpath guiding the reader towards your conclusion. If your report doesn’t guide us to that same conclusion, then we’re all in trouble.</p> 
                    <p>Be sure that you tell this story using a combination of well-constructed sentences, photos, and other images.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="convice-the-reader" title="How Will You Convince the Reader?">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/6/chart.svg">
                    <h2>How Will You Convince the Reader?</h2>
                    <p>By writing your report in a well-organized and methodical manner. Be sure to write concisely, but with descriptive remarks that follow a logical path. Take a moment to plan the content. Think about where and how you will give support for significant adjustments, and consider your report’s overall organization. Don’t forget meaningful photos, charts, and graphs.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 large-centered columns">
                <div class="container">
                    <div class="father flip-card-one">
                        <div class="front">
                            <img src="{{root}}assets/img/ls/6/icn-flip.svg" class="flip">
                            <h3>Incomplete</h3>
                            <p>Due to the lack of recent sales, comparables older than 12 months had to be used.</p> 
                        </div>
                        <div class="back">
                            <img src="{{root}}assets/img/ls/6/icn-flip.svg" class="flip">
                            <h3>Complete</h3>
                            <p>A search of all county data sources produced only two recent sales in the subject’s immediate market area, but these sales were not considered comparable to the subject property. For this reason it was necessary to use comparables which sold more 12 months ago. The benchmarking data included in the report (see addendum page 3) indicates that values have been stable in the subject’s market area for 18 months, so no time adjustments were required to these older sales.</p>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="large-6 large-centered columns">    
                <div class="container">
                    <div class="father-two flip-card-two">
                        <div class="front-two">
                            <img src="{{root}}assets/img/ls/6/icn-flip-dark.svg" class="flip">
                            <h3>Incomplete</h3>
                            <p>The location adjustment for comparable 2 was derived through paired sales analysis.</p> 
                        </div>
                        <div class="back-two">
                            <img src="{{root}}assets/img/ls/6/icn-flip-dark.svg" class="flip">
                            <h3>Complete</h3>
                            <p>The location of comparable 2 is inferior to the subject property because it is located on a residential feeder street that experiences higher than normal traffic during peak hours. In addition to issues of ingress and egress, the traffic noise is a detriment. The adjustment was made at 6% and supported through match pairing comparable 1, which has a similar location to the subject property, with comparable 2. In addition, the following match paired examples from the market were found:</p>
                            <table cellspacing="2">
                                <caption>Matched Pair Examples</caption>
                                <tr>
                                    <td>Address</td>
                                    <td>Status</td>
                                    <td>Sale Price</td>
                                    <td>Description</td>
                                </tr>
                                <tr>
                                    <td>23  Sparrow Ct</td>
                                    <td>sold 7/2016</td>
                                    <td>$3,200,000</td>
                                    <td>interior street</td>
                                </tr>
                                <tr>
                                    <td>54 Golden Eagle Blvd</td>
                                    <td>sold 7/2016</td>
                                    <td>$3,020,000</td>
                                    <td>feeder street</td>
                                </tr>
                            </table>
                        </div>  
                    </div>
                </div>
            </div>      
        </div>
    </div>
</section>


<section class="sect" id="creating-convincing-report" title="Tips for Creating a Convincing Report">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/6/tips-for-creating.png">
                    <h2>Tips for Creating a Convincing Report</h2>
                    <ul>
                        <li> Start with the critical details and write clearly using plain language so the client, borrower  and appraisal reviewer can understand what you did and why.</li>
                        <li> Avoid stating the obvious and being redundant. The reader can see the dollar amount used for an adjustment just by looking at the grid.</li> 
                        <li> Emphasize how adjustments were derived and what data supports them.</li>
                        <li> Avoid commenting on items with little or no significant influence on the value, as it will only distract the reader from your message.</li>
                        <li> Ask yourself, “What will the reader want to know to be convinced, and have I explained that information clearly and logically?” Do not leave any unanswered questions.</li>
                        <li> High-end assignments rely heavily on addendums. Make sure these pages are organized and clearly labeled. Pages, sections, graphs and charts should be labeled clearly so the reader does not have to flip through several pages to find your support for a time adjustment.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="fullWidth whiteBoxAccSummary whiteBoxborderradius leftShadow rightShadow">
                    <table class="addendum-first-table">              
                        <caption>Addendum</caption>
                        <tr>
                            <td colspan="2" class="no-border-right"><span class="pointer addendum"><img src="{{root}}assets/img/ls/6/pointer.svg"></span>Borrower: John Paul & Adeline De La Rose</td>
                            <td class="no-border-right">File No.: Case Study 1_V5_final</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="no-border-right">Property Address:  848 Red River Trail</td>
                            <td class="no-border-right">Case No.:</td>
                        </tr>
                        <tr>
                            <td class="no-border-right">City: Collinswood</td>
                            <td class="no-border-right">State:</td>
                            <td class="zip no-border-right">Zip: 12345</td>
                        </tr>
                        <tr>
                            <td class="no-border-right">Lender:  Lender/Client, N.A.</td>
                            <td class="no-border-right"></td>
                            <td class="no-border-right"></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="neighborhood-description no-border-right no-border-left no-border-bottom">
                                <span class="pointer neighborhood"><img src="{{root}}assets/img/ls/6/pointer.svg"></span>
                                <p class="header">NEIGHBORHOOD DESCRIPTION</p>
                                <p>The subject property is located in an established neighborhood situated in the foothills of Collinswood. The area is primarily single family residential; however, there are several medium and high-density residential developments located along the eastern boundary near the commercial district of the city. Typical homes range in size from 1500 to 4000 square feet, although many of the newer built, high-end homes on the golf course and the rural high-end home are larger in size. The homes vary in the quality of construction, and it is common for older homes to be extensively remodeled, or razed and a new, high-end home built on the site.</p>
                                <p>The subject is located within the rural residential area known as Wooden Horse Valley that sits at the base of Mt. Columbia. There are approximately 237 rural home sites (approximately 5% are not developed) ranging in site size from 1 to 10 acres; homes vary greatly in size from 1,500 to 13,000 square feet; and year built ranges from 1950 to 2016. The amenities included in the quarterly HOA dues include a private equestrian center with 40 stalls, indoor arena, riding trails, open space areas, and a private 10-acre lake stocked for recreational fishing (no power boats). Membership to the semi-private neighboring golf course is optional.</p>
                                <p>Due to the topography of the neighborhood, many homes have beneficial mountain views. Schools, shopping, and recreation facilities are located within 1–2 miles and regional employment centers are 10–30 miles away.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">     
                <span class="pointer addendum-match">
                    <img src="{{root}}assets/img/ls/6/pointer.svg">
                    <p>Organize your addendum according to the order sections appear in the appraisal form. Do not include disclosures and template statements on the first page of the addendum; instead, place them at the end.</p>
                </span>
                <span class="pointer neighborhood-match">
                    <img src="{{root}}assets/img/ls/6/pointer.svg">
                    <p>Go beyond your standard neighborhood comments. In this example, the first paragraph describes the neighborhood and the second paragraph describes the subject property's subdivision.</p>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="large-10 large-centered columns">
                    <div class="fullWidth  whiteBoxAccSummary whiteBoxborderradius leftShadow rightShadow">
                        <table class="additional-features">
                            <tr>
                                <td>
                                    <span class="pointer additional"><img src="{{root}}assets/img/ls/6/pointer.svg"></span>
                                    <p class="header">ADDITIONAL FEATURES</p>
                                    The subject property is a high-quality home that has been maintained in good condition, thus lowering the effective age to 10 years. Some of the features include:

                                    <p class="header flooring">Flooring</p>
                                    <ul>
                                        <li>Travertine stone tile in foyer, living room, family room, kitchen, bathrooms, and hallways</li>
                                        <li>Hickory hardwood flooring on stairs and 2nd level hallways</li>
                                        <li>Wool carpeting in bedrooms</li>
                                    </ul>
                                    <p class="header">Interior finishes</p>
                                    <ul>
                                        <li>Venetian plaster walls</li>
                                        <li>Coiffured and open-beamed ceilings in kitchen, dining room, and bedrooms</li>
                                        <li>Hickory wood doors and trim</li>
                                    </ul>
                                    <p class="header">Kitchen:</p>
                                    <ul>
                                        <li>Painted wood cabinets with crown molding</li>
                                        <li>Display shelves with museum lighting</li>
                                        <li>Center island with vegetable sink</li>
                                        <li>Breakfast bar</li>
                                        <li>Granite and marble countertops</li>
                                        <li>Commercial grade, six-burner stove with hood and two ovens</li>
                                        <li>Two additional wall ovens</li>
                                        <li>Side-by-side built-in refrigerator and freezer</li>
                                        <li>Two dishwashers, built-in microwave, wine refrigerator</li>
                                    </ul>
                                    <p class="header">Bedrooms</p>
                                    <ul>
                                        <li>Five bedroom suites with walk-in closets</li>
                                        <li>Sitting area and fireplace in master bedroom</li>
                                    </ul>
                                    <p class="header">Bathrooms</p>
                                    <ul>
                                        <li>Travertine tile wainscot</li>
                                        <li>Granite countertops</li>
                                        <li>Jetted tub and separate steam shower in master bathroom</li>
                                    </ul>
                                    <p class="header">Interior features</p>
                                    <ul>
                                        <li>Dual hook-ups in laundry room</li>
                                        <li>Five-zone system with radiant heat in addition to forced air heating units and three A/C units</li>
                                        <li>Central vacuum system units</li>
                                        <li>Bright Home smart home system including security, exterior lighting controls, and interior exterior speaker system</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <span class="pointer additional-match">
                    <img src="{{root}}assets/img/ls/6/pointer.svg">
                    <p>Consider breaking down the additional features by room or area. Walk the reader through the property and so they understand all of the physical characteristics.</p>
                </span>

            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="fullWidth whiteBoxAccSummary whiteBoxborderradius leftShadow rightShadow">
                    <table class="comment-sales-comparison">
                        <tr>
                            <td>
                                <span class="pointer comments"><img src="{{root}}assets/img/ls/6/pointer.svg"></span>
                                <p class="header">COMMENTS ON SALES COMPARISON</p>
                                <p>The subject property is a very good quality custom home completed in 2002, located in the Highlands at Wooden Horse Valley planned development. It has 5 bedrooms, 6 baths, and over 6500 square feet, with a 4-car garage. The site is extensively landscaped and includes a pool/spa, pool house, flagstone patios and walkways, and a 6-stall barn. The significant (dominant) features of the subject property are: size, lot size, quality, and location. All of the comparables used are similar in quality and condition, but differences exist in lot size, size, and location, as well as date of sale. No adjustments have been made to the comparables for differences in design/style because all of the agents that the appraiser spoke to confirmed that there is similar demand for French Country, Colonial, and Craftsman style homes. This opinion was confirmed when reviewing the days on market for the comparables, which range between 25 and 45 days with no noticeable difference for building style.</p>
                                <span class="pointer comparable"><img src="{{root}}assets/img/ls/6/pointer.svg"></span>
                                <p class="header">Comparable 1</p>
                                <p>5397 Morgan Valley Road is similar to the subject in GLA (6199 square feet is within 5%) and lot size (3.45 acres vs. 3.07 acres). It was built the same year as the subject property (2002) and has similar site amenities. According to the listing agent (Sai Kata at Notheby's International), the kitchen has been updated with new appliances and the master bathroom has been remodeled. Also, the horse stable is a recent addition. Mr. Kata also stated that the buyer was looking for a larger property in both size and site, that was also close to town. This opinion was confirmed with the selling agent (Maria Gonzalez atChristine's), who also indicated that the buyers considered properties in the Cedar Creek subdivision, but felt Wooden Horse Valley was a better deal. This is a dated sale and the market data provided in the report on the Market Conditions Adjustment Support page indicates a time adjustment of 12% is warranted. Support for the GLA adjustment of $300/square feet can be found on the addendum page titled Gross Living Area Adjustment Support. Since all other significant features are similar to the subject property, this is considered the best available comparable.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <span class="pointer comments-match">
                    <img src="{{root}}assets/img/ls/6/pointer.svg">
                    <p>Start by re-introducing your property in your comments on sales comparisons. Include the significant features you are addressing with your comparable selection, as well as information that applies to all of the comparables. In this example, the appraiser explained why no adjustments are needed for the differences in building style and included the supporting data.</p>

                    <span class="pointer comparable-match">
                        <img src="{{root}}assets/img/ls/6/pointer.svg">
                        <p>Discuss the appropriateness of each comparable, adjustments and supporting data, and your verification steps (e.g., phone calls made to real estate agents). You can introduce the supporting data, or include it on a separate addendum page. If you include it somewhere else in the report, make sure to identify the location here.</p>
                    </span>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="fullWidth whiteBoxAccSummary whiteBoxborderradius leftShadow rightShadow">
                    <table class="comment-sales-comparison">
                        <tr>
                            <td>
                                <span class="pointer reconciliation"><img src="{{root}}assets/img/ls/6/pointer.svg"></span>
                                <p class="header">Reconciliation</p>
                                <p>The comparables selected provide the best support for the subject property's significant features and given the limited number of current sales in the subject property's subdivision, it was necessary to consider both dated sales and those located in a competing subdivision. Support for the significant adjustments is included in the analysis, and in most cases more than one method was used to determine the adjustment. The contract sale price of $7,200,000 could not be supported, as the only properties that sold for a similar price are superior to the subject property in location (comparables 2 and 3) or site size (comparable 6). Greatest weight is given to comparable 1, as it is located in the same subdivision and is most similar in the significant features. Secondary support is given to comparables 2 and 3 because they are the most current sales, and comparables 4 and 5 because they are located in Wooden Horse Valley.</p>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <span class="pointer reconciliation-match">
                    <img src="{{root}}assets/img/ls/6/pointer.svg">
                    <p>In reconciliation, consider the strengths and weaknesses of your comparables. This may relate to the relevance of individual characteristics to the subject property's value opinion. In this example, the appraiser also had to address the difference between the sale price and final value. Include the comparable(s) given greatest weight in the final value opinion and the reason(s) why.</p>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="fullWidth whiteBoxAccSummary whiteBoxborderradius leftShadow rightShadow">
                    <table class="market-conditions">
                        <tr>
                            <td colspan="2" class="table-header">
                                <span class="pointer market"><img src="{{root}}assets/img/ls/6/pointer.svg"></span>
                                <h5>Market Conditions (Time) Adjustment Support</h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p><span class="red">Market Trend Analysis Reconciliation:</span> The subject’s market was analyzed over the past 28 months; due to limited data the trend was not reliable. The parameters were expanded to include the Cedar Creek market (competing, however superior). This data set did not provide enough data to develop a reliable trend.</p>
                                <p>Next, the four other market areas in the subject’s neighborhood were analyzed. Although the price points, GLA, and site sizes differed, they proved to track and trend overall similar to the subject’s market. These market areas were combined, and properties 3,000 to 10,000 square feet, with site size 20,000 square feet and above were used for this analysis. This data is grouped into a rolling three-month analysis.</p>
                                <p>The highlighted month for Mar 14–May 14 represents the “old” median value used to support the (12%) time adjustment for comparables 1 & 7 (based on the May pending date for both sales), and Mar 15–May 15 represents the “old” median value used to support the (4%) time adjustment for comparable 6 (based on the May pending).</p>
                                <p>The periods between Dec 15 and Mar 16 appear to indicate rapid market appreciation; however this is actually due to several high-end sales which are not indicative of an increase in overall market values, or reasonable support to conclude values are increasing this rapidly. Analysis of the current MLS listings and pendings, and verification with agents in the subject’s market provide support for this conclusion. Therefore, the period of Nov 15–Jan 16 is used for the “new” median value.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="{{root}}assets/img/ls/6/market-conditions-time-adjustment.png" alt="Three months benchmarking data report with two periods highlighted: December 2015 through February 2016 with eight sales and a median value of $4,202,500; and January through May 2016 with 8 sales and a median value of $5,020,250.">
                            </td>
                            <td>
                                <img src="{{root}}assets/img/ls/6/market-conditions-time-adjustment-graph.png" class="graph" alt="Benchmarking graph with two months highlighted: February 2016 with a median sale price around $4,000,000 and March 2016 with a median sale price of around $4,750,000.">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <span class="pointer market-match">
                    <img src="{{root}}assets/img/ls/6/pointer.svg">
                    <p>You may include supporting data in several formats. In this example, the appraiser started by explaining the steps he took to gather and analyze the data, and then included the supporting table and graph. Including the formula for making a time adjustment means the reader can easily validate the appraiser's results—nothing is hidden from the reader of the report.</p>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="fullWidth whiteBoxAccSummary whiteBoxborderradius leftShadow rightShadow">
                    <table class="location-adjustment">
                        <tr>
                            <td class="table-header">
                                <span class="pointer location-adjustment"><img src="{{root}}assets/img/ls/6/pointer.svg"></span>
                                <h5>Location Adjustment Support</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="red">Reconciliation:</span> Two techniques were used to develop support for the 18% location adjustment. The results are below.</p>
                                <p>Most weight is placed on Grouped Data Analysis because it collectively analyzed more data. Paired Data Analysis provides additional support, however secondary because there was less data and the results relied on an adjusted sales price.</p></td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="red">Grouped Data Analysis:</span> Due to limited data of properties with similar GLA and site size in each market area, parameters were expanded to include properties 3,000 to 11,000 square feet (in the two market areas), in order to develop a reliable analysis. This grouped dataset is based on sales over the past 15 months (Jan 2015–March 2016). This result is an 18% difference.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <span class="pointer location-adjustment-match">
                    <img src="{{root}}assets/img/ls/6/pointer.svg"></span>
                <p>When you use multiple methods to derive an adjustment, reconcile the data from both methods to a final conclusion.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="fullWidth whiteBoxAccSummary whiteBoxborderradius leftShadow rightShadow">
                    <table class="site-adjustment">
                        <caption>Site Adjustment Support</caption>
                        <tr>
                            <td colspan="8" class="no-border-right">
                                <p><span class="red">Reconciliation:</span> Current and historical land sales and a verified pending improved SFR property (“scraper”) in the subject’s subdivision of Wooden Horse Valley were used to develop support for the site adjustment of $15.00 per square feet, below are the results. All sales and the verified pending sale share the same zoning and have similar lot utility and views as the subject, and bracket the subject’s site size (133,729 square feet).</p>
                                <p>Most weight is given to the verified pending sale on 45 Winchester Way due to its similar size, utility, and view, and it reflects current market activity. Secondary support is given to Lot# 76 due to its similar size, utility, and view. All sales and pending sale were used to support the opinion of site value in the Cost Approach.</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-header address" colspan="2"><span class="pointer site-adjustment"><img src="{{root}}assets/img/ls/6/pointer.svg"></span> Property Address</th>
                            <th class="table-header">Site Size square feet</th>
                            <th class="table-header">Utility</th>
                            <th class="table-header">View</th>
                            <th class="table-header">Sale Date</th>
                            <th class="table-header">Sale Price</th>
                            <th class="table-header no-border-right">$ Price per square foot</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Lot #76 / MLS #4513</td>
                            <td class="center">138,350</td>
                            <td class="center">Similar</td>
                            <td class="center">Similar</td>
                            <td class="center">1/28/2015<br />Land sale</td>
                            <td class="center">$1,900,500</td>
                            <td class="center no-border-right">13.74</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Lot #224 / MLS #4573</td>
                            <td class="center">185,600</td>
                            <td class="center">Similar</td>
                            <td class="center">Similar</td>
                            <td class="center">7/9/2015<br />Land sale</td>
                            <td class="center">$2,250,000</td>
                            <td class="center no-border-right">12.12</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Lot #125 / MLS #4611</td>
                            <td class="center">43,925</td>
                            <td class="center">Similar</td>
                            <td class="center">Similar</td>
                            <td class="center">2/29/2016<br />Land sale</td>
                            <td class="center">$795,000</td>
                            <td class="center no-border-right">18.10</td>
                        </tr>
                        <tr>
                            <td class="no-border-bottom">4.</td>
                            <td class="no-border-bottom">45 Winchester Trail / MLS #46342</td>
                            <td class="center no-border-bottom">122,460</td>
                            <td class="center no-border-bottom">Similar</td>
                            <td class="center no-border-bottom">Similar</td>
                            <td class="center no-border-bottom">Verified Pending<br />Sale 3/5/2016<br />Improved SFR “scraper”</td>
                            <td class="center no-border-bottom">$1,850,000</td>
                            <td class="center no-border-bottom no-border-right">15.11</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <span class="pointer site-adjustment-match">
                    <img src="{{root}}assets/img/ls/6/pointer.svg">
                    <p>Using a spreadsheet format allows the reader to see all of the supporting data easily.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </span>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="review-for-consistency" title="Review for Consistency.">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">    
                <div class="circle-shape">
                    <!-- <img src="{{root}}assets/img/ls/3/market-first.png"> -->
                    <img src="{{root}}assets/img/ls/6/consistency.png" class="curve" alt="A word processing software’s spell-check feature points out that the word “appraisal” is misspelled.">  
                    <h2>Review for Consistency.</h2>
                    <p class="lead">Nothing reduces the credibility of an appraisal faster than inconsistencies in the report&mdash;although typos are a close second. Think about it: Did you notice the typo in the graphic on the left?</p>
                    <p>Several areas are susceptible to inconsistencies. One example is in reporting and analyzing market data. Information found in the Market Conditions section on page 1 should align with other sections that report market information, such as the sales comparison grid and market conditions addendum (1004MC). If property values are reported as increasing, and no time adjustments are made to older comps, articulate why. Likewise, if page 1 indicates properties in the market area sell in less than three months, but all of the comps you used exceeded that timeframe for days on market, the inconsistency could indicate a marketability concern for the subject property and the comps.</p>
                    <p>The Site and Improvements sections of the report contain all the pertinent details regarding the subject property. This information should be consistent with the data found on the sales comparison grid. Make certain you have identified and accounted for the significant features.</p>
                    <p>Condition and quality ratings should be evident based on the details you provide in your description. For example, a C2 rating for condition suggests that the property is virtually new in age or that it has been remodeled or renovated recently. In this case, you should include descriptive comments and photos to validate your rating selection. Another example is when you say a property is conforming for the area, but then you go outside of the market to find a home with similar GLA, quality, etc. You should definitely explain to your readers why you made this choice to limit confusion.</p>
                    <p>Including supporting data for your adjustments can also lead to inconsistencies if you leave out the data analysis. A graph of median sales prices over time could have fluctuations you need to address. An example of this can be found in the solution for 848 Red River Trail discussed in the Learning Section 4: Support Adjustments for Significant Differences. A high-end market analysis is more challenging to complete and requires more detail in the explanation.</p>
                    <p>These are just some of the areas where inconsistencies can occur. Before submitting a report, you should ask yourself, “Are there any gaps or inconsistencies in my report that could raise questions about the validity of my conclusions?” If the answer is yes, then take a moment to clarify the point. If you don’t, the odds are we are going to come back to you and ask for clarification, and nobody wants that.</p>
                    <p>One last way to cross check your final value for consistency with the market (which typically lenders don’t request) is the cost approach. At some point during your process, you should have determined what the land or site is worth. Just do a quick check to validate your findings; it doesn’t necessarily need to be in the report. Does your estimate value of $10 million make sense if the land is worth one million dollars? We constantly see high-dollar reports where, if the appraiser had just stopped and figured out what the land was worth, they would have realized that their final estimate of value was questionable.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="points-to-remember-l6" title="What We Expect You to Do">
    <div class="alpha-ramp"></div>
    <div class="content">
        <div class="expanded row">
            <div class="large-12 text-center columns">
                <h2 class="text-center">What We Expect You to Do</h2> 
            </div>
        </div>

        <div class="row">
            <div class="medium-10 medium-offset-1 large-8 large-offset-2 columns">
                <div class="points-to-remember">
                    <ul>
                        <li>Make sure you have solved your appraisal problem.</li>
                        <li>Tell the entire story: Convince your reader through your support. Be sure to include your search parameters, time adjustment graphs, and any other supporting data.</li>
                        <li>Put your disclaimers at the end.</li>
                        <span class="l1"></span>
                        <span class="l2"></span>
                        <span class="l3"></span>
                        <span class="l4"></span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="downloads">
            <div class="row">
                <div class="large-10 large-centered text-center columns">
                    <p class="text-left">We have created printable reference pages to help you remember the main points of each learning section. Be sure to download, save, and refer to the reference pages as you complete future appraisals.</p>
                    <small><strong>Reference Page Download</strong></small>
                    <br>
                    <a class="hollow secondary button" href="{{root}}assets/docs/handouts/ls6-handout-accessible.pdf" target="_blank"><i class="fi-download"></i> Learning Section 6 Reference Page</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="rick-video-six" title="Video: Connecting the Dots">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        <div id="connecting-the-dots-six"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="go-to-final-simulation sect" id="next-step-final-simulation" title="Next Step: The Final Simulation">
    <div class="gradient"></div>
    <div class="row">
        <div class="large-12 text-center columns">
            <div class="go">
                <h2>Next Step: The Final Simulation</h2>                
                <a href="http://www.theeliteappraiser.com/course/view.php?id=2" class="large hollow secondary button">Go Back to the Homepage to Begin the Final Simulation</a>
            </div>
        </div>
    </div>
</section>

