---
layout: ls
number: 3
title: Find Comparables
type: Learning Section
ls: true
ls-three: true
---

<div class="home-button">
    <button id="goHome">
        <i class="fi-home"></i>
    </button>
</div>

<div class="section-nav">
    <button id="sectionNav">
        <div class="menubar nav-one"></div>
        <div class="menubar nav-two"></div>
        <div class="menubar nav-three"></div>
        <div class="menubar nav-four"></div>
    </button>
</div>


<section class="sect" id="ls3-intro" title="Find the Comparables Needed to Solve the Problem.">
    <div class="content">        
        <div class="row">
            <div class="large-6 large-offset-6 large-centered medium-12 medium-centered columns">
                <div class="intro-content">
                    <p class="learning-section-number">Learning Section 3</p>
                    <h1>Find the Comparables Needed to Solve the Problem.</h1>
                    <p class="lead">In this learning section, we assume you understand <strong>elements of comparison</strong>. If you do not understand this topic, please review appraisal industry resources.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="find-comps-make-adjustments" title="Your Goal is to Find Comps, Not Make Adjustments.">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/3/find-comps.png" class="curve">
                    <h2>Your Goal is to Find Comps, Not Make Adjustments.</h2>
                    <p class="lead">At this point, you have already recognized the subject’s significant features, which led you to identify the problem to be solved. These are the features that buyers value, and they are the primary reason they select properties.</p> 
                    <p>You must know the problem you are solving, as well as the market, before you can understand the mind of the buyer. You should be asking questions like:</p>
                    <ul>
                        <li>Why do buyers choose that type of property in that location? </li>
                        <li>What is their motivation? Is it the location, quality, size, view, or design of the home? </li>
                        <li>Is there something unique about the property that would appeal to a specific market segment?</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="story-video-ls3" title="Video: The Value of Sand">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                   

                   <div class="large-4 medium-12 medium-centered align-middle columns">
                        <h2>Do You Know Your Buyer?</h2>

                        <p>How does a house sitting on a glamorous beach compare to a house on the cliffs above it?</p>

                        <P><a class="button video play-buyer" href="#">WATCH NOW</a></P>
                    </div>

                    <div class="large-8 large-centered medium-12 medium-centered columns">
                        <div id="know-buyer"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="sect" id="how-find-comps" title="How Do We Find Comps?">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/3/how-do-we-find-comps.png" class="curve">
                    <h2>How Do We Find Comps?</h2>
                    <p class="lead">Finding the right comps for a high-end appraisal assignment requires two key actions from the appraiser: Using the right data sources and the right search parameters.</p> 
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="use-data-sources" title="Use All of Your Data Sources.">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/3/data-sources.png" class="curve">
                    <h2>Use All of Your Data Sources.</h2>
                    <ul>
                        <li>Most of us rely on an MLS and only use public records as a verification source. With high-end appraisal assignments, you should also use public records as a primary data source for comparables.</li>
                        <li>High-end homes are frequently sold off-market (without an MLS) or by word of mouth between agents. 
                            <li>Public records can identify property transfers that were not available in your MLS and can be researched with a simple internet search. </li>
                            <li>Details of these transactions can then be verified with a local real estate agent, and that conversation may lead to additional comps. </li>
                            <li>Agents are a valuable source for market trends and comps, including off-market pending sales. Each area has different resources. </li>
                            <li>It is up to you to figure out what works in your area. Remember, your client’s quality control group will be using every available resource to make sure you got the value right. It’s better you find that reliable comp before they do.</li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="right-search-parameters" title="Are You Using the Right Search Parameters?">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/3/search-parameters.png">
                    <h2>Are You Using the Right Search Parameters?</h2>
                    <p class="lead">To give yourself the best opportunity to find good comps when they are not readily available, you have to make sure that you are not limiting yourself or your search. One of the best ways to find comps is to go back in time one, two, or even three or more years and find a property that shares your subject’s significant features. This approach allows you to stay in your market and make only a single time (market conditions) adjustment.</p>
                    <p>Next, we recommend finding a similar property in a competitive market. Likely, you will have to make a location adjustment. By recognizing the subject’s significant features, we are selecting a comparable for which we just have to make a single adjustment. Remember, our goal is to find comps, not make adjustments. Generally speaking, banks would prefer to see one large time or location adjustment that was supported rather than a bunch of unsupported adjustments to properties that do not appeal to the same pool of buyers. In both cases, these adjustments need to be supported in the report.</p>
                    <p>We may not always include expired or withdrawn listings in our MLS search for conforming appraisal assignments. Occasionally, agents will remove a high-end listing from MLS once it has closed in order to keep the transaction details confidential. For this reason, an appraiser should always research expired, cancelled, and withdrawn listings as part of a high-end appraisal assignment.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="finding-right-comps" title="What Gets in the Way of Finding the Right Comps?">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <h2>What Gets in the Way of Finding the Right Comps?</h2>
                <p>Your route to finding the right comps may not be as clear as with other assignments. Appraisers have been conditioned to select comps for conforming assignments with guidelines they believe will ensure the report passes the auto-review process. This process becomes even more complicated when working with different clients who may have their own set of rules. High-end appraisers must learn to navigate around these rules to find the right comps.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-6 large-centered text-center">
                <video id="compsVideo" preload="auto">
                    <source poster="{{root}}assets/img/ls/3/ls3-roadtrip.png" src="//production.smedia.lvp.llnw.net/8fc5279f395743bdb68c29b842d3e431/db/EjgmsJVg3Pm0hMIPd94t_441vae2VEprOem_Ncd0w/phone-chrome.mp4?x=0&h=69c249530ca924cdd297781459f918e6"></source>
                </video>
            </div>
            <div class="large-6 large-centered">
                <p>What gets in the way: </p>
                <ul>
                    <li>Believing comps must have sold within a certain time frame (Remember, time is one of the non-emotional factors in real estate. A reliable market study will allow you to use dated sales and stay in the subject’s market area to solve the appraisal problem.) </li>
                    <li> Leaving the market area to chase significant features without recognizing and addressing locational differences (Appropriately dealing with differences in location is one of the top problems in high-end appraisal assignments.) </li>
                    <li> Perceived requirements for bracketing room count, GLA, age, etc., that can lead to including sales that are not truly comparable</li> 
                    <li> Shying away from comps that require a single large adjustment because the appraiser believes the client will think it is excessive (Such as excessive adjustments for time or location)</li>
                    <li> Altering the appraisal process to meet auto-review rules or guidelines to avoid QC questions</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="one-more-thing" title="One More Thing">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/3/one-more-thing.png">
                    <h2>One More Thing</h2>
                    <p class="lead">Evaluate the listing and sale histories for the subject property and its comps. You should look for irregularities such as:</p>
                    <ul>
                        <li>distressed sales</li>
                        <li>non-arm’s length transactions</li>
                        <li>unusual sale conditions</li>
                    </ul>
                    <p>In addition, you should look for patterns and trends that would support your comparable selection, adjustments, and final value (sale/resale, land sales, historical analysis for significant adjustments). Do not let this be a gap in your process, as you could waste valuable time on unsuitable sales that could lead to inaccurate results.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="right-comps" title="What Were the Right Comps for 848 Red River Trail?">
    <div class="content">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2>What Were the Right Comps for 848 Red River Trail?</h2>
            </div>
        </div>
        <div class="expanded row">
            <div class="large-12 columns">
                <div id="ways">
                    <div class="way">
                        <div class="large-12 text-center columns">
                            <div class="screenshot">
                                <img class="mls" src="{{root}}assets/img/ls/3/ls3-mls-screen1.jpg"> 
                            </div>
                        </div>
                        <div class="large-8 large-centered medium-10 medium-centered columns">
                            <div class="content">
                                <p>The first choice <span class="yellow">(1)</span> is a current sale with similar features, located in the same market area.</p> 
                                <ul>
                                    <li>There are five sales similar to the subject’s GLA located in the Wooden Horse Valley subdivision, but only three of these sales have lot sizes of two acres or more.</li>
                                    <li>A review of the sales data shows that the value increases with lot sizes of two acres or more, so this is considered a significant feature.</li>
                                    <li><strong>25 Lone Star Court <span class="yellow">(1)</span></strong> best meets this criteria because it sold in February 2016 and is 5245 square feet, with a lot size of 90,169 square feet. Because it is both smaller in GLA and lot size, it represents the low end of the value range for the subject property.</li>
                                    <li>A reasonable GLA range was used to begin narrowing down the data (e.g., 20% is only a starting point, not a guideline). It would be possible to consider smaller or larger homes if they shared other significant features, such as location, lot size, and amenities, or if the appraiser wanted to include another recent sale from the same subdivision. <strong>148 Remington Way</strong> was included as a possible comparable for this reason.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="expanded row">
                            <div class="large-12 text-center columns">
                                <div class="screenshot">
                                    <img class="mls" src="{{root}}assets/img/ls/3/ls3-mls-screen1.jpg"> 
                                </div>
                            </div>
                            <div class="large-8 large-centered medium-10 medium-centered columns">
                                <div class="content">
                                    <p>The second choice <span class="yellow">(2)</span> is a dated sale with similar features, located in the same market area.</p>
                                    <ul>
                                        <li><strong>5397 Morgan Valley Road (2)</strong> is most similar to the subject property in GLA (6199 square feet is within 5%) and lot size (3.45 acres vs. 3.07 acres). It was also built the same year (2002) and has similar site amenities. However, this is a dated sale (sale date May 2014). The market data analyzed in the prior step supports a time adjustment for this sale. Because all other significant features are similar to the subject property, the only adjustment needed is for time and GLA. For this reason, this is one of the best available comps.</li>
                                        <li><strong>42 Mossberg Court (2)</strong> is also similar to the subject in GLA, but larger in site size. Although it sold more recently than 5397 Morgan Valley Road, the benchmarking data shows that a time adjustment is also warranted.</li>
                                    </ul>
                                    <p>Both of these sales are excellent selections as they bracket the significant features of the subject property and are located in the same market area.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="way">
                        <div class="expanded row">
                            <div class="large-12 text-center columns">
                                <div class="screenshot">
                                    <img class="mls" src="{{root}}assets/img/ls/3/ls3-mls-screen2.jpg">    
                                </div>
                            </div>
                            <div class="large-8 large-centered medium-10 medium-centered columns">
                                <div class="content">
                                    <p>The third choice <span class="yellow">(3)</span>  is a current sale with similar features, located in a competitive market area.</p>
                                    <ul>
                                        <li><strong>4563 Royal Birkdale Drive</strong> and <strong>2638 Swinley Forest Road</strong> are current sales that are similar in site size, bracket the subject property’s GLA, and have similar site amenities.</li>
                                        <li>Both are located in a different subdivision known as Cedar Creek. On the surface, these sales appear to support the sale price of the subject property, but the appraiser must consider the differences in market area.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="way">
                        <div class="expanded row">
                            <div class="large-12 text-center columns">
                                <div class="screenshot">
                                    <img class="mls" src="{{root}}assets/img/ls/3/ls3-mls-screen3.jpg">    
                                </div>
                            </div>
                            <div class="large-8 large-centered medium-10 medium-centered columns">
                                <div class="content">
                                    <p>The fourth choice <span class="yellow">(4)</span> is a dated sale with dissimilar features, located in the same market area.</p>
                                    <ul>
                                        <li>The final option would be <strong>5 Hollow Creek Lane</strong>. This is a  smaller home on 1.53 acres (half the size of the subject’s site).
                                            <li>This is a dated sale, but could be used if the participant chooses to use sales only from the subject’s subdivision.</li>
                                        </li>
                                    </ul>
                                    <p>Wild card: In the “call the agent” section, you learned of an off-market sale located on the same street as the subject property. <strong>822 Red River Trail</strong> is almost identical to the subject and only requires a time adjustment.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="way">
                        <div class="expanded row">
                            <div class="large-12 text-center columns">
                                <div class="screenshot">
                                    <img class="mls" src="{{root}}assets/img/ls/3/ls3-mls-screen4.jpg">     
                                </div>
                            </div>
                            <div class="large-8 large-centered medium-10 medium-centered columns">
                                <div class="content">
                                    <p>Active listings/pending sales: You should have considered including active listings or pending sales in the exercise.</p>
                                    <ul>
                                        <li> It is common for there to be few options for listings/pending sales in the high-end market.</li>

                                        <li> Of the two pending sales, one is the subject property and the other is located on a significantly smaller site (16,250 sq. ft.). Neither of these should be considered in the analysis.</li>

                                        <li> Of the four active listings, two are located in Wooden Horse Valley, one is located in Cedar Creek, and the fourth is located in Redwood Hills.

                                            <ul>
                                                <li> The Cedar Creek property has a significantly smaller site size of 14,700 sq. ft. and should not be considered.</li>

                                                <li> The Redwood Hills home was built in 1960 and would not be comparable to a 12-year-old home.</li>

                                                <li> The best selections would be the two listings in Wooden Horse Valley: <strong>51 Rocky Place</strong> and <strong>2143 Crazy Horse Canyon</strong>.</li>
                                            </ul>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="gloc-video-three" title="Video: Knowledge Check">
    <div class="content">
        <div class="row">
            <div class="large-10 large-centered columns">
                <div id="video-knowledge-check-three"></div>
            </div>
        </div>
        <div class="row">
            <div class="large-9 large-centered medium-11 medium-centered columns">
                <h2>Knowledge Check</h2>
                <p class="lead">To give yourself the best opportunity to find good comparables, you should do all of the following <strong>except:</strong></p> 

                <form id="knowledge-check-three">
                    <label class="radio">
                        <input type="radio" name="check-three" value="incorrect">
                        <span class="custom">
                        Contact agents that specialize in high-end markets to inquire about off-market sales.</span>
                    </label>
                    
                    <label class="radio">
                        <input type="radio" name="check-three" value="incorrect">
                        <span class="custom">
                        Search MLS and public records for expired listings that may have sold.
                        </span>
                    </label>

                    <label id="correct" class="radio">
                        <input type="radio" name="check-three" value="correct">
                        <span class="custom">
                        Narrow your results by using physical characteristics and price range.
                        </span>
                    </label>
                     
                    <label class="radio">
                        <input type="radio" name="check-three" value="incorrect">
                        <span class="custom">
                        Search the internet for additional sales and listings.
                        </span>
                    </label>
                </form>

                <button type="submit" onclick="checkAnswer()" class="success button">Submit</button>
                <button type="button" onclick="myFunction()" class="secondary button">Retry</button>

                <div id="knowledge-check-response">
                    <div class="">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="points-to-remember-l3" title="What We Expect You to Do">
    <div class="alpha-ramp"></div>
    <div class="content">
        <div class="expanded row">
            <div class="large-12 text-center columns">
                <h2 class="text-center">What We Expect You to Do</h2> 
            </div>
        </div>

        <div class="row">
            <div class="medium-10 medium-offset-1 large-8 large-offset-2 columns">
                <div class="points-to-remember">
                    <ul>
                        <li>Remember that your goal is to find comps, not make adjustments.</li>
                        <li>Search public records for sales not found in an MLS.</li>
                        <li>Don’t be afraid to look further back in time (e.g., two years or more).</li>
                        <li>Don’t let perceived conventional “rules” affect your comparable selection process.</li>

                        <span class="l1"></span>
                        <span class="l2"></span>
                        <span class="l3"></span>
                        <span class="l4"></span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="downloads">
            <div class="row">
                <div class="large-10 large-centered text-center columns">
                    <p class="text-left">We have created printable reference pages to help you remember the main points of each learning section. Be sure to download, save, and refer to the reference pages as you complete future appraisals.</p>
                    <small><strong>Reference Page Download</strong></small>
                    <br>
                    <a class="hollow secondary button" href="{{root}}assets/docs/handouts/ls3-handout-accessible.pdf" target="_blank"><i class="fi-download"></i> Learning Section 3 Reference Page</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="rick-video-ls3" title="Video: Connecting the Dots">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        <div id="connecting-the-dots-three"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect ls-footer" id="checklist-nav-three" title="Checklist">
    <div class="gradient"></div>
    <div id="checklist">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2 class="cl-title">Checklist for a Supported Appraisal</h2>
                <!-- data for checklist in src/data/checklist.json -->
                <ul class="cl-items one two three four">
                    {{#each checklist.items}}
                    <li class="item">
                        <div class="circle"></div>
                        <div class="cl-content">
                            <a href="{{ this.link }}">
                                {{ this.title }}
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>

