---
layout: ls
number: 2
title: Analyze your Market
type: Learning Section
ls: true
ls-two: true
---


<div class="home-button">
    <button id="goHome">
        <i class="fi-home"></i>
    </button>
</div>

<div class="section-nav">
    <button id="sectionNav">
        <div class="menubar nav-one"></div>
        <div class="menubar nav-two"></div>
        <div class="menubar nav-three"></div>
        <div class="menubar nav-four"></div>
    </button>
</div>

<section class="sect" id="ls2-intro" title="Analyze Your Market.">
    <div class="content">        
        <div class="row">
            <div class="large-12 medium-12 medium-centered columns">
                <div class="intro-content ">
                    <p class="learning-section-number">Learning Section 2</p>
                    <h1>Analyze Your Market.</h1>
                    <p>In this section, we assume you already know how to:</p>
                    <ul>
                        <li>Distinguish between a neighborhood and a market area</li>
                        <li>Complete the 1004MC form properly</li>
                    </ul>
                    <p>If you do not know how to do these things, please review them before beginning this learning section.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="market-first-comps-second" title="Market First, Comps Second">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/2/market-first.png">
                    <h2>Market First, Comps Second</h2>
                    <p class="lead">Appraisers often neglect the "analyzing the market" step as they jump from researching the property to selecting comparables. If you skip this step, you will miss critical information necessary to solve high-end appraisal assignments.</p> 
                    <p>Once you have identified your property characteristics and your appraisal problem, turn your focus to the market data. Your main question should be, "Do I have the data required to solve the appraisal problem?"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="why-market-first" title="Why Analyze the Market First?">
    <div class="content">        
        <div class="row">
            <div class="large-12 large-centered columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/2/analyze-first.png">
                    <h2>Why Analyze the Market First?</h2>
                    <p class="lead">We all know buyers make emotion-based decisions when buying residential properties. They fall in love with a particular feature, and it can be difficult to determine the contributory value for that feature in the market.</p> 
                    <p>Time is a non-emotional factor in residential real estate. For this reason, analyzing your market first will make selecting comparables simpler. It will free you to consider comparables you might have otherwise overlooked. For example, you may find that your best comp sold 18 months ago and that now you need to make a simple time adjustment.</p> 
                    <p>Our expectations are that you examine a market trend that spans two years or more. Remember, at this point, you aren't looking for comparables. Rather, you're only trying to establish the market trend. This step is important for high-end assignments because the number of truly comparable sales is limited. Expanding your data set to consider less-similar properties that follow a similar trend will provide meaningful results you can use.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="where-the-data" title="Where Do I Find the Data?">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/2/ls2-find-the-data.png"> 
                    <h2>Where Do I Find the Data?</h2>
                    <p class="lead">MLS technologies have significantly increased their analytical capability. Ask yourself, "Do I know every analytical tool that my MLS provides?" If your MLS doesn't have the tools to analyze the market properly, create or buy your own.</p> 
                    <p>Use caution when considering third party data sources such as Zillow, Trulia, and the Case-Shiller index. Their results are often too broad to be meaningful for a specific market area. In addition, you can't control the parameters and you don’t know how they make their calculations.</p>
                    <p><strong>Now is the time to become an expert.</strong> Take a class, complete an online tutorial, or practice with past assignments&#8212;any or all of these steps will make you better at market analysis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="search-by-features" title="Search by Features, Not by Price.">
    <div class="content">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2>Search by Features, Not by Price.</h2>
                <p class="lead">If you search by price only, the outcome will typically indicate a flat market. This is because in a changing market, similar properties will be eliminated from the lower and upper end of the range, creating an unreliable trend.</p> 
                <p>For example, in an appreciating market, some properties will move outside of the upper end of the range and other properties will move above the lower end of the price range, unintentionally flattening the market trend line.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-12 large-centered columns">
                <div id="features-not-price">
                    <img src="{{root}}assets/img/ls/2/features-not-price-graph.svg" alt="Graph showing a search by features that reaches $750,000 at three months, $1.5 million at 15 months, and $1 million at 27 months, versus a search by price that shows a flat market where properties stay near $500,000 over 24 months."> 
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="show-your-visuals" title="Show your Charts, Graphs, and Other Visuals, and Explain your Work.">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="circle-shape">
                    <img src="{{root}}assets/img/ls/2/show-your-work.png"> 
                    <h2>Show your Charts, Graphs, and Other Visuals, and Explain your Work.</h2>
                    <p class="lead">Include the search parameters you used in your analysis. Explain how you gathered the data and include relevant graphs and charts to illustrate your findings.</p> 
                    <p>Some assignments will require multiple analyses. Make certain you are clear when describing what each data set represents so that the results and the way you use the data are not misleading.</p> 
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="analyze-the-market" title="How Do You Analyze the Market for 848 Red River Trail?">
    <div class="content">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2>How Do You Analyze the Market for 848 Red River Trail?</h2>
                <p class="lead">The first simulation’s MLS tool has all of the features necessary to analyze the market for 848 Red River Trail.</p> 
            </div>
        </div>
        <div class="row">
            <div class="large-12 text-center columns">
                <div id="ways">
                    <div class="way">
                        <div class="screenshot">
                            <img src="{{root}}assets/img/ls/2/mls-walkthrough/ls2-mls-main.jpg"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <div class="content">
                    <p>One of the initial steps in the process is to identify the neighborhood boundaries. This step has already been done and the data in the tool includes all sales within the neighborhood boundaries.</p>
                </div>
            </div>
        </div>
        <div class="expanded row">
            <div class="large-12 columns">
                <div id="ways">
                    <div class="way">
                        <div class="expanded row">
                            <div class="large-12 text-center columns">
                                <div class="screenshot">
                                    <img src="{{root}}assets/img/ls/2/mls-walkthrough/LS2-screen2.jpg">    
                                </div>
                            </div>
                            <div class="large-8 large-centered medium-10 medium-centered columns">
                                <div class="content">
                                    <p><span class="yellow">(1)</span> Once all the data is loaded, the high, low, and predominant values can be seen on the Property Characteristics table. <span class="yellow">(2)</span> Next, isolate the data by subdivision using the Market Area field to understand what is typical for each area and how the subject property fits in to the neighborhood.</p> 
                                    
                                    <ul>
                                        <li>The subject property is in the upper end of the range for GLA and site size. In addition to the subject’s subdivision (Wooden Horse Valley), similar homes can be found in a nearby subdivision (Cedar Creek). Both Wooden Horse Valley and Cedar Creek have a wide variety of properties in terms of age, GLA, and site size.</li>

                                        <li>The remaining four subdivisions that make up the neighborhood are conforming, with smaller homes built over a shorter period of time.</li>
                    
                                        <li><span class="yellow">(3)</span> To analyze the median sale price trend for each subdivision, select the subdivision name from the <strong>Market Area</strong> field and then <span class="yellow">(4)</span> check the box for <strong>Select All Properties</strong>. <span class="yellow">(5)</span> Next, select the <strong>Display Comparison Data</strong> button.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="way">
                        <div class="expanded row">
                            <div class="large-12 text-center columns">
                                <div class="screenshot">
                                    <img src="{{root}}assets/img/ls/2/mls-walkthrough/LS2-screen3.jpg">    
                                </div>
                            </div>
                            <div class="large-8 large-centered medium-10 medium-centered columns">
                                <div class="content">
                                    <p><span class="yellow">(6)</span> There must be enough data to establish a credible trend. Limiting the data to only the subject’s subdivision (Wooden Horse Valley) would generate unreliable results due to the wide variety of properties and limited number of sales over the past two years.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="way">
                        <div class="expanded row">
                            <div class="large-12 text-center columns">
                                <div class="screenshot">
                                    <img src="{{root}}assets/img/ls/2/mls-walkthrough/LS2-screen4.jpg">    
                                </div>
                            </div>
                            <div class="large-8 large-centered medium-10 medium-centered columns">
                                <div class="content">
                                    <p><span class="yellow">(7)</span> The next step is to include sales from the Cedar Creek subdivision in the analysis, due to the similarity in properties. However, this did not add enough additional sales to develop a reliable trend.</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="way">
                        <div class="expanded row">
                            <div class="large-12 text-center columns">
                                <div class="screenshot">
                                    <img src="{{root}}assets/img/ls/2/mls-walkthrough/LS2-screen5.jpg">    
                                </div>
                            </div>
                            <div class="large-8 large-centered medium-10 medium-centered columns">
                                <div class="content">
                                    <p><span class="yellow">(8)</span> The final step is to review sales in all subdivisions to determine if there are properties that track and trend similarly. Remember, we are not looking for comparables at this point, we are trying to develop a reliable market trend and the data set may include properties that are not necessarily comparable to the subject property.</p>

                                    <p>To start, we broke the data down in segments by physical characteristics and found that all subdivisions included homes with at least 3,000 square feet in GLA and lot sizes of at least 20,000 square feet. In each subdivision, the data includes properties that track and trend similarly. For this reason, the parameters used for the market analysis included homes in all subdivisions between 3,000 and 10,000 square feet with a lot size of 20,000 square feet and greater.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="way">
                        <div class="expanded row">
                            <div class="large-12 text-center columns">
                                <div class="screenshot">
                                    <img src="{{root}}assets/img/ls/2/mls-walkthrough/LS2-screen6.jpg">    
                                </div>
                            </div>
                            <div class="large-8 large-centered medium-10 medium-centered columns">
                                <div class="content">
                                    <p><span class="yellow">(9)</span> There are several periods where the median values fluctuate. These must be examined closely before moving on. During non-peak periods (November to January), the median value is lower but begins to appreciate towards the end of the 1st quarter. This is a seasonal trend and not usually an indication of a declining market.</p> 
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="way">
                        <div class="expanded row">
                            <div class="large-12 text-center columns">
                                <div class="screenshot">
                                    <img src="{{root}}assets/img/ls/2/mls-walkthrough/LS2-screen6b.jpg">    
                                </div>
                            </div>
                            <div class="large-8 large-centered medium-10 medium-centered columns">
                                <div class="content">
                                    <p><span class="yellow">(10)</span> At first glance, the periods between December 2015 and March 2016 appear to indicate rapid market appreciation. This is due to several high-end sales that are not indicative of an increase in overall market value and they do not provide credible support that values are increasing substantially.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="way">
                        <div class="expanded row">
                            <div class="large-12 text-center columns">
                                <div class="screenshot">
                                    <img src="{{root}}assets/img/ls/2/mls-walkthrough/LS2-screen7.jpg">    
                                </div>
                            </div>
                            <div class="large-8 large-centered medium-10 medium-center columns">
                                <div class="content">
                                    <p><span class="yellow">(11)</span> The data can also be analyzed using a GLA range of 3,500-10,000 square feet and the results are similar.</p> 
                                    <p>In either case, the data can now be used to support a credible time adjustment when using older comparable sales.</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="gloc-video-two" title="Video: Knowledge Check">
    <div class="content">
        <div class="row">
            <div class="large-10 large-centered columns">
                <div id="video-knowledge-check-two"></div>
            </div>
        </div>
        <div class="row">
            <div class="large-9 large-centered medium-11 medium-centered columns">
                <h2>Knowledge Check</h2>
                <p class="lead">Once you have identified the appraisal problem and the property characteristics, what should be your next step?</p> 
                <form id="knowledge-check-two">
                    <label class="radio">
                        <input type="radio" name="check-two" value="incorrect">
                        <span class="custom"> 
                            Select comparables based on the property’s physical characteristics.</span>
                    </label>              
                    <label class="radio">
                        <input type="radio" name="check-two" value="correct">
                        <span class="custom">
                            Examine market data that spans at least two years.</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="check-two" value="incorrect"> 
                        <span class="custom">
                            Search for comparables based on the sale price of the home.</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="check-two" value="incorrect"> 
                        <span class="custom">
                            Call the homeowner to schedule the appointment.</span>
                    </label>
                </form>
                <button type="submit" onclick="checkAnswer()" class="success button">Submit</button>
                <button type="button" onclick="myFunction()" class="secondary button">Retry</button>
                <div id="knowledge-check-response">
                    <div class="">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="points-to-remember-l2" title="What We Expect You to Do">
    <div class="alpha-ramp"></div>
    <div class="content">
        <div class="expanded row">
            <div class="large-12 text-center columns">
                <h2 class="text-center">What We Expect You to Do</h2> 
            </div>
        </div>

        <div class="row">
            <div class="medium-10 medium-offset-1 large-8 large-offset-2 columns">
                <div class="points-to-remember">
                    <ul>
                        <li>Analyze market trends over the last two years (or longer if necessary).</li>
                        <li>Use every available tool to analyze the market. Start with understanding the full capabilities of your MLS. You may need to learn Excel, enhance your Excel skills, or purchase an appraisal analytical tool available on the market.</li>
                        <span class="l1"></span>
                        <span class="l2"></span>
                        <span class="l3"></span>
                        <span class="l4"></span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="downloads">
            <div class="row">
                <div class="large-10 large-centered text-center columns">
                    <p class="text-left">We have created printable reference pages to help you remember the main points of each learning section. Be sure to download, save, and refer to the reference pages as you complete future appraisals.</p>
                    <small><strong>Reference Page Download</strong></small>
                    <br>
                    <a class="hollow secondary button" href="{{root}}assets/docs/handouts/ls2-handout-accessible.pdf" target="_blank"><i class="fi-download"></i> Learning Section 2 Reference Page</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sect" id="rick-video-ls2" title="Video: Connecting the Dots">
    <div class="content">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        <div id="connecting-the-dots-two"></div>
                        <!-- <video poster="{{root}}../assets/img/ls/video-posters/connecting-the-dots.jpg" preload="auto" onclick="this.play();" controls>
                            <track kind="subtitles" src="{{root}}assets/captions/ls2-rick-message.vtt"></track>
                            <source src="//production.smedia.lvp.llnw.net/8fc5279f395743bdb68c29b842d3e431/FS/RzF1JXpT5N9sQXnI_1rkcirmVexPS62q4JLCCUZtw/ls2-rick-message.mp4?x=0&h=73e4a81948dc79db1ae3d012d801be0e" type="video/mp4">
                        </video> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="sect ls-footer" id="ls-introduction" title="Checklist">
    <div class="gradient"></div>
        <div id="checklist">
            <div class="row">
                <div class="large-8 large-centered medium-10 medium-centered columns">
                    <h2 class="cl-title">Checklist for a Supported Appraisal</h2>
 -->                    <!-- data for checklist in src/data/checklist.json -->
<!--                     <ul class="cl-items one two three">
                        {{#each checklist.items}}
                        <li class="item">
                            <div class="circle"></div>
                            <div class="cl-content">
                                <a href="{{ this.link }}">
                                    {{ this.title }}
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
 -->

 <section class="sect ls-footer" id="checklist-nav-two" title="Checklist">
    <div class="gradient"></div>
    <div id="checklist">
        <div class="row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <h2 class="cl-title">Checklist for a Supported Appraisal</h2>
                <!-- data for checklist in src/data/checklist.json -->
                <ul class="cl-items one two three">
                    {{#each checklist.items}}
                    <li class="item">
                        <div class="circle"></div>
                        <div class="cl-content">
                            <a href="{{ this.link }}">
                                {{ this.title }}
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>
